<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="dumpFolder" value="c:/temp"/>
    <add key="ravenInstanceUrl" value="http://localhost:8080/"/>
    <add key="databaseName" value="bowerbird"/>
  </appSettings>
  <nlog>
    <targets>
      <target name="logfile" type="File" fileName="c:\temp\log.txt" layout="${longdate} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>