[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
*.docstates
*.orig
*.ncrunch
_ReSharper.*
*.ReSharper
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/
msbuild.log
PublishProfiles/
[Ll]ogs/
*.Publish.xml
TestResult.xml
*.VisualState.xml
media/
Release/
*.chm
deploy.bat
GoogleAPIKey/
Src/Bowerbird.Website/js/main-combined.js
Src/Bowerbird.Website/js/main-min.js
Src/Bowerbird.Website/js/bowerbird/hubs.js