<div class="species-list">
    <br />
    <br />
    <h2>Species in Bowerbird</h2>
	{{#Species}}
        {{>SpeciesItem}}
	{{/Species}}
	{{^Species}}
        No Species in Bowerbird
	{{#Species}}
</div>