<div class="explore-list">
    <h2>Projects in Bowerbird</h2>
	{{#ProjectList.Projects}}
        {{>ProjectList}}
	{{/ProjectList.Projects}}
	{{^ProjectList.Projects}}
        No Projects in Bowerbird
	{{/ProjectList.Projects}}
</div>