{{<Title}}Explore Projects - {{/Title}}
<section id="content" class="triple-2">
<ul class="explore-groups">
	{{#Model.Projects}}
      <li class="explore-project-item">{{>ProjectItem}}</li>
	{{/Model.Projects}}
</ul>
{{^Model.Projects}}
    No Projects in Bowerbird
{{/Model.Projects}}
</section>