@model CommentCreateViewModel

@using (Html.BeginForm("Create", "Comment", FormMethod.Post))
{
    <div>
        Make a Comment
    </div>
    <div>
        <div id="validation-result"></div>
        @Html.HiddenFor(x => x.ObservationKey)
        <div>
            @Html.LabelFor(x => x.Message)
            <br />
            @Html.TextBoxFor(x => x.Message)
            <br />
            @Html.ValidationMessageFor(x => x.Message)
        </div>
    </div>
}