@model ImageMediaResourceCreateViewModel

@using (Html.BeginForm("Create", "OtherMediaResource", FormMethod.Post))
{
    <div>
        Upload a media file
    </div>
    <div>
        <div id="validation-result"></div>
        <div>
            @Html.LabelFor(x => x.Description)
            <br />
            @Html.TextBoxFor(x => x.Description)
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>
}