<div class="reference-species-list">
    <br />
    <br />
    <h2>Reference Species in Bowerbird</h2>
	{{#ReferenceSpecies}}
        {{>ReferenceSpeciesItem}}
	{{/ReferenceSpecies}}
	{{^ReferenceSpecies}}
        No Reference Species in Bowerbird
	{{#ReferenceSpecies}}
</div>