{{<Title}}{{/Title}}
{{<Script}}

<script type="text/javascript" src="/template?ids=sidebar,sidebarItem,streamList,streamListLoading,streamLoadMore,notifications,notificationsItem,observationStreamListItem,observationcreate,observationmediaresourceuploaded,projectcreate,organisationcreate,teamcreate,avataruploader,avatarchoosefile,avataruploaded,user,chatusers,chatmessage,usersonline,chatwindow"></script>
<script type="text/javascript" src="/js/libs/jquery.signalR.js"></script>
<script type="text/javascript" src="/js/libs/jquery.fileupload.js"></script>
<script type="text/javascript" src="/js/libs/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/js/libs/load-image.js"></script>
<script type="text/javascript" src="/js/libs/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/libs/jquery.multiSelect.js"></script>
<script type="text/javascript" src="/js/libs/iscroll.js"></script>
<script type="text/javascript" src="/js/libs/date-min.js"></script>
<script type="text/javascript" src="/signalr/hubs"></script>
<script type="text/javascript" src="/js/bowerbird/models/chat.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/groupChat.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/userChat.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/chatMessage.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/chatUser.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/group.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/observation.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/project.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/stream.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/streamItem.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/team.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/organisation.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/user.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/mediaResource.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/notification.js"></script>
<script type="text/javascript" src="/js/bowerbird/models/explore.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/chatMessages.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/chatUsers.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/users.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/chats.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/paginatedCollection.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/groups.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/projects.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/streamItems.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/teams.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/organisations.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/mediaResources.js"></script>
<script type="text/javascript" src="/js/bowerbird/collections/notifications.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/appView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/chatView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/sidebarView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/sidebarItemView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/exploreItemView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/exploreView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/streamListItemView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/streamListView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/streamView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/mediaResourceItemView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/avatarItemView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/editMapView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/editMediaView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/editAvatarView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/userOnlineView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/userView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/observationCreateFormView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/projectCreateFormView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/organisationCreateFormView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/teamCreateFormView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/notificationsView.js"></script>
<script type="text/javascript" src="/js/bowerbird/views/notificationItemView.js"></script>
<script type="text/javascript" src="/js/bowerbird/chatRouter.js"></script>
<script type="text/javascript" src="/js/bowerbird/notificationRouter.js"></script>
<script type="text/javascript" src="/js/bowerbird/appRouter.js"></script>
<script type="text/javascript" src="/js/bowerbird/app.js"></script>
<script type="text/javascript">
    $(function () {
        new Bowerbird.App().start({{#UserContext}}{{{HomeIndex.UserProfileJson}}}{{/UserContext}}{{^UserContext}}null{{/UserContext}}, {{HomeIndex.TeamsJson}}, {{HomeIndex.ProjectsJson}}, {{HomeIndex.OnlineUsersJson}});
    });
</script>

{{/Script}}