{{<Title}}{{/Title}}

<section id="content" class="triple-2 user-home">
	<div class="details">
		<div id="stream">
		{{>Stream}}
		</div>
	</div> 
</section>

<!--<section id="content" class="triple-2">
	<div id="stream-list">
	>StreamList
	</div>
</section>-->
<!--<div id="notifications">
	>Notifications
</div>-->