@{
    ViewBag.Title = "Change Password";
}

<section id="small-workspace">

<div class="form">
    <h2>Change Password</h2>   
@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, "Sorry, there was a problem with that password.")
    <fieldset>
        <legend>Password Details</legend>
        <p>Passwords must be at least 6 characters in length.</p>
        <div class="field">
            <div>
                @Html.Label("password", "New Password")
            </div>
            <div>
                @Html.Password("password")
                @Html.ValidationMessage("password")
            </div>
        </div>
    </fieldset>
    <fieldset>
        <input type="submit" value="Save" />
    </fieldset>
}
</div>

</section>