<h2>New Observation</h2>
    @using (Html.BeginForm("create", "observation", new { area = "members" }))
    {
        <fieldset>
            <legend>Observation Details</legend>
            <div id="title-field" class="field">
                <div>
                    <label for="title">Title</label>
                </div>
                <div>
                    <input type="text" id="title" name="title" value="" />
                </div>
            </div>
            <div id="observedon-field" class="field">
                <div>
                    <label for="observedOn">Observed On</label>
                </div>
                <div>
                    <input type="date" id="observedOn" name="observedOn" value="@DateTime.Now.ToString("dd MMMM yyyy")" />
                </div>
            </div>
            <fieldset id="media-resources-fieldset">
                <legend>Images, Videos, Audio</legend>
                <p>Drag and drop files into the box below, or choose files from your computer or import from other websites.</p>
                <div id="media-uploader">
@*                    <div id="media-resource-items">
                        <p>No Files Yet!</p>
                    </div>
                    <div class="field">
                        <div>
                            <div class="qq-upload-button">Upload a file</div> <input type="button" value="Choose Files" id="media-resource-button" /><input type="button" value="Import From Website" id="media-resource-button"/>
                        </div>
                    </div>*@
                </div>
            </fieldset>
            <fieldset id="location-fieldset">
                <legend>Location</legend>
                <p>Enter an address, drag the pin onto the map or enter an exact co-ordinate.</p>
                <div id="address-field" class="field">
                    <div>
                        <label for="address">Address</label>
                    </div>
                    <div>
                        <input type="text" id="address" name="address" autocomplete="off" />
                    </div>
                </div>
                <div id="pin-field" class="field">
                    <div>
                        <label>Pin</label>
                    </div>
                    <div id="location-pin"><img src="http://maps.gstatic.com/mapfiles/ms/icons/blue-dot.png" width="32" height="32" alt="" /></div>
                </div>
                <div id="location-map"></div>
                <div id="latitude-field" class="field field-part-one">
                    <div>
                        <label for="latitude">Latitude</label>
                    </div>
                    <div>
                        <input type="text" id="latitude" name="latitude" />
                    </div>
                </div>
                <div id="longitude-field" class="field field-part-two">
                    <div>
                        <label for="longitude">Longitude</label>
                    </div>
                    <div>
                        <input type="text" id="longitude" name="longitude" />
                    </div>
                </div>
                <div id="find-latlon-field">
                    <div>
                        <button id="find-latlon-button" type="button">Go</button>                            
                    </div>
                </div>
                <div id="anonymise-location-field" class="field field-checkbox">
                    <div><label>Feathering</label></div>
                    <div>
                        <input type="checkbox" id="anonymiselocation" name="anonymiselocation" /> <label for="anonymiselocation">Feathering</label>
                    </div>
                </div>
            </fieldset>
            <div id="category-field" class="field">
                <div>
                    <label for="observationCategory">Category</label>
                </div>
                <div>
                    <div id="projects"><img src="../img/frog2.png" alt=""> Amphibians</div>
                    <input type="button" id="projectPicker" value="..." />
                    <div id="category-list">
                        
                    </div>
                </div>
            </div>
            <div id="projects-field" class="field">
                <div>
                    <label for="projects">Projects</label>
                </div>
                <div>
                    <div id="projects"><img src="../img/avatar-3.png" alt=""></div>
                    <input type="button" id="projectPicker" value="..." />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <input type="button" value="Save" id="save" />
            <input type="button" value="Cancel" id="cancel" />
        </fieldset>
    }
