<h2>New Project</h2>
    @using (Html.BeginForm("create", "project", new { area = "members", enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>Project Details</legend>
            <div id="name-field" class="field">
                <div>
                    <label for="name">Name</label>
                </div>
                <div>
                    <input type="text" id="name" name="name" value="{{name}}" />
                </div>
            </div>
            <div id="description-field" class="field">
                <div>
                    <label for="description">Description</label>
                </div>
                <div>
                    <textarea rows="4" cols="100" id="description" name="description">{{description}}</textarea>
                </div>
            </div>
            <div id="website-field" class="field">
                <div>
                    <label for="website">Website</label>
                </div>
                <div>
                    <input type="text" id="website" name="website" value="{{website}}" />
                </div>
            </div>
            <fieldset id="avatar-fieldset">
                <legend>Project Avatar</legend>
                <p>Drag and drop file into the box below, or choose file from your computer or import from other websites.</p>
                <div id="media-uploader">
                    <div class="media-resource-items" id="media-resource-items">
                        <div class="media-resource-dropzone"><p>Drop file here</p></div>
                        <div id="media-resource-add-pane">
                            <div id="media-resource-upload-button" class="button media-resource-upload-button">Choose File<input id="fileupload" type="file" name="file"></div>
                            <input type="button" value="Import From Website" id="media-resource-import-button"/>                        
                        </div>
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <fieldset>
            <input type="button" value="Save" id="save" />
            <input type="button" value="Cancel" id="cancel" />
        </fieldset>
    }