<h2>New Team</h2>
    @using (Html.BeginForm("create", "team", new { area = "members", enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>Team Details</legend>
            <div id="name-field" class="field">
                <div>
                    <label for="name">Name</label>
                </div>
                <div>
                    <input type="text" id="name" name="name" value="{{name}}" />
                </div>
            </div>
            <div id="description-field" class="field">
                <div>
                    <label for="description">Description</label>
                </div>
                <div>
                    <textarea rows="4" cols="100" id="description" name="description">{{description}}</textarea>
                </div>
            </div>
            <div id="website-field" class="field">
                <div>
                    <label for="website">Website</label>
                </div>
                <div>
                    <input type="text" id="website" name="website" value="{{website}}" />
                </div>
            </div>
            <div id="organisation-field" class="field">
                <div>
                    <label for="organisation">Organisation</label>
                </div>
                <div>
                	<select id="organisations" name="organisations"></select>
                </div>
            </div>
        </fieldset>
        <fieldset id="media-resources-fieldset">
            <legend>Avatar Image</legend>
            <p>Drag and drop your Avatar Image into the box below, choose from your computer or import from other websites.</p>
            <div id="media-uploader">
                <div class="media-resource-items" id="media-resource-items">
                    <div class="media-resource-dropzone"><p>Drop files here<p></div>
                    <div id="media-resource-add-pane">
                        <div id="media-resource-upload-button" class="button media-resource-upload-button">Choose Avatar Image<input id="fileupload" type="file" name="file" multiple></div>
                        <input type="button" value="Import From Website" id="media-resource-import-button"/>                        
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <input type="button" value="Save" id="save" />
            <input type="button" value="Cancel" id="cancel" />
        </fieldset>
    }
