<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Welcome to Bowerbird</title>
	</head>
	<body>
	    <p>Dear {{FirstName}},</p>
	    
	    <p>Welcome to Bowerbird!</p>

	    <p>There are lots of things you can do with Bowerbird like:</p>
        
        <ul>
	        <li>I don't know</li>
        </ul>
	    
	    <p>Regards,<br />The Bowerbird Team</p>
	</body>
</html>