<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Welcome to BowerBird</title>
	</head>
	<body>
	    <p>Dear {{Name}},</p>
	    
	    <p>Welcome to BowerBird!</p>

	    <p>There are lots of things you can do with Bowerbird like:</p>
        
        <ul>
	        <li>Listing of things you can do goes here...</li>
        </ul>
	    
	    <p>Regards,<br />The BowerBird Team</p>
	</body>
</html>