{{<Title}}Logout - {{/Title}}

<section id="content">
	<div class="logout-success single">
		<h2><span class="small-icon user-icon"></span>Logout</h2>
		<p>You have successfully logged out. <a href="/">Return to home</a></p>
	</div>
</section>