{{<Title}}Logged Out - {{/Title}}
{{<Script}}{{/Script}}

<section id="content" class="single-small">

<div>
<h2>Logout Success</h2>

<p>You have successfully logged out. <a href="/">Return to home</a></p>

</div>

</section>