{{<Title}}Request Password Reset - {{/Title}}
{{<Script}}{{/Script}}

<section class="single-small">

<div class="form">
<h2>Request Password Reset</h2>

<form action="/account/requestpasswordreset" method="post">
    <!--@Html.ValidationSummary(true, "Sorry, we could not send you a password reset.")-->

    <fieldset>
        <legend>Account Details</legend>
        <p>To reset your password, enter your email address and we’ll send you instructions.</p>
        <div class="field">
            <div>
                <label for="Email">Email</label>
            </div>
            <div>
                <input type="email" id="Email" name="Email" value="{{RequestPasswordReset.Email}}" />
                <!--@Html.ValidationMessageFor(x => x.Email)-->
            </div>
        </div>
    </fieldset>
    <fieldset>
        <input type="submit" value="Email Me" />
    </fieldset>
</form>
</div>
</section>