{{<Title}}Request Password Reset - {{/Title}}
{{<Script}}{{/Script}}

<section id="content">
	<div class="request-password-reset-success single">
		<h2><span class="small-icon user-icon"></span>Request Password Reset</h2>
		<p>An email has been sent to you. Please click on the link in the email to reset your password. <a href="/">Return to home</a></p>
	</div>
</section>