@model Bowerbird.Web.ViewModels.Shared.DefaultViewModel

@{
    ViewBag.Title = "Request Password Reset Success";
}

<h2>Request Password Reset Success</h2>

<p>An email has been sent to you. Please click on the link in the email to reset your password. @Html.ActionLink("Return to home", "index", "home")</p>