@model Bowerbird.Web.ViewModels.Public.AccountRequestPasswordReset

@{
    ViewBag.Title = "Request Password Reset";
}
<section id="small-workspace">

<div class="form">
<h2>Request Password Reset</h2>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, "Sorry, we could not send you a password reset.")

    <fieldset>
        <legend>Account Details</legend>
        <p>To reset your password, enter your email address and we’ll send you instructions.</p>
        <div class="field">
            <div>
                @Html.LabelFor(x => x.Email)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </div>
        </div>
    </fieldset>
    <fieldset>
        <input type="submit" value="Email Me" />
    </fieldset>
}
</div>
</section>