@model AccountRequestPasswordReset

@{
    ViewBag.Title = "Request Password Reset";
}

<h2>Request Password Reset</h2>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, "Sorry, we could not send you a password reset.")

    <fieldset>
        <legend>Account Details</legend>
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <input type="submit" value="Send" />
    </fieldset>
}
