{{<Title}}Request Password Reset - {{/Title}}
{{<Script}}{{/Script}}

<section id="content">
	<div class="request-password-reset form single">
		<h2><span class="small-icon user-icon"></span>Request Password Reset</h2>

		<div class="form form-small form-details">
			<form action="/account/requestpasswordreset" method="post">
				<!--@Html.ValidationSummary(true, "Sorry, we could not send you a password reset.")-->

				<fieldset>
					<legend class="hidden">Account Details</legend>
					<p>To reset your password, enter your email address and we’ll send you instructions.</p>
					<div class="field-row">
						<div class="field">
							<div>
								<label for="Email">Email</label>
							</div>
							<div>
								<input type="email" id="Email" name="Email" value="{{RequestPasswordReset.Email}}" />
								<!--@Html.ValidationMessageFor(x => x.Email)-->
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<input type="submit" value="Email Me" />
				</fieldset>
			</form>
		</div>
	</div>
</section>