{{<Title}}Reset Password - {{/Title}}
{{<Script}}{{/Script}}

<section id="content" class="single-small">

<div class="form">
<h2>Reset Password</h2>

<form action="/account/resetpassword" method="post">
    <!--@Html.ValidationSummary(true, "Sorry, there was a problem with that password.")-->
    
    <input type="hidden" id="ResetPasswordKey" name="ResetPasswordKey" value="{{ResetPassword.ResetPasswordKey}}" />
    <fieldset>
        <legend class="hidden">Password Details</legend>
        <div class="field">
            <div>
                <label for="Password">Password</label>
            </div>
            <div>
                <input type="password" id="Password" name="Password" />
                <!--@Html.ValidationMessage("password")-->
                <p>Passwords must be at least 6 characters in length.</p>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <input type="submit" value="Save" />
    </fieldset>
</form>
</div>
</section>