@model AccountResetPassword

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@using (Html.BeginForm()) 
{
    @Html.HiddenFor(x => x.ResetPasswordKey)
    <fieldset>
        <legend>Password Details</legend>
        <div>
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" />
        </div>

        <input type="submit" value="Save" />
    </fieldset>
}
