@model Bowerbird.Web.ViewModels.AccountResetPassword

@{
    ViewBag.Title = "Reset Password";
}
<section class="single-small">

<div class="form">
<h2>Reset Password</h2>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, "Sorry, there was a problem with that password.")
    
    @Html.HiddenFor(x => x.ResetPasswordKey)
    <fieldset>
        <legend>Password Details</legend>
        <div class="field">
            <div>
                <label for="password">New Password <span>Required</span></label>
            </div>
            <div>
                @Html.Password("password")
                @Html.ValidationMessage("password")
            </div>
        </div>

        <input type="submit" value="Save" />
    </fieldset>
}
</div>
</section>