{{<Title}}Reset Password - {{/Title}}

<section id="content">
	<div class="form reset-password single">
		<h2><span class="small-icon user-icon"></span>Reset Password</h2>
		<div class="form form-small form-details">
			<form action="/account/resetpassword" method="post">
				<!--@Html.ValidationSummary(true, "Sorry, there was a problem with that password.")-->
    
				<input type="hidden" id="ResetPasswordKey" name="ResetPasswordKey" value="{{ResetPassword.ResetPasswordKey}}" />
				<fieldset>
					<legend class="hidden">Password Details</legend>
					<p>Type in your new password below. The new password will be effective immediately.</p>
					<div class="field-row">
						<div class="field">
							<div>
								<label for="Password">Password</label>
							</div>
							<div>
								<input type="password" id="Password" name="Password" />
								<!--@Html.ValidationMessage("password")-->
								<p>Passwords must be at least 6 characters in length.</p>
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<input type="submit" value="Save" />
				</fieldset>
			</form>
		</div>
	</div>
</section>