{{<Title}}Account Details - {{/Title}}

<section id="content" class="double-2">
    <div class="form single-medium profile-form">
        <h2>Account Details</h2>
        {{>UserForm}}
    </div>
</section>