{{<Title}}Edit Account - {{/Title}}

<section id="content">
    <div class="form form-medium single user-form">
        <h2><span class="small-icon user-icon"></span>Account</h2>
        {{>AccountUpdateForm}}
    </div>
</section>