{{<Title}}Account - {{/Title}}

<section id="content">
    <div class="form profile-form single">
        <h2><span class="small-icon user-icon"></span>Account</h2>
        {{>UserForm}}
    </div>
</section>