<div class="team-list">
    <br />
    <br />
    <h2>Teams in Bowerbird</h2>
	<!--{{TeamList}}-->
    {{#Teams.PagedListItems}}
	    {{TeamItem}}
    {{Teams.PagedListItems}}
    {{^Teams.PagedListItems}}
	    No teams in the system yet
    {{Teams.PagedListItems}}
</div>