{{<Title}}Teams -{{/Title}}
<section id="content" class="triple-2">
<ul class="explore-groups">
  {{#Model.Teams}}
  <li class="explore-team-item">{{>TeamItem}}</li>
  {{/Model.Teams}}
</ul>{{^Model.Teams}}
No Teams in Bowerbird
{{/Model.Teams}}
</section>