<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <bowerbird>
    <environment xdt:Transform="Replace" rootPath="k:\projects\bowerbird-1\bowerbird-dev\src\bowerbird.website" rootUri="http://www.bowerbird.org.au" />
    <documentStore xdt:Transform="Replace" databaseName="bowerbird_stage" url="http://padil:8002/" />
  </bowerbird>
</configuration>