<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property xdt:Locator="Condition(@name='connection.connection_string')" xdt:Transform="Replace" name="connection.connection_string">integrated security=false; data source=sql08-dev;database=bowerbird_dev;User ID=bowerbird_usr;Password=bowerbird_34863;</property>
    </session-factory>
  </hibernate-configuration>
</configuration>