<h2>
  <span class="small-icon user-icon"></span>Request Password Reset
</h2>
<div class="form form-small form-details">
  <form action="/account/requestpasswordupdate" method="post">
    <fieldset>
      <legend class="hidden">Password Details</legend>
      <p>To reset your password, enter your email address and we’ll send you instructions.</p>
      <div class="field-row">
        <div class="field">
          <div>
            <label for="Email">Email</label>
          </div>
          <div>
            <input type="email" id="Email" name="Email" value="{{Model.AccountRequestPasswordUpdate.Email}}" />
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <input type="submit" value="Email" id="save" />
    </fieldset>
  </form>
</div>

