<h2>
  <span class="small-icon user-icon"></span>Password
</h2>
<div class="form form-small form-details">
  <form action="/account/updatepassword" method="post">
    <fieldset>
      <legend class="hidden">Password Details</legend>
      <p>Passwords must be at least 6 characters in length.</p>
      <div class="field-row">
        <div class="field">
          <div>
            <label for="NewPassword">New Password</label>
          </div>
          <div>
            <input type="password" id="NewPassword" name="NewPassword" value="" />
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <input type="submit" value="Save" id="save" />
      <input type="submit" value="Cancel" id="cancel" />
    </fieldset>
  </form>
</div>

