<div class="activity-list">
  <ul class="activity-items">
    {{#Model.Activities.PagedListItems}}
    <li class="activity-item {{Type}}-activity-item">
      {{>ActivityItem}}
    </li>
    {{/Model.Activities.PagedListItems}}
  </ul>
</div>
