<div class="add-comment">
    <div>Add a Comment</div>
    <div>
        <input type="text" class="add-comment-text" />
        <input type="button" class="save-comment-button" value="Post" />
        <input type="button" class="cancel-add-comment-button" value="Cancel" />
    </div>
</div>