<h2>
  <span class="small-icon home-icon"></span>Privacy
</h2>

<div class="details">
  <h2>BowerBird Privacy Policy</h2>
  <p>By using the BowerBird website and the Content available on and through it, you are agreeing to be bound by this Privacy Policy and the Terms of Use and any Additional Terms.</p>
  <p>The purpose of this Privacy Policy is to set out how we will deal with personal information gathered by us when you visit and use the BowerBird website.</p>
  <p>Personal information collected by BowerBird is governed by the Commonwealth Privacy Act 1988.</p>

  <h3>Terminology</h3>
  <p>
    <strong>BowerBird site</strong> – the website with the URL www.bowerbird.org.au and associated webservices, internet publishing tools, software, tools etc.
  </p>
  <p>
    <strong>Personal information</strong> is information relating to an individual whose identity is apparent, or can reasonably be ascertained, from the information or opinion provided.
  </p>
  <p>
    <strong>We or us</strong> - refers to Atlas of Living Australia, which is the legal entity representing and responsible for the BowerBird project.
  </p>
  <p>
    <strong>You</strong> – means any person who provides personal information to us in connection with the BowerBird website.
  </p>
  <p>Other terms have the meanings given to them in the Terms of Use.</p>

  <h3>Operation of BowerBird site</h3>
  <p>The BowerBird website is operated by Atlas of Living Australia without the use of an external service provider. If this changes we will amend this Privacy Policy.</p>

  <h3>Site Visit Data</h3>
  <p>When visiting the BowerBird website, a record of your visit is logged. The following information is supplied by your browser or recorded by our servers:</p>
  <ul>
    <li>the user’s server address</li>
    <li>the user’s operating system (for example Windows, Mac etc)</li>
    <li>the user’s top level domain name (for example .com, .gov, .au, .uk etc)</li>
    <li>the date and time of the visit to the site</li>
    <li>the pages accessed and the documents/data downloaded</li>
    <li>the previous site visited</li>
    <li>search terms used; and</li>
    <li>the type of browser used</li>
  </ul>
  <p>We use the site visit data for the purposes of:</p>
  <ul>
    <li>monitoring, developing and improving the quality of the BowerBird website</li>
    <li>dealing with your inquires and requests; and</li>
    <li>usage statistics such as determining traffic through the server, download statistics etc</li>
  </ul>
  <p>This site visit data may be aggregated for analysis with identifiable characteristics removed. We may publish or provide this aggregated data to other people – for instance site/page usage statistics around a particular data set may be provided to the original Data Provider. We may also provide usage statistics to the government bodies that have provided funding for the BowerBird site.</p>
  <p>Unless we are required to do so by law or it is reasonable for us to do so as a result of a breach or a suspected breach by you of the Terms of Use, this Privacy Policy or the Additional Terms, we will not attempt to identify your browsing activities.</p>

  <h3>Personal Information contained in Content</h3>
  <p>You acknowledge that if you:</p>
  <ul>
    <li>upload Content to the BowerBird website; or</li>
    <li>provide comments or opinions to forums</li>
  </ul>
  <p>that contains personal information about you, that information will be public and we cannot control how that information is used by other persons.</p>

  <h3>Collection and use of Personal Information</h3>
  <p>When you e-mail us, use an on-line form, submit Content to us for inclusion on the BowerBird website or register for an account:</p>
  <ul>
    <li>we will record your name, e-mail address, postal address, organisation, area of interest and such other personal information as provided (your details);</li>
    <li>your details will not be added to a mailing list;</li>
    <li>unless otherwise required or permitted by law or it is reasonable for us to do so as a result of a breach or a suspected breach by you of the Terms of Use, this Privacy Policy or the Additional Terms:</li>
    <li>we will only use your details for the purpose for which you provided them or directly related purposes as stated on the pages or forms where you submit it; and</li>
    <li>we will not disclose your details without your express permission.</li>
  </ul>

  <p>If you provide your personal information associated with biodiversity related data or records, then users of that data will be able to see the personal information provided, and may use that personal information to:</p>
  <ul>
    <li>verify the details of the particular record;</li>
    <li>acknowledge/attribute you as the creator of the record; or</li>
    <li>contact you to request greater access, further information or support.</li>
  </ul>
  <p>Certain personal information may be required such as username and email address to provide a particular BowerBird service or product to you or respond to your inquiries.</p>
  <p>This information may also be used by us to inform you of additional related products or services or obtain your feedback on the service or product.</p>
  <p>We will, at your request, provide you with access to any information which we have collected about you in accordance with Information Privacy Principle 6, Privacy Act 1988 (Cth). To gain access to this information you should contact us at  admin@bowerbird.org.au</p>
  <p>If you believe that any information is inaccurate, incomplete or out of date, please contact us at (NEED BOWERBIRD EMAIL CONTACT EMAIL ADDRESS) and we will revise the relevant information in accordance with Information Privacy Principle 7, Privacy Act 1988 (Cth).</p>

  <h3>Cookies</h3>
  <p>A cookie is a small file that a website sends to your browser when you access information at that site. Upon receipt of the information your browser saves the information on your hard-disk (unless your browser doesn’t support cookies). Each time you use your computer to access that same website, the information that was previously received is sent back to the website by your browser. It records information necessary for certain website functions, such as remembering your preferences or settings.</p>
  <p>BowerBird may use cookies for some of its interactive features; however, these cookies collect only enough information to enable website functions.</p>
  <p>If you don’t want to accept cookies, you can set your browser and/or firewall to block them. You will still be able to access most BowerBird content but some interactive features will be unavailable.</p>
  <p>If you are interested in finding out more about cookies, how they are used by websites, and how you can change your settings see: The Privacy Commissioner’s website or Cookie Central.</p>

  <h3>External links</h3>
  <p>This site contains links to other sites. BowerBird is not responsible for the privacy practices or the content of such websites.</p>

  <h3>Security of Information</h3>
  <p>Your personal information will not be released by us unless the law requires or permits it, it is permitted by this Privacy Policy or your permission is given. We provide a secure environment and a reliable system but you should be aware that there may be inherent risks associated with the transmission of information via the Internet.</p>

  <h3>Contact details</h3>
  <p>If you have any questions about this Privacy Policy or any privacy issues related to this site then please contact admin@bowerbird.org.au</p>
</div>