{{#Image.Square50}}
<div class="image-media media-square-50">
    <img src="{{Uri}}" alt="" />
</div>
{{/Image.Square50}}
{{#Video.Square50}}
<div class="video-media media-square-50">
    <img src="{{Uri}}" alt="" />
</div>
{{/Video.Square50}}
{{#Audio.Square50}}
<div class="audio-media media-square-50">
    <img src="{{Uri}}" alt="" />
</div>
{{/Audio.Square50}}