{{#Image.Square100}}
<div class="image-media media-square-100">
    <img src="{{Uri}}" alt="" />
</div>
{{/Image.Square100}}
{{#Video.Square100}}
<div class="video-media media-square-100">
    <img src="{{Uri}}" alt="" />
</div>
{{/Video.Square100}}
{{#Audio.Square100}}
<div class="audio-media media-square-100">
    <img src="{{Uri}}" alt="" />
</div>
{{/Audio.Square100}}