<h2>
  <span class="small-icon organisation-icon"></span>Organisation
</h2>
<div class="summary" style="background-image: url({{Model.Organisation.Background.Image.Large.Uri}});">
  {{#Model.Organisation.Avatar}}
  {{>Avatar200}}
  {{/Model.Organisation.Avatar}}
  <div>
    <h1>{{Model.Organisation.Name}}</h1>
    <ul class="badges">
      <li>{{Model.Organisation.UserCount}} {{Model.UserCountDescription}}</li>
      <li>{{Model.Organisation.PostCount}} {{Model.PostCountDescription}}</li>
    </ul>
    <p>{{Model.Organisation.Description}}</p>
  </div>
</div>
<div class="list-details">
  <div class="tab-bar large">
    <ul class="tabs">
      <li>
        <a class="tab-button activities-tab-button {{#Model.ShowActivities}}selected{{/Model.ShowActivities}}" href="/{{Model.Organisation.Id}}">Timeline</a>
      </li>
      <li>
        <a class="tab-button posts-tab-button {{#Model.ShowPosts}}selected{{/Model.ShowPosts}}" href="/{{Model.Organisation.Id}}/posts">News</a>
      </li>
      <li>
        <a class="tab-button members-tab-button {{#Model.ShowMembers}}selected{{/Model.ShowMembers}}" href="/{{Model.Organisation.Id}}/members">Members</a>
      </li>
      <li>
        <a class="tab-button about-tab-button {{#Model.ShowAbout}}selected{{/Model.ShowAbout}}" href="/{{Model.Organisation.Id}}/about">About</a>
      </li>
    </ul>
  </div>
  <div class="search">
    <div>
      {{#Model.ShowPosts}}
      {{>PostSearchPanel}}
      {{/Model.ShowPosts}}
    </div>
  </div>
  <div class="list">
    <div>
      {{#Model.ShowActivities}}
      {{>ActivityList}}
      {{/Model.ShowActivities}}
      {{#Model.ShowPosts}}
      {{>PostList}}
      {{/Model.ShowPosts}}
      {{#Model.ShowMembers}}
      {{>UserList}}
      {{/Model.ShowMembers}}
      {{#Model.ShowAbout}}
      {{>OrganisationAbout}}
      {{/Model.ShowAbout}}
    </div>
  </div>
</div>
