<div class="organisation-about">
  <div class="about">
    {{#Model.Organisation.Description}}
    <h4>About This Organisation</h4>
  
    <div class="organisation-description">
      {{{Model.Organisation.Description}}}
    </div>
    {{/Model.Organisation.Description}}

    <h4>Administrators</h4>

    <ul class="administrators">
      {{#Model.OrganisationAdministrators.PagedListItems}}
      <li>
        <a href="/{{Id}}">
          {{#Avatar}}
          {{>MediaSquare200}}
          {{/Avatar}}
        </a>
      </li>
      {{/Model.OrganisationAdministrators.PagedListItems}}
    </ul>


    <div class="organisation-info">
      <div id="created">
        Created <span>{{Model.Organisation.Created}}</span>
      </div>
      {{#Model.Organisation.Website}}
      <div id="website">
        Website <span><a href="{{Model.Organisation.Website}}" target="new">{{Model.Organisation.Website}}</a></span>
      </div>
      {{/Model.Organisation.Website}}

      <div id="activity-chart">
            
        <table>
          <caption>Activity in the last 30 days</caption>
          <thead>
            <tr>
              <td></td>
              {{#Model.ActivityTimeseries}}
              <th scope="col">{{CreatedDate}}</th>
              {{/Model.ActivityTimeseries}}
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">News item posted</th>
              {{#Model.ActivityTimeseries}}
              <td>{{PostCount}}</td>
              {{/Model.ActivityTimeseries}}
            </tr>
            <tr>
              <th scope="row">Comment made</th>
              {{#Model.ActivityTimeseries}}
              <td>{{CommentCount}}</td>
              {{/Model.ActivityTimeseries}}
            </tr>
          </tbody>
        </table>
        <div id="chart-area"></div>
      </div>
    </div>
  </div>
  
 
  
  
</div>
