<div class="menu-group-title" style="display:none;"><span class="small-icon {{Model.Icon}}-icon"></span>{{Model.Label}}</div>
<div class="scrollbar-container">
  <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
  <div class="viewport">
    <div class="overview">
      <ul id="{{Model.Name}}-menu-group-list">
      
      </ul>
    </div>
  </div>
</div>
