<div class="stream-load-more">
  <input class="button" type="button" id="stream-load-more-button" value="Load More" />
  {{#PreviousUrl}}
  <a href="{{PreviousUrl}}" class="previous-page">Previous</a>
  {{/PreviousUrl}}
  {{#NextUrl}}
  <a href="{{NextUrl}}" class="next-page">Next</a>
  {{/NextUrl}}
</div>