<h2><span class="small-icon user-icon"></span>People</h2>
<div class="details">
  <div class="search">
    <div>
      {{>UserSearchPanel}}
    </div>
  </div>
  <div class="list">
    <div>
      {{>UserList}}
    </div>
  </div>
</div>
 