.observation .observation-details,
.sighting-note-form .observation-details {
    background-color: rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    float: left;
    padding: 2%;
    width: 100%;
}
.observation h4 {
    color: rgb(68, 68, 68);
    font-size: 0.875em;
    font-weight: 600;
    margin-top: 2%;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.observation-details
{
    padding: 2%;
}
.observation-details h3
{
    font-size: 1.8125em;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.1em;
    margin: 0;
    padding: 0 2% 10px 0;
    width: 69%;
    display: inline-block;
}
.observation-details h3 a,
.observation-details h3 a:hover,
.observation-details h3 a:active,
.observation-details h3 a:visited
{
    color: #222222;
    text-decoration: none;
}
/*.observation-details h3 > a > span:before {
    content: "View";
}
.observation-details h3 > a > span
{
    background-color: rgb(207, 221, 235);
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 0.4em;
    height: 19px;
    letter-spacing: normal;
    line-height: 1.2em;
    padding: 3px 8px;
    vertical-align: middle;
}
.observation-details h3 > a:hover > span {
    background-color: rgb(27, 131, 235);
}*/
.observation-details .observation-options {
    display: inline-block;
    height: 2.1em;
    position: relative;
    vertical-align: top;
    width: 30%;
}
/*.activity-item .observation-action-menu {
    display: inline-block;
    height: 2.3em;
    list-style: none outside none;
    vertical-align: top;
    width: 19%;
}
.activity-item .actions li {
    display: block;
    float: left;
    height: 100%;
    list-style: none outside none;
    width: 33.334%;
}*/
.activity-item .actions .button {
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: top;
}
.activity-item .actions a.add-favourite-button
{
    background-color: rgb(51, 200, 255);
    border-color: rgb(0, 155, 212);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
    text-indent: -99999px;
    line-height: 0.01em;
    width: 44px;
}
.activity-item .actions a.add-note-button,
.activity-item .actions .edit-observation-button,
.activity-item .actions .view-button {
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 4px 22px;
}
.activity-item .actions .view-button {
    float: right;
    margin: 0;
}
.activity-item .actions .button span
{
    background-image: url("/img/icons.png");
    background-repeat: no-repeat;
    background-size: 626% auto;
    display: block;
    margin: 2px auto 1px;
}
.activity-item .actions .add-favourite-button span
{
    background-position: -130px -1px;
    height: 31px;
    width: 31px;
}
.activity-item .actions .add-favourite-button.active span
{
    background-position: -130px -1px;
}
.activity-item .actions a.add-favourite-button:hover
{
    background-color: #00baff;
}
.activity-item .actions a.add-favourite-button:active
{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
}
.observation-details .observation-options .sub-menu-button {
    right: -10px;
    top: -8px;
}
.observation-details .images
{
    display: inline-block;
    padding-right: 2%;
    vertical-align: top;
    width: 69%;
}
.observation-details .images .preview
{
    max-height: 600px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    position: relative;
}
.observation-details .images .preview .media-details
{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.observation-details .images .preview .overlay
{
    background-color: #000000;
    bottom: 0;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 0;
}
.observation-details .images .preview p.description,
.observation-details .images .preview p.primary-media
{
    color: rgb(255, 255, 255);
    font-size: 0.85em;
    line-height: 1.5em;
    margin: 5px 15px;
    max-height: 63px;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-shadow: none;
    white-space: normal;
    z-index: 1;
}
.observation-details .images .thumbnails > div:nth-child(5n+0)
{
    margin-right: 0;
}
.observation-details .images .thumbnails .image-media,
.observation-details .images .thumbnails .video-media,
.observation-details .images .thumbnails .audio-media
{
    float: left;
    height: 19.6%;
    line-height: 1em;
    margin-right: 0.5%;
    margin-top: 0.5%;
    width: 19.6%;
    cursor: pointer;
}
.observation-details .images .thumbnails > div:last-child
{
    margin-right: 0;
}
.observation-details .info
{
    display: inline-block;
    width: 30%;
}
.observation-details .user,
.sighting-note .user,
.sighting .user
{
    display: block;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.7em;
    vertical-align: top;
}
.observation-details .user {
    margin-bottom: 14px;
}
.sightingadded-activity-item .user {
    display: none;
}
.observation .user .media-square-100,
.observation-details .user .media-square-100,
.sighting-note .user .media-square-100,
.sighting .user .media-square-100 {
    display: inline-block;
    width: 35px;
}
.observation-details .user > span,
.sighting-note .user > span,
.sighting .user > span
{
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
}
.observation-details .observed,
.observation-details .observation-projects
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
}
.observation-details .observation-projects {
    margin: 20px 0 0;    
}
.observation-details .observation-projects-list
{
    margin-top: 4px;
}
.observation-details .observation-project
{
    display: block;
    float: left;
    margin-right: 1.1%;
    margin-top: 1.1%;
    width: 32.6%;
}
.observation-details .observation-project:nth-child(3n+0)
{
    margin-right: 0;
}
.observation-details .observation-projects
{
    
}
.observation-details  .observed span
{
    display: block;
    font-weight: 500;
}
.observation-details .location
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    padding-top: 20px;
}
.observation-details .location .map
{
    overflow: hidden;
    width: 100%;
}
@media screen and (min-width: 20em) 
{
    .observation-details .location .map
    {
        height: 4em;
    }
}
@media screen and (min-width: 37.5em) 
{
    .observation-details .location .map
    {
        height: 9em;
    }
}
@media screen and (min-width: 64em) 
{
    .observation-details .location .map
    {
        height: 9.5em;
    }
}
.observation-details .location > span
{
    display: block;
    font-weight: 500;
    padding: 5px 5px 0 0;
}




/**********************/
.call-to-action
{
    background-color: rgb(232, 228, 219);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    padding: 25px;
    position: relative;
    width: 100%;
    float: left;
}
.call-to-action h2
{
    color: rgb(67, 50, 17);
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.login .call-to-action,
.register .call-to-action {
    margin-top: 20px;
}
.home-private .call-to-action {
    margin-bottom: 20px;
}
.home-private .call-to-action h2 {
    font-size: 1.4em;
}
.home-private > .details {
    width: 100%;
}

.call-to-action p {
    margin-bottom: 10px;
    margin-top: 10px;
}
.call-to-action p, 
.call-to-action li {
    color: rgb(97, 80, 47);
    font-size: 0.844em;
    font-weight: 500;
    line-height: 1.5em;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.call-to-action ul {
    margin-bottom: 10px;
    margin-left: 27px;
    margin-top: 10px;
}
.call-to-action h3
{
    color: rgb(67, 50, 17);
    font-size: 0.95em;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    margin-top: 15px;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.call-to-action .close-call-to-action
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -312px 0 rgb(67, 50, 17);
    border: 2px solid rgb(67, 50, 17);
    border-radius: 10px 10px 10px 10px;
    display: block;
    height: 18px;
    position: absolute;
    right: 10px;
    text-indent: -99999px;
    top: 9px;
    width: 18px;
}
.call-to-action p a,
.call-to-action p a:active,
.call-to-action p a:visited
{
    color: rgb(64, 64, 64);
}
.call-to-action p a:hover {
    color: rgb(27, 131, 235);
}
.call-to-action .close-call-to-action:hover
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -312px 0 #1B83EB;
    border: 2px solid #1B83EB;
}

/**********************/
.project > .summary
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(84, 149, 216);
    background-origin: padding-box;
    background-position: center 0;
    background-repeat: no-repeat;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    float: left;
    height: 200px;
    position: relative;
    width: 100%;
    z-index: 2;  
}
.project > .details {
    background-color: rgb(227, 227, 227);
    float: left;
    width: 100%;
}
.project > .summary .image-media {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.9);
    display: block;
    height: 100px;
    margin: 12px auto 0;
    width: 100px;
}
.project > .summary img
{
    border-radius: 4px;
}
.project > .summary h1
{
    color: rgb(255, 255, 255);
    display: block;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 1.6em;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    white-space: nowrap;
}
.project > .summary p
{
    display: none;
    font-size: 0.875em;
    line-height: 1.4em;
    margin: 15px 15px 15px 0;
    max-height: 96px;
    overflow: hidden;
}
.project > .summary .badges
{
    display: block;
    text-align: center;
    width: 100%;
}
.project > .summary .badges li
{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px 4px 4px 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 1em;
    padding: 5px 7px;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
}


/******* Project about *******/
.project-about {
    
}
.project-about h4 {
    color: rgb(68, 68, 68);
    font-size: 0.875em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.project-description {
    background-color: rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    font-size: 0.875em;
    line-height: 1.5em;
    margin-bottom: 2%;
    padding: 2%;
}
.project-about .project-description p {
    
}
.project-info {
    background-color: rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    font-size: 0.875em;
    line-height: 1.5em;
    margin-bottom: 2%;
    padding: 2%;
}
.project-info #created,
.project-info #website,
.project-info #activity-chart .visualize .visualize-title {
    color: rgb(34, 34, 34);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.25em;
}

.project-info #created span,
.project-info #website span {
    display: block;
    font-weight: 500;
    margin-bottom: 13px;
}
.project-info #website span a,
.project-info #website span a:hover,
.project-info #website span a:active,
.project-info #website span a:visited {
    color: rgb(34, 34, 34);
}

.project-info #activity-chart {
    margin-bottom: 41px;
    margin-top: 27px;
    padding: 2%;
}
.project-info #activity-chart table 
{
    display: none;
}
.project-info #activity-chart .visualize .visualize-info {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 1em;
    font-weight: 600;
    left: -18px;
    opacity: 1;
    padding: 0;
    position: relative;
    right: auto;
    top: -23px;
}
.project-info #activity-chart .visualize ul.visualize-key {
    display: block;
    font-size: 0.95em;
    font-weight: 500;
    left: 18px;
    position: absolute;
    top: 237px;
}
.project-info #activity-chart .visualize-labels-x .label {
    font-size: 0.8em;
    line-height: 1em;
    text-align: center;
}
.project-info #activity-chart .visualize-labels-y .label {
    font-size: 0.8em;
    line-height: 1em;
}
.project-info #activity-chart .visualize-labels-y li span.line {
    border-style: dotted;
}
/****************************************/
.projects .project-list
{
    padding-top: 50px;
}
.projects .join-project-button {
    background-color: rgb(82, 177, 82);
    border-color: #0B7700;
    text-shadow: 0 -1px 0 #004c00;
}
.projects .leave-project-button {
    background-color: rgb(255,175,75);
    border-color: #ED8200;
    text-shadow: 0 -1px 0 #b46300;
}
#project-explore-welcome {
    margin-bottom: 2%;
}


/*--- EXPLORE ---*/
/*.explore-list
{
    margin-top:50px;   
    padding:10px;
    border: 1px dashed black;
    height:100%;
}
ul.explore-groups
{
    list-style: none;
    display: inline;
}
.explore-item .explore-summary 
{
    background-image: url("/img/carbon_fibre.png");
    border: 2px solid #AABBCC;
    color: white;
    height: 60px;
    margin: 5px;
}
.explore-item .explore-summary .explore-avatar img
{
    margin: 5px;
    width:50px;
    height:50px;   
    border-radius:10 0 0 0;
}
.explore-item .explore-summary .explore-name
{
    display: inline-block;
    height: 48px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    width: 115px;
    font-weight:bold;
}

.explore-item .explore-details
{
    background-color: #EEEEFF;
    border: 2px solid #DDEEEE;
    height: 170px;
    margin: 5px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #143658 inset;
    overflow-x: hidden;
    overflow-y: hidden;
}
.explore-item .explore-details .explore-details-property
{
    color: #AAAAAA;
    display: inline-block;
    font-size: 0.8em;
    line-height: 10px;
    margin: 0;
    padding: 0 5px;
}
.explore-item .explore-details .explore-details-value
{
    margin-left: 5px;
    font-size: 0.9em;
}
.explore-item .join-project,
.explore-item .view-team,
.explore-item .view-project,
.explore-item .view-organisation
{
    display: inline-block;
    margin-left: 5px;
}
.explore-item .view-team-button,
.explore-item .view-organisation-button
{
    height: 40px;
    width: 190px; 
    font-size:1.2em;
    color:#133A68;
}
.explore-item .join-project-button,
.explore-item .view-project-button
{
    color: #133A68;
    font-size: 1.2em;
    height: 40px;
    width: 90px;
}
div.explore-item
{
    background-color: white;
    display: inline-block;
    float: left;
    height: 300px;
    margin: 10px;
    width: 200px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 4px 8px 0 #5071A6;
}
div.explore-item:hover
{
    box-shadow: 0 8px 18px 0 #5071EE;
}
div.click-to-explore:hover
{
    display:block;
    position:absolute;
    background-color:White;
    height:300px;
    width:200px;
    margin:5px;
    vertical-align:middle;
    text-align:center;
}
div.click-to-explore
{
    position:absolute;
    display:none;
    background-color:White;
    height:290px;
    width:190px;
    margin:5px;
    vertical-align:middle;
    text-align:center;
    z-index:1000;
}
*/


.sighting-note-form .observation-details {
    margin-bottom: 2%;
}
.sighting-note-form {
    width: 95.6%;
}
.sighting-note-form form {
    display: inline-block;
    width: 100%;
}


.observation .sighting-notes {
    float: left;
}
.observation .sighting-note {
    background-color: rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    float: left;
    margin-top: 2%;
    padding: 2%;
}




















































/*.small-sighting-details 
{
    background-color: rgb(249, 249, 249);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    float: left;
    margin: 2% 2% 2% 0;
    padding: 1.5%;
    right: 2%;
    width: 39%;
}
.small-sighting-details h3 
{
    display: inline-block;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.1em;
    margin: 0;
    padding: 0 2% 5px 0;
    width: 69%;
}
.small-sighting-details h3 a, 
.small-sighting-details h3 a:hover, 
.small-sighting-details h3 a:active, 
.small-sighting-details h3 a:visited {
    color: rgb(34, 34, 34);
    text-decoration: none;
}
.small-sighting-details .images {
    display: inline-block;
    float: left;
    width: 100%;
}
.small-sighting-details .info 
{
    float: left;
    padding-top: 11px;
    position: relative;
    width: 100%;
}
.small-sighting-details .user {
    display: inline-block;
    float: left;
    width: 100%;
}
.small-sighting-details .user .media-square-100 {
    float: left;
    width: 30px;
}
.small-sighting-details .user span {
    display: block;
    float: left;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1em;
    margin-left: 5px;
    margin-top: 8px;
}
.small-sighting-details .observed {
    display: inline-block;
    float: left;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1em;
    width: 100%;
}
.small-sighting-details .observed span 
{
    display: block;
    font-weight: 500;
    line-height: 1.5em;
}
.small-sighting-details .location {
    display: inline-block;
    float: left;
    font-size: 0.8em;
    line-height: 1.25em;
    margin-right: 3%;
    margin-top: 11px;
    width: 55%;
}
.small-sighting-details .location .map {
    background-color: rgb(221, 221, 221);
    display: block;
    height: 85px;
    width: 100%;
}
.small-sighting-details .projects,
.small-sighting-details .comments,
.small-sighting-details .notes {
    display: block;
    float: left;
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 6px;
    width: 42%;
}
.small-sighting-details .projects
{
    padding-top: 11px;
}
.small-sighting-details .projects span,
.small-sighting-details .comments span,
.small-sighting-details .notes span {
    background-color: rgb(215, 230, 245);
    border-radius: 6px 6px 6px 6px;
    color: rgb(34, 34, 34);
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    height: 26px;
    line-height: 1.9em;
    margin-right: 2px;
    text-align: center;
    text-shadow: 0 0 1px rgb(255, 255, 255);
    width: 26px;
}*/