body
{
    background-color: #FFFFFF;
    background-image: url("/img/background.png");
    font-weight: 400;
}
/* header */
#header
{
    background-color: #F2F6FA;
    box-shadow: 0 1px 2px 0 #91AFCD;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
#header > div
{
    max-width: 1600px;
    min-width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px 0 10px;
}
#main-title
{
    color: #154999;
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 50px;
    text-align: center;
    text-shadow: 0 2px 0 #FFFFFF;
    vertical-align: top;
    width: 230px;
}
#main-menu
{
    display: none;
}
#search-menu
{
    float: right;
}
#search-menu label
{
    display: none;
}
#search-menu > div
{
    background-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    height: 29px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#search-menu input
{
    border: 0 none;
    font-size: 13px;
    height: 27px;
    outline: medium none;
    width: 100%;
    -webkit-appearance: none;
}
#account-menu
{
    float: right;
}
#account-menu ul
{
    margin: 0;
    padding: 0;
}
#account-menu li
{
    display: inline-block;
    margin-left: 15px;
}
/*#account-menu li span
{
    display: inline-block;
}
#account-menu img
{
    border-radius: 2px 2px 2px 2px;
    height: 33px;
    width: 33px;
}*/
#account-menu a
{
    color: #154999;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding-left: 3px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    vertical-align: middle;
}
/* body */
#main
{
    margin: 0 auto;
    max-width: 1600px;
    min-width: 960px;
    padding: 50px 20px 0;
}
/* sidebar */
#sidebar
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
    width: 214px;
    -webkit-box-shadow: 0px 1px 2px 0px #91AFCD;
    -moz-box-shadow: 0px 1px 2px 0px #91AFCD;
    box-shadow: 0px 1px 2px 0px #91AFCD; 
}
#sidebar .filter-group-title
{
    background-color: #9EC3E8;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 26px;
    padding-left: 12px;
    text-shadow: 0 -1px 0 #4070A0;
    text-transform: uppercase;
}
#sidebar .filter-group ul
{
    margin: 0;
    padding: 0;
}
#sidebar .filter-group li
{
    display: block;
}
#sidebar .filter-group li a
{
    color: #133A68;
    display: block;
    font-size: 15px;
    font-weight: 600;
    height: 46px;
    overflow: hidden;
    text-decoration: none;
}
#sidebar .filter-group li
{
    border-bottom: 1px solid #cfddeb;
}
#sidebar .filter-group li:last-child
{
    border-bottom: none;
}
#sidebar .filter-group li img 
{
    display: block;
    float: left;
    margin-right: 13px;
}
#sidebar .filter-group li:first-child img 
{
    border-radius: 4px 0 0 0;
}
#sidebar .filter-group li:last-child img 
{
    border-radius: 0 0 0 4px;
}
#sidebar .filter-group li a > div
{
    display: table-cell;
    height: 46px;
    vertical-align: middle;
    width: 146px;
}
#sidebar .filter-group li a > div p
{
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 2px 0;
}
/* workspace */
#workspace
{
    display: inline-block;
    margin-left: 17px;
    margin-top: 20px;
    vertical-align: top;
    width: 800px;
}
/* selected filter group */
#selected-filter-group
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    display: inline-block;
    height: 187px;
    width: 800px;
    -webkit-box-shadow: 0px 1px 2px 0px #91AFCD;
    -moz-box-shadow: 0px 1px 2px 0px #91AFCD;
    box-shadow: 0px 1px 2px 0px #91AFCD; 
}
#selected-filter-group > img
{
    border-radius: 4px 0 0 0;
    float: left;
}
#selected-filter-group > h1
{
    color: #143658;
    display: inline-block;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 33px;
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    vertical-align: top;
    white-space: nowrap;
    width: 598px;
}
#selected-filter-group .byline
{
    border-bottom: 1px solid #CFDDEB;
    color: #143658;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    padding: 1px 15px 13px;
    white-space: nowrap;
    width: 583px;
}
#selected-filter-group .description
{
    color: #143658;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
    max-height: 82px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    width: 583px;
}
/* stream */
#stream
{
    background-color: rgba(202, 222, 239, 0.5);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px 0 #143658 inset;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
#stream #load-more
{
    background-color: #59A3FF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px 0 #91AFCD;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    margin-left: 239px;
    position: absolute;
    text-align: center;
    text-shadow: 0 -1px 0 #555555;
    width: 300px;
}
#stream > h2
{
    color: #6997C5;
    font-size: 11px;
    font-weight: 700;
    margin: 0;
    padding: 15px 0 10px 20px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
#stream > ul
{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 12px;
}
#stream > ul li
{
    background-color: rgba(105, 151, 197, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 -1px 0 #6997C5;
    color: #4379B0;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    padding: 3px 12px 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    margin-left: 15px;
}
#stream #stream-items
{
    padding-bottom: 10px;
}
/* stream item */
#stream .stream-item
{
    margin: 20px auto 0;
    width: 760px;
}
#stream .stream-item:first-child
{
    margin: 0 auto 0;
}
#stream .stream-item > div
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071a6;
}
#stream .stream-item .summary-large
{
    border-bottom: 1px solid #CFDDEB;
    height: 46px;
}
#stream .stream-item .summary-large img
{
    border-radius: 4px 0 0 0;
    float: left;
    height: 46px;
    width: 46px;
}
#stream .stream-item .summary-large .description
{
    color: #133A68;
    display: inline;
    font-size: 14px;
    font-weight: 600;
    line-height: 46px;
    margin: 0;
    padding-left: 7px;
    vertical-align: top;
}
#stream .stream-item .summary-large .description span
{
    color: #8C8C8C;
    font-size: 13px;
}
#stream .stream-item .summary-comment
{
    height: 30px;
    padding: 15px 15px 0;
}
#stream .stream-item .summary-comment img
{
    border-radius: 4px 0 0 0;
    float: left;
    height: 30px;
    width: 30px;
}
#stream .stream-item .summary-comment .description
{
    color: #133A68;
    display: inline;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    padding-left: 7px;
    vertical-align: top;
}
#stream .stream-item .summary-comment .description span
{
    color: #8C8C8C;
    font-size: 12px;
}
#stream .stream-item .heading
{
    background-color: #9EC3E8;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 26px;
    padding-left: 12px;
    text-shadow: 0 -1px 0 #4070A0;
    text-transform: uppercase;
}
#stream .stream-item .discussion .comment
{
    border-bottom: 1px solid #CFDDEB;
}
#stream .stream-item .discussion .comment:last-child
{
    border-bottom: none;
}
#stream .stream-item .discussion .comment > p
{
    color: #606060;
    font-size: 13px;
    margin: 0;
    padding: 0 50px 17px;
}
/* stream observation item */
#stream .observation .details
{
    color: #133A68;
    padding-bottom: 15px;
}
#stream .observation .details h2
{
    font-size: 29px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 10px 15px;
}
#stream .observation .details .images
{
    display: inline-block;
    vertical-align: top;
    width: 520px;
}
#stream .observation .details .images > img
{
    width: 513px;
    height: 470px;
}
#stream .observation .details .images .thumbnails
{
    padding: 13px 0;
}
#stream .observation .details .images .thumbnails img
{
    float: left;
    height: 78px;
    margin-right: 13px;
    width: 78px;
}
#stream .observation .details .info
{
    display: inline-block;
    margin-left: 7px;
    position: relative;
    right: 0;
    vertical-align: top;
    width: 229px;
}
#stream .observation .details .observed
{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
#stream .observation .details .observed span
{
    display: block;
    font-weight: 500;
}
#stream .observation .details .location
{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-top: 20px;
}
#stream .observation .details .location .map
{
    background-color: #F2F6FA;
    height: 225px;
    width: 230px;
}
#stream .observation .details .location span
{
    display: block;
    font-weight: 500;
}
#stream .observation .projects
{
    color: #133A68;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
}

#stream .observation .projects ul
{
    margin: 0;
    padding: 15px 0 0;
}
#stream .observation .projects li
{
    display: inline;
}
#stream .observation .projects a
{
}
#stream .observation .projects a img
{
    height: 78px;
    margin-right: 9px;
    width: 78px;
}
#stream .observation .notes
{
}
#stream .observation .note
{
    border-top: 4px solid #AEC8E2;
}
#stream .observation .note .note-details
{
    font-size: 14px;
    font-weight: 600;
    padding: 17px;
    position: relative;
    color: #133A68;
}
#stream .observation .note .note-details > div:first-child
{
    display: inline-block;
    vertical-align: top;
    width: 495px;
}
#stream .observation .note .note-details > div:last-child
{
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
    width: 217px;
}
#stream .observation .note .note-details .description
{
}
#stream .observation .note .note-details p
{
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 10px;
}
#stream .observation .note .identification
{
}
#stream .observation .note .identification .scientific-name span
{
    font-style: italic;
    display: block;
}
#stream .observation .note .identification .author
{
}
#stream .observation .note .identification .taxonomy
{
}
#stream .observation .note .tags ul
{
    margin: 0;
    padding: 0;
}
#stream .observation .note .tags li
{
    display: inline;
}
#stream .observation .note .tags a,
#stream .observation .note .tags a:active,
#stream .observation .note .tags a:visited
{
    background-color: #E1ECF8;
    border-radius: 4px 4px 4px 4px;
    color: #133A68;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin-top: 6px;
    padding: 1px 5px 3px;
    text-decoration: none;
}
#stream .observation .note .tags a:hover
{
    background-color: #3B9CFF;
    color: #FFFFFF;
}
/* stream post item */
#stream .post .details h2
{
    font-size: 29px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 10px 15px;
    color: #133A68;
}
#stream .post .details div p
{
    color: #133A68;
    font-size: 13px;
    font-weight: 500;
    margin: 0 15px 15px;
}
#stream .post .details div ul
{
}
#stream .post .details div li
{
    color: #133A68;
}
#stream .post .details div a,
#stream .post .details div a:active,
#stream .post .details div a:visited,
#stream .post .details div a:hover
{
    color: #3B9CFF;
}
#stream .post .details div strong
{
    font-weight: 600;
}
#stream .post .details div em
{
    font-style: italic;
}
#stream .post .attachments
{
    color: #133A68;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
}
#stream .post .attachments ul
{
    margin: 0;
    padding: 15px 0 0;
}
#stream .post .attachments li
{
    display: inline;
}
#stream .post .attachments a
{
}
#stream .post .attachments a img
{
    height: 78px;
    margin-right: 9px;
    width: 78px;
}
/* activity */
#activity
{
    background: none repeat scroll 0 0 rgba(202, 222, 239, 0.5);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #143658 inset;
    display: inline-block;
    height: 700px;
    margin-left: 17px;
    margin-top: 20px;
    vertical-align: top;
    width: 230px;
}
#activity h2
{
    color: #6997C5;
    font-size: 11px;
    font-weight: 700;
    margin: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
/* activity item */
#activity .activity-item
{
    background-color: #EBF3FB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071a6;
    height: 100px;
    margin: 10px;
}
/* form item */
.form
{
    background: url("/img/grid.png") repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px 0 #143658;
    padding: 15px;
}
.form legend 
{
    border-bottom: 2px solid #133A68;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #133A68;
    font-size: 29px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 100%;
}
.form fieldset > div 
{
    margin-top: 27px;
}
.form label 
{
    color: #133A68;
    font-size: 11px;
    font-weight: 600;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.form input[type=text],
.form input[type=date],
.form select
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #777777 inset;
    color: #000000;
    font-size: 16px;
    padding: 8px 12px;
    width: 400px;
}
.form input[type=text]:focus,
.form input[type=date]:focus,
.form select:focus
{
    border: 1px solid #154999;    
}
.form #title 
{
    width: 477px;
}
.form #observedOn 
{
    width: 182px;
}
.form #observedOnDatePicker 
{
    margin-left: -54px;
    margin-top: 7px;
    padding: 0 15px;
    position: absolute;
}
.form #projectPicker 
{
    margin-left: -54px;
    margin-top: 7px;
    padding: 0 15px;
    position: absolute;
}
.form form > div 
{
    margin-top: 20px;
    text-align: right;
}
.form input[type=submit],
.form input[type=button] 
{
    background: rgb(111,174,237);
    background: -moz-linear-gradient(top, rgba(111,174,237,1) 0%, rgba(64,150,238,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,174,237,1)), color-stop(100%,rgba(64,150,238,1)));
    background: -webkit-linear-gradient(top, rgba(111,174,237,1) 0%,rgba(64,150,238,1) 100%);
    background: -o-linear-gradient(top, rgba(111,174,237,1) 0%,rgba(64,150,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(111,174,237,1) 0%,rgba(64,150,238,1) 100%);
    background: linear-gradient(top, rgba(111,174,237,1) 0%,rgba(64,150,238,1) 100%);
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071A6;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 600;
    margin-left: 20px;
    padding: 5px 25px;
    text-shadow: 0 -1px 0 blue;
}
.form #mediaResourceDropZone 
{
    background: none repeat scroll 0 0 rgba(202, 222, 239, 0.6);
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #777777 inset;
    color: #000000;
    font-size: 16px;
    height: 72px;
    padding: 54px 12px 8px;
    text-align: center;
    width: 738px;
}
.form #mediaResourceDropZone span 
{
    color: #133A68;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -1px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.form #mediaResourceButton 
{
    font-size: 16px;
    margin-left: 5px;
    padding: 0 15px;
}
.form #title-field 
{
    display: inline-block;
    width: 557px;
}
.form #observedon-field 
{
    display: inline-block;
    vertical-align: top;
}
.form #projects-field
{
    
}
.form #projects 
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #777777 inset;
    color: #000000;
    display: inline-block;
    font-size: 16px;
    height: 49px;
    padding: 8px 12px;
    width: 373px;
}