body
{
    background-color: #FFFFFF;
}
#container
{
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
}
/* header area */
h1
{
    margin: 0;
}
#header
{
    height: 64px;
    position: fixed;
    width: 100%;
    z-index: 100;
    max-width: 1600px;
    min-width: 960px;
    background-color: #FFFFFF;
}
#header-content
{
    margin: 0 auto;
    width: 100%;
}
#main-title
{
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    height: 45px;
    left: 16px;
    position: absolute;
    text-indent: -9999px;
    top: 13px;
    width: 214px;
}
#main-menu-items
{
    height: 10px;
    margin: 0 auto;
    padding: 0 180px;
}
#main-menu
{
    padding-left: 306px;
    position: absolute;
}
#main-menu ul
{
    margin: 0;
    padding: 0;
}
#main-menu li
{
    display: inline-block;
    margin-right: 15px;
}
#main-menu a
{
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding-top: 23px;
    text-decoration: none;
}
#search-menu
{
    margin-left: 600px;
    padding-top: 15px;
}
#search-menu label
{
    display: none;
}
#search-box
{
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    height: 33px;
    padding-left: 8px;
    padding-right: 30px;
}
#search-box input
{
    border: 0 none;
    font-size: 13px;
    height: 31px;
    outline: medium none;
    width: 100%;
    -webkit-appearance: none;

}
#account-menu
{
    position: absolute;
    right: 4px;
    top: 15px;
}
#account-menu ul
{
    margin: 0;
    padding: 0;
}
#account-menu li
{
    display: inline-block;
    margin-right: 15px;
}
#account-menu li span
{
    display: inline-block;
}
#account-menu img
{
    border-radius: 2px 2px 2px 2px;
    height: 33px;
    width: 33px;
}
#account-menu a
{
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
    text-decoration: none;
    vertical-align: middle;
}
/* body area */
#main
{
    margin: 0 auto;
    padding-top: 64px;
    width: 100%;
}
/* sidebar */
#sidebar-column
{
    background-color: #FFFFFF;
    bottom: 0;
    position: fixed;
    top: 64px;
    width: 200px;
    z-index: 99;
}
#sidebar-content
{
    width: 100%;
}
.filter-group
{
    
}
.filter-group-title
{
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 20px;
    text-transform: uppercase;
}
.filter-group ul
{
    margin: 0;
    padding: 0;    
}
.filter-group li
{
    list-style: none outside none;
}
.filter-group li:last-child {
}
.filter-group li a
{
    display: block;
    font-size: 12px;
    padding: 10px 20px;
    text-decoration: none;
}
.filter-group li a:focus
{
    outline: none;
}
.filter-group li a img
{
     width: 25px;
     height: 25px;
}
/* workspace */
#workspace-column
{
    background-color: #FFFFFF;
    bottom: 0;
    max-width: 1600px;
    overflow: hidden;
    position: absolute;
    top: 64px;
    width: 100%;
}
#selected-filter
{
    
}
/* workspace items */
.workspace-item
{
    height: 100%;
    max-width: 1600px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    left: -1600px;
}
.workspace-item > div
{
    margin-left: 200px;
}
.workspace-item-selected
{
    
}
.workspace-stream
{
    
}
.workspace-form
{
    
}

/* selected filter */
#selected-filter-contents
{
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    padding-right: 21px;
}
#selected-filter-photo
{
    position: absolute;
}
#selected-filter-photo img
{
    border-bottom-left-radius: 3px;
    height: 107px;
    width: 107px;
}
#selected-filter-details
{
    height: 107px;
    margin-left: 116px;
}
#selected-filter-contents h1
{
    font-size: 18px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}
#selected-filter-contents p
{
    display: block;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    height: 55px;
    margin-top: 7px;
    overflow: hidden;
}
#selected-filter-nav
{
    background-color: #FFFFFF;
    padding-top: 34px;
}
#selected-filter-nav ul
{
    margin: 0;
    padding: 0;
}
#selected-filter-nav li
{
    background-color: #FFFFFF;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    text-align: center;
}
#selected-filter-nav li.selected
{
    
}
#selected-filter-nav li a
{
    border-radius: 3px 3px 0 0;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
}
/* timeline */
#timeline {
    border-top-left-radius: 3px;
    padding-bottom: 15px;
    padding-top: 15px;
}
/* timeline-item */
.timeline-item
{
    margin: 0 15px 15px;
}
.timeline-item-details
{
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px #888888;
    margin-left: 92px;
}
.timeline-item-summary
{
    background-color: #FFFFFF;
    border-radius: 3px 3px 0 0;
    padding: 10px;
}
.timeline-item-summary-user-avatar img
{
    height: 76px;
    width: 76px;
}
.timeline-item-summary-heading
{
    font-size: 11px;
    font-weight: bold;
}
.timeline-item-summary-date
{
    font-size: 11px;
    font-weight: bold;
}
.timeline-item-body
{
    
}
/* timeline observation item */
.timeline-item-observation
{
    position: relative;
}
.timeline-item-observation-summary
{
    padding: 10px;
}
.timeline-item-observation-name
{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}
.timeline-item-observation-scientific-name
{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}
.timeline-item-observation-location
{
    background-image: url("../img/map.png");
    border: 2px solid #BBBBBB;
    float: right;
    height: 121px;
    width: 283px;
    margin: 0 0 10px 10px;
}
.timeline-item-observation-photos
{
    position: relative;
}
.timeline-item-observation-photo-preview
{
    position: relative;
}
.timeline-item-observation-photo-preview img
{
    
}
.timeline-item-observation-photo-thumbnails
{
    height: 87px;
    overflow: hidden;
    padding: 7px 0;
    white-space: nowrap;
}
.timeline-item-observation-photo-thumbnails img
{
    margin-right: 3px;
    width: 116px;
}
.timeline-item-observation-description
{
    color: #555555;
    display: inline-block;
    font-size: 13px;
    padding: 10px;
}
.timeline-item-observation-tags
{
    padding: 10px;
}
.timeline-item-observation-tags a
{
    color: #777777;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
/* timeline comment item */
.timeline-item-comment-details
{
    color: #555555;
    font-size: 14px;
    padding: 10px;
}
/* timeline item brief observation details */
.timeline-item-brief-observation-summary
{
    padding: 10px;
}
.timeline-item-brief-observation-details
{
    background-color: #F9F9F9;
    border-radius: 3px 3px 3px 3px;
}
.timeline-item-brief-observation-name
{
    color: #444444;
    font-size: 13px;
    font-weight: bold;
}
.timeline-item-brief-observation-scientific-name
{
    color: #666666;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
}
.timeline-item-brief-observation-photos
{

}
.timeline-item-brief-observation-photos img
{
    margin-right: 2px;
    width: 100px;
}
.timeline-item-brief-observation-description
{
    color: #555555;
    display: inline-block;
    font-size: 11px;
    padding: 10px;
}
.timeline-item-brief-observation-location
{
    background-image: url("../img/map.png");
    border: 2px solid #BBBBBB;
    float: right;
    height: 90px;
    width: 207px;
    margin: 0 0 5px 5px;
}
/* timeline item identification */
.timeline-item-identification-details
{
    padding: 10px;
}
.timeline-item-identification-name
{
    font-size: 15px;
    font-weight: bold;
}
.timeline-item-identification-scientific-name
{
    color: #666666;
    font-style: italic;
    font-weight: bold;
}
.timeline-item-identification-vote
{
    margin-top: 9px;
}
.timeline-item-identification-vote-options .themed-button
{
    font-size: 11px;
    width: 88px;
    height: 23px;
}
.timeline-item-identification-vote-count
{
    background-image: url("../img/votes.png");
    background-size: 153px 73px;
    float: right;
    height: 72px;
    position: relative;
    top: -69px;
    width: 151px;
}
