/*
*
*  Simple fluid media
*
*/
figure {
  position: relative;
}
figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
*
*	Zoomable baseline grid
*	type size presets
*
*/
body {
  /* 16px / 24px */

  font-size: 1em;
  line-height: 1.5em;
}
.small {
  /* 13px / 18px */

  font-size: 0.8125em;
  line-height: 1.3846153846153846em;
}
.normal, h3 {
  /* 16px / 24px */

  font-size: 1em;
  line-height: 1.5em;
  /* 24 */

}
.large, h2, h1 {
  /* 26 / 36px */

  font-size: 1.625em;
  line-height: 1.3846153846153846em;
}
.huge {
  /* 42px / 48px */

  font-size: 2.625em;
  line-height: 1.1428571428571428em;
}
.massive {
  /* 68px / 72px */

  font-size: 4.25em;
  line-height: 1.0588235294117647em;
}
.gigantic {
  /* 110px / 120px */

  font-size: 6.875em;
  line-height: 1.0909090909090908em;
}






body
{
    background-color: #FFFFFF;
    background-image: url("/img/background.png");
    font-weight: 400;
    color: #222222;
    font-family: "open sans",sans-serif;
}
input 
{
    outline: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F2F6FA;
    box-shadow: 0 1px 2px 0 #91AFCD;
    height: 3.125em;
    z-index: 100;
}
header > div,
footer > div
{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
article
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    max-width: 1600px;
}
h1
{
    color: #154999;
    display: inline-block;
    font-size: 1.65em;
    font-weight: 600;
    letter-spacing: -0.045em;
    line-height: 1.9em;
    text-align: center;
    text-shadow: 0 2px 0 #FFFFFF;
    vertical-align: top;
}
/* header navigation */
header nav#main-menu,
header nav#search-menu
{
    display: none;
}
#account-menu
{
    float: right;
    width: 230px;
}
#account-menu ul
{
    margin: 0;
    padding: 0;
}
#account-menu li
{
    display: inline-block;
}
/*#account-menu li span
{
    display: inline-block;
}*/
#account-menu .user-menu img
{
    height: 46px;
    width: 46px;
}
#account-menu a
{
    color: #154999;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding-left: 3px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    vertical-align: middle;
}
#account-menu .new-observation-button 
{
    display: block;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 46px;
    
    
    background: -moz-linear-gradient(center top , #6FAEED 0%, #4096EE 100%) repeat scroll 0 0 transparent;
    
    border: 0 none;
    box-shadow: 0 1px 2px 0 #5071A6;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 600;
    text-shadow: 0 -1px 0 blue;
}
#account-menu .observations-menu img 
{
    left: 7px;
    position: relative;
    top: -2px;    
}
/* sidebar */
#sidebar
{
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
#sidebar .filter-group-title
{
    color: #6997C5;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 3em;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
#sidebar .filter-group ul
{
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071A6;
}
#sidebar .filter-group li
{
    display: block;
    position: relative;
}
#sidebar .filter-group li a
{
    background-color: #FFFFFF;
    border-bottom: 1px solid #CFDDEB;
    color: #133A68;
    display: block;
    font-size: 0.9375em;
    font-weight: 600;
    height: 3.06667em;
    overflow: hidden;
    text-decoration: none;
}
#sidebar .filter-group li:first-child a
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#sidebar .filter-group li:last-child a
{
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#sidebar .filter-group li img 
{
    display: block;
    float: left;
    margin-right: 13px;
    height: 100%;
}
#sidebar #default-filters.filter-group li:first-child img 
{
    border-radius: 4px 0 0 0;
}
#sidebar #watch-lists.filter-group li:last-child img 
{
    border-radius: 0 0 0 4px;
}
#sidebar .filter-group li a > div
{
    display: table-cell;
    height: 3.06666667em;
    vertical-align: middle;
    letter-spacing: -0.019em;
}
#sidebar .filter-group li a > div p
{
    line-height: 1.36em;
    margin: 0;
    overflow: hidden;
    padding: 2px 2px 0 0;
}
#sidebar .filter-group li a > div p span
{
    background-color: #CC0000;
    background-image: -moz-linear-gradient(right bottom , #1E5707 33%, #3BAB24 79%);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071A6;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    padding: 0 4px;
    position: absolute;
    right: -4px;
    top: 11px;
}
/* selected filter group */
#selected-filter-group
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    height: 187px;
    -webkit-box-shadow: 0px 1px 2px 0px #91AFCD;
    -moz-box-shadow: 0px 1px 2px 0px #91AFCD;
    box-shadow: 0px 1px 2px 0px #91AFCD; 
}
#selected-filter-group > img
{
    border-radius: 4px 0 0 0;
    float: left;
    padding-right: 15px;
}
#selected-filter-group > div > h2
{
    color: #143658;
    font-size: 1.6875em;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    white-space: nowrap;
}
#selected-filter-group > div > ul
{
    border-bottom: 1px solid #CFDDEB;
    border-top: 1px solid #CFDDEB;
    display: block;
}
#selected-filter-group > div > ul li
{
    color: #AAAAAA;
    display: inline-block;
    font-size: 0.69em;
    line-height: 1em;
    padding: 26px 4px 0 0;
    text-align: center;
    width: 6.2em;
}
#selected-filter-group > div > ul li span
{
    color: #000000;
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 4px;
    padding-top: 8px;
}
#selected-filter-group > div p
{
    color: #143658;
    font-size: 0.8125em;
    font-weight: 500;
    line-height: 1.25em;
    margin: 0;
    max-height: 50px;
    overflow: hidden;
    padding-right: 15px;
    padding-top: 12px;
}
/* stream */
#stream-container
{
    background-color: rgba(202, 222, 239, 0.5);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 #143658 inset;
    margin-bottom: 20px;
    position: relative;
    min-height: 500px;
}
#stream-container #load-more
{
    background-color: #59A3FF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px 0 #91AFCD;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    margin-left: 239px;
    position: absolute;
    text-align: center;
    text-shadow: 0 -1px 0 #555555;
    width: 300px;
}
#stream-container > h2
{
    color: #6997C5;
    float: left;
    font-size: 0.6875em;
    font-weight: 700;
    line-height: 1.5em;
    padding: 2.3% 0 1.8% 2%;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    width: 38%;
}
#stream-container > ul
{
    float: right;
    line-height: 0.6em;
    padding: 2.3% 2% 1.8% 0;
    text-align: right;
    width: 50%;
}
#stream-container > ul li
{
    background-color: rgba(105, 151, 197, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 -1px 0 #6997C5;
    color: #4379B0;
    display: inline-block;
    font-size: 0.625em;
    font-weight: 600;
    line-height: 1em;
    margin-left: 15px;
    padding: 3px 12px 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
#stream-container > div
{
    padding-bottom: 2%;
    clear: both;
}
/* stream item */
#stream .stream-item
{
    margin: 2% 2% 0;
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071a6;
}
/*#stream .stream-item:first-child
{
    margin: 2%;
}
#stream .stream-item > div
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071a6;
}*/
#stream .stream-item .summary
{
    border-bottom: 1px solid #CFDDEB;
    height: 46px;
}
#stream .stream-item .summary img
{
    border-radius: 4px 0 0 0;
    float: left;
    height: 46px;
    width: 46px;
}
#stream .stream-item .summary .description
{
    color: #133A68;
    display: inline;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 3.5em;
    margin: 0;
    padding-left: 7px;
    vertical-align: top;
}
#stream .stream-item .summary .description span
{
    color: #8C8C8C;
    font-size: 0.8125em;
}
#stream .stream-item .details
{
    color: #133A68;
    padding-bottom: 15px;
}
#stream .stream-item .details h2
{
    font-size: 1.8125em;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 10px 15px;
}
#stream .stream-item .details > div
{
    overflow: auto;
    width: 100%;
}
#stream .stream-item .summary-comment
{
    height: 30px;
    padding: 15px 15px 0;
}
#stream .stream-item .summary-comment img
{
    border-radius: 4px 0 0 0;
    float: left;
    height: 30px;
    width: 30px;
}
#stream .stream-item .summary-comment .description
{
    color: #133A68;
    display: inline;
    font-size: 0.8125em;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    padding-left: 7px;
    vertical-align: top;
}
#stream .stream-item .summary-comment .description span
{
    color: #8C8C8C;
    font-size: 12px;
}
#stream .stream-item .heading
{
    background-color: #AEC8E2;
    color: #FFFFFF;
    font-size: 0.8125em;
    font-weight: 700;
    padding-left: 12px;
    text-shadow: 0 -1px 0 #4070A0;
    text-transform: uppercase;
}
#stream .stream-item .discussion
{
    clear: both;
}
#stream .stream-item .discussion .comment
{
    border-bottom: 1px solid #CFDDEB;
}
#stream .stream-item .discussion .comment:last-child
{
    border-bottom: none;
}
#stream .stream-item .discussion .comment > p
{
    color: #606060;
    font-size: 0.8125em;
    line-height: 1.3em;
    margin: 0;
    padding: 0 50px 17px;
}
/* stream observation item */
#stream .observation-stream-item .details .images
{
    float: left;
    /*margin-bottom: 2%;*/
    padding-right: 2%;
    width: 70%;
}
#stream .observation-stream-item .details .images .preview
{
    max-height: 600px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
#stream .observation-stream-item .details .images .preview  img
{
    float: left;
    width: 100%;
}
#stream .observation-stream-item .details .images .thumbnails
{
    padding-top: 1%;
}
#stream .observation-stream-item .details .images .thumbnails img
{
    float: left;
    margin-right: 1%;
    width: 19.2%;
}
#stream .observation-stream-item .details .images .thumbnails img:last-child
{
    margin-right: 0;
}
#stream .observation-stream-item .details .info
{
    float: left;
    width: 28%;
}
#stream .observation-stream-item .details .observed
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0;
}
#stream .observation-stream-item .details .observed span
{
    display: block;
    font-weight: 500;
}
#stream .observation-stream-item .details .location
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    padding-top: 20px;
}
#stream .observation-stream-item .details .location .map
{
    background-color: #F2F6FA;
    height: 200px;
}
#stream .observation-stream-item .details .location span
{
    display: block;
    font-weight: 500;
}
#stream .observation-stream-item .projects
{
    color: #133A68;
    padding-bottom: 15px;
    font-weight: 600;
}
#stream .observation-stream-item .projects ul
{
    margin: 0;
    padding: 15px 0 0;
}
#stream .observation-stream-item .projects li
{
    display: inline;
}
#stream .observation-stream-item .projects a
{
}
#stream .observation-stream-item .projects a img
{
    height: 78px;
    margin-right: 9px;
    width: 78px;
}
#stream .observation-stream-item .notes
{
    clear: both;
}
#stream .observation-stream-item .note
{
    border-top: 4px solid #AEC8E2;
    clear: both;
}
#stream .observation-stream-item .note .note-details
{
    color: #133A68;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.2em;
    padding: 17px;
    position: relative;
}
#stream .observation-stream-item .note .note-details > div:first-child
{
    float: left;
    padding-right: 2%;
    width: 70%;
}
#stream .observation-stream-item .note .note-details > div:last-child
{
    float: left;
    width: 28%;
}
#stream .observation-stream-item .note .note-details .description
{
}
#stream .observation-stream-item .note .note-details p
{
    font-size: 0.92857143em;
    font-weight: 500;
    margin: 0 0 10px;
}
#stream .observation-stream-item .note .identification
{
}
#stream .observation-stream-item .note .identification .scientific-name span
{
    font-style: italic;
    display: block;
}
#stream .observation-stream-item .note .identification .author
{
}
#stream .observation-stream-item .note .identification .taxonomy
{
}
#stream .observation-stream-item .note .tags ul
{
    margin: 0 0 15px 0;
    padding: 0;
}
#stream .observation-stream-item .note .tags li
{
    display: inline;
}
#stream .observation-stream-item .note .tags a,
#stream .observation-stream-item .note .tags a:active,
#stream .observation-stream-item .note .tags a:visited
{
    background-color: #E1ECF8;
    border-radius: 4px 4px 4px 4px;
    color: #133A68;
    display: inline-block;
    font-size: 0.86em;
    font-weight: 500;
    margin-top: 6px;
    padding: 1px 5px 3px;
    text-decoration: none;
}
#stream .observation-stream-item .note .tags a:hover
{
    background-color: #3B9CFF;
    color: #FFFFFF;
}
/* stream post item */
#stream .post-stream-item .details div p
{
    color: #133A68;
    font-size: 0.8125em;
    font-weight: 500;
    line-height: 1.25em;
    margin: 0 15px 15px;
}
#stream .post-stream-item .details div h3
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0 15px 5px;
}
#stream .post-stream-item .details div ul,
#stream .post-stream-item .details div ol
{
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 15px 15px 15px 30px;
}
#stream .post-stream-item .details div li
{
    color: #133A68;
}
#stream .post-stream-item .details div a,
#stream .post-stream-item .details div a:active,
#stream .post-stream-item .details div a:visited,
#stream .post-stream-item .details div a:hover
{
    color: #3B9CFF;
}
#stream .post-stream-item .details div strong
{
    font-weight: 600;
}
#stream .post-stream-item .details div em
{
    font-style: italic;
}
#stream .post-stream-item .attachments
{
    color: #133A68;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
}
#stream .post-stream-item .attachments ul
{
    margin: 0;
    padding: 15px 0 0;
}
#stream .post-stream-item .attachments li
{
    display: inline;
}
#stream .post-stream-item .attachments a
{
}
#stream .post-stream-item .attachments a img
{
    height: 78px;
    margin-right: 9px;
    width: 78px;
}
/* stream observation note item */
#stream .observation-note-stream-item
{
    
}
#stream .observation-note-stream-item .details > div > div:first-child
{
    position: relative;
    float: left;
    padding-right: 2%;
    width: 70%;
}
#stream .observation-note-stream-item .details > div > div:last-child
{
    float: left;
    width: 28%;
}
#stream .observation-note-stream-item .details .description
{
/*    float: left;
    padding-right: 2%;
    width: 70%;*/
}
#stream .observation-note-stream-item .details h3
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0 15px 5px;
}
#stream .observation-note-stream-item .details p
{
    color: #133A68;
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 0 15px 15px;
}
#stream .observation-stream-item .note .identification
{
}
#stream .observation-note-stream-item .identification .scientific-name span
{
    font-style: italic;
    display: block;
}
#stream .observation-note-stream-item .identification .author
{
}
#stream .observation-note-stream-item .identification .taxonomy
{
}
#stream .observation-note-stream-item .tags ul
{
    margin: 0 15px;
    padding: 0;
}
#stream .observation-note-stream-item .tags li
{
    display: inline;
}
#stream .observation-note-stream-item .tags a,
#stream .observation-note-stream-item .tags a:active,
#stream .observation-note-stream-item .tags a:visited
{
    background-color: #E1ECF8;
    border-radius: 4px 4px 4px 4px;
    color: #133A68;
    display: inline-block;
    font-size: 0.76em;
    font-weight: 500;
    line-height: 1em;
    margin-top: 6px;
    padding: 3px 5px 5px;
    text-decoration: none;
}
#stream .observation-note-stream-item .tags a:hover
{
    background-color: #3B9CFF;
    color: #FFFFFF;
}
/* stream comment item */
#stream .comment-stream-item p
{
    color: #606060;
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 0 15px 15px;
}
/* stream project item */
#stream .project-stream-item p
{
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 0 15px 15px;
}
/* form item */
.form form
{
    background-color: #DFEAF6;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 5px 0 #143658;
    margin-bottom: 20px;
    margin-top: 13px;
}
.form form > fieldset
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding-top: 15px;
    position: relative;
    width: 100%;
}
.form form > fieldset fieldset
{
    background: none repeat scroll 0 0 rgba(202, 222, 239, 0.8);
    float: left;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top: 15px;
    position: relative;
    width: 100%;
}
.form > form > fieldset fieldset:last-child
{
    margin-bottom: 0;
}
.form h2
{
    color: #6997C5;
    display: block;
    font-size: 0.75em;
    font-weight: 700;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.form > form > fieldset > legend 
{
    display: none;
}
.form .field
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    float: left;
    padding: 0 15px 0;
    width: 100%;
    margin-bottom: 15px;
}
.form form > fieldset > .field:last-child
{
    margin-bottom: 0;
}
.form .field div:last-child
{
    padding-right: 26px;
    position: relative;
}
.form .field div p
{
    margin-bottom: 0;
}
.form fieldset > div .field
{
    margin-top: 0;
}
.form > form > fieldset fieldset legend
{
    left: 15px;
    position: absolute;
    top: -23px;
}
.form label span
{
    color: #6997C5;
    font-size: 0.78em;
    padding-left: 3px;
}
.form label,
.form > form > fieldset fieldset legend
{
    color: #133A68;
    font-size: 0.72em;
    font-weight: 600;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.form > form > fieldset:last-child
{
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.form input[type=text],
.form input[type=password],
.form input[type=date],
.form select,
.form textarea
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid #509EEE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #777777 inset;
    color: #000000;
    font-size: 1em;
    padding: 8px 12px;
    width: 100%;
    font-family: "open sans",sans-serif;
}
.form input[type=text]:focus,
.form input[type=password]:focus,
.form input[type=date]:focus,
.form select:focus,
.form textarea:focus
{
    box-shadow: 0 1px 2px 0 #777777 inset, 0 1px 6px 0 rgba(80, 158, 238, 0.4);
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
}
.form input[type=text].input-validation-error,
.form input[type=password].input-validation-error,
.form input[type=date].input-validation-error,
.form select.input-validation-error,
.form textarea.input-validation-error
{
    background-color: #FFDFDF;
    border-color: #8B2323;
}
.form input[type=text].input-validation-error:focus,
.form input[type=password].input-validation-error:focus,
.form input[type=date].input-validation-error:focus,
.form select.input-validation-error:focus,
.form textarea.input-validation-error:focus
{
    background-color: #FFEFEF;
    box-shadow: 0 1px 2px 0 #777777 inset, 0 1px 6px 0 rgba(238, 67, 67, 0.4);
}
.form form > div 
{
    margin-top: 20px;
    text-align: right;
}
.form input[type=submit],
.form input[type=button],
.form button,
.form .button
{
    background: rgb(111,174,237);
    background: -moz-linear-gradient(top, rgba(111,174,237,1) 0%, rgba(64,150,238,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,174,237,1)), color-stop(100%,rgba(64,150,238,1)));
    background: -webkit-linear-gradient(top, rgba(111,174,237,1) 0%,rgba(64,150,238,1) 100%);
    background: -o-linear-gradient(top, rgba(111,174,237,1) 0%,rgba(64,150,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(111,174,237,1) 0%,rgba(64,150,238,1) 100%);
    background: linear-gradient(top, rgba(111,174,237,1) 0%,rgba(64,150,238,1) 100%);
    border: 1px solid #1B83EB;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 0.99em;
    font-weight: 600;
    padding: 3px 18px;
    text-shadow: 0 -1px 0 blue;
    margin-right: 15px;
    font-family: "open sans",sans-serif;
}
.form input[type=submit]:hover,
.form input[type=button]:hover,
.form button:hover,
.form .button:hover,
.form input[type=submit]:focus,
.form input[type=button]:focus,
.form button:focus,
.form .button:focus
{
    box-shadow: 0 1px 6px 0 rgba(80, 158, 238, 0.9);
}
.form form > fieldset:last-child input[type=submit],
.form form > fieldset:last-child input[type=button]
{
    float: right;
    margin-left: 15px;
    padding: 4px 22px;
    position: relative;
    right: 0;
    font-size: 1.22em;
    margin-right: 0;
}
.form p 
{
    color: #6997C5;
    font-size: 0.84em;
    line-height: 1.3em;
    margin: 0 15px 15px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.form p a
{
    color: #4096EE;
    margin: 0 0 15px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.form .field-checkbox div:last-child {
  display: block;
  width: 63px;
  height: 32px;
  overflow: hidden;
  border-radius: 16px;
  margin-top: 3px;
}
.form .field-checkbox div:last-child input[type=checkbox] {
  display: none;
}
.form .field-checkbox div:last-child input[type=checkbox] + label {
  text-indent: -9999px;
  display: block;
  width: 150px;
  height: 32px;
  line-height: 32px;
  background: transparent url(/img/checkbox-sprite-ios5.png) no-repeat -58px 0;
  -webkit-transition: background-position 0.3s ease-in-out;
  -moz-transition: background-position 0.3s ease-in-out;
  cursor: pointer;
}
.form .field-checkbox div:last-child input[type=checkbox]:checked + label {
  -webkit-transition: background-position 0.3s ease-in-out;
  -moz-transition: background-position 0.3s ease-in-out;
  background-position: -3px 0;
}
.form .validation-summary-errors
{
    background: none repeat scroll 0 0 #FF9494;
    border-radius: 4px 4px 0 0;
    color: #711717;
    font-size: 0.84em;
    padding: 10px 15px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    line-height: 1.3em;
}
.form .field-validation-error
{
    border-radius: 0 0 4px 4px;
    color: #8B2323;
    display: block;
    font-size: 0.84em;
    line-height: 1.3em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.field.field-part-one
{
    clear: none;
    padding-right: 0;
    width: 50%;
}
.field.field-part-one input[type=text]
{
    border-radius: 4px 0 0 4px;
    border-right: medium none;
}
.field.field-part-two
{
    clear: none;
    padding-left: 0;
    width: 50%;
}
.field.field-part-two input[type=text]
{
    border-left: medium none;
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    position: relative;
}
/* Custom form elements */
#form-create-observation form
{
    background-image: url("/img/grid.png");
}
.form #observedOn 
{
    padding: 8px 60px 8px 12px;
}
.form #projectPicker 
{
    border-radius: 0 4px 4px 0;
    margin-left: -48px;
    padding: 15px;
    position: absolute;
}
.form #media-resource-items
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid #509EEE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #777777 inset;
    height: 174px;
    margin: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.form #media-resource-items p
{
    display: block;
    font-size: 1.2em;
    height: 174px;
    line-height: 166px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.form .media-resource-uploaded
{
    background-color: White;
    display: block;
    float: left;
    height: 138px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    width: 138px;
    border-radius: 4px 4px 4px 4px;
}
.form .media-resource-dropzone
{
    position: fixed;
    background-color: Red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.form .media-resource-upload-button
{
    width: 96px;
    display: block;
    float: left;
}
.form #title-field
{
    width: 70%;
}
.form #title-field div:last-child
{
    padding-right: 26px;
}
.form #observedon-field
{
    width: 30%;
    clear: none;
}
.form #projects 
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
    border: 1px solid #509EEE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #777777 inset;
    color: #000000;
    display: inline-block;
    font-size: 1em;
    height: 43px;
    padding: 6px 12px 8px;
    width: 342px;
}
.form #address-field
{
    width: 85%;
}
.form #address-field div:last-child
{
    padding-right: 107px;
}
.form #latitude-field
{
    width: 30%;
}
.form #longitude-field 
{
    width: 30%;
}
.form #address 
{
    padding: 8px 93px 8px 12px;
}
.form #location-map
{
    height: 460px;
    width: 100%;
    margin-bottom: 15px;
}
.form #anonymise-location-field {
    clear: none;
    float: left;
    margin-bottom: 20px;
    margin-left: 4%;
    width: 20%;
}
.form #find-latlon-field {
    clear: none;
    float: left;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-top: 28px;
    width: 14%;
}
.form #find-latlon-field button {
    font-size: 1em;
}
.form #observedon-field div:last-child
{
    padding-right: 74px;
    position: relative;
}
.form .field div:last-child button
{
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.form #observedon-field button
{
    padding: 7px 9px;
    margin-right: 0;
}
.form #address-field button
{
    padding: 7px 15px;
}
.form #pin-field
{
    clear: none;
    margin-left: 2.8%;
    position: relative;
    width: 9%;
}
.form #pin-field label
{
    padding-left: 5px;
}
.form #location-pin 
{
    position: absolute;
    cursor: pointer;
    padding-right: 0;
}
.ui-autosearch {
	background-color: white;
	width: 300px;
	border: 1px solid #cfcfcf;
	list-style-type: none;
	padding-left: 0px;
	cursor:pointer;
	padding: 3px 13px 0;
}
.ui-menu-item
{
    padding-bottom: 3px;
}
/* activity */
#activity
{
    background: none repeat scroll 0 0 rgba(202, 222, 239, 0.5);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #143658 inset;
    height: 700px;
}
#activity h2
{
    color: #6997C5;
    font-size: 11px;
    font-weight: 700;
    margin: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
/* activity item */
#activity .activity-item
{
    background-color: #EBF3FB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071a6;
    height: 100px;
    margin: 10px;
}