/* 
*
* Stream 
*
*/
.activity-list .activity-item,
.sighting-list .sighting-item
{
    margin: 0 2% 2%;
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    list-style: none outside none;
    display: inline-block;
    margin: 0 0 2%;
    width: 100%;
}
.sighting-list .sighting-item.thumbnail {
    margin: 0 2% 2%;
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    list-style: none outside none;
    display: inline-block;
    margin: 0 0 2%;
    width: 100%;
}
.activity-list .activity-item:last-child,
.sighting-list .sighting-item:last-child
{
    margin: 0;
}
.activity-list .activity-item .summary
{
    background-color: rgb(249, 249, 249);
    border-top-right-radius: 4px;
    height: 46px;
}
.activity-list .activity-item .summary .image-media.media-square-100
{
    border-radius: 4px 0 0 0;
    float: left;
    height: 46px;
    width: 46px;
}
.activity-list .activity-item .summary .description
{
    color: rgb(68, 68, 68);
    display: inline;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 3.5em;
    margin: 0;
    padding-left: 10px;
    vertical-align: top;
}
.activity-list .activity-item .summary .description abbr
{
    border-bottom: 1px dotted rgb(187, 187, 187);
    color: rgb(128, 128, 128);
    font-size: 0.86em;
    font-weight: 400;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.activity-list .activity-item .actions {
    background-color: rgb(249, 249, 249);
    border-radius: 0 0 4px 4px;
    padding: 2%;
    width: 100%;
    float: left;
}
.stream-message
{
    background-color: rgb(220, 220, 220);
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(120, 120, 120, 0.5) inset;
    color: rgb(126, 126, 126);
    float: left;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 7em;
    padding: 2%;
    text-align: center;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    width: 100%;
}
.stream-loading {
    float: left;
    width: 100%;
}
.stream-loading img {
    display: block;
    margin: 0 auto;
    width: 32px;
    padding-top: 2%;
}
.stream-load-more
{
    padding-top: 2%;
}
.stream-load-more .button
{
    width: 100%;
}
.stream-load-new
{
    padding-bottom: 2%;
}
.stream-load-new .button
{
    width: 100%;
}
/* stream observation note item */
#stream .observation-note-stream-item
{
    
}
#stream .observation-note-stream-item .details > div > div:first-child
{
    position: relative;
    float: left;
    padding-right: 2%;
    width: 70%;
}
#stream .observation-note-stream-item .details > div > div:last-child
{
    float: left;
    width: 28%;
}
#stream .observation-note-stream-item .details .description
{
/*    float: left;
    padding-right: 2%;
    width: 70%;*/
}
#stream .observation-note-stream-item .details h3
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0 15px 5px;
}
#stream .observation-note-stream-item .details p
{
    color: #133A68;
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 0 15px 15px;
}
#stream .observation-stream-item .note .identification
{
}
#stream .observation-note-stream-item .identification .scientific-name span
{
    font-style: italic;
    display: block;
}
#stream .observation-note-stream-item .identification .author
{
}
#stream .observation-note-stream-item .identification .taxonomy
{
}
#stream .observation-note-stream-item .tags ul
{
    margin: 0 15px;
    padding: 0;
}
#stream .observation-note-stream-item .tags li
{
    display: inline;
}
#stream .observation-note-stream-item .tags a,
#stream .observation-note-stream-item .tags a:active,
#stream .observation-note-stream-item .tags a:visited
{
    background-color: #E1ECF8;
    border-radius: 4px 4px 4px 4px;
    color: #133A68;
    display: inline-block;
    font-size: 0.76em;
    font-weight: 500;
    line-height: 1em;
    margin-top: 6px;
    padding: 3px 5px 5px;
    text-decoration: none;
}
#stream .observation-note-stream-item .tags a:hover
{
    background-color: #3B9CFF;
    color: #FFFFFF;
}
/* stream comment item */
#stream .comment-stream-item p
{
    color: #606060;
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 0 15px 15px;
}
/* stream project item */
#stream .project-stream-item p
{
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 0 15px 15px;
}

/*****************************************************/
/* stream */
#stream
{
    min-height: 700px;
}
#stream h2
{
    color: #6997C5;
    font-size: 0.75em;
    font-weight: 700;
    /*margin: 10px;*/
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    padding: 15px;
}
/* activity item */
#stream .activity-item
{
    background-color: #EBF3FB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071a6;
    height: 100px;
    margin: 10px;
}
.activity-window
{
    background-color: white;
    border: 1px solid black;
    top: 50px;
    height: auto;
    min-height:400px;
    max-height: 50%;
    position: fixed;
    right: 0;
    width: 200px;
    padding: 5px;
}

#avatar-uploaded img
{
    height:220px;   
}



/*
ul.explore-menu
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;   
}
.explore-list
{
    margin-top:50px;   
    padding:10px;
    border: 1px solid black;
    height:100%;
}
.explore-item
{
    float:left;
    width:200px;
    height:200px;
    margin:10px;
    border: 1px solid black;
       
}
.explore-item-summary {
    margin: 5px;
}
.explore-item-details
{
    margin: 5px;
}
.explore-item-contents
{
    margin: 5px;
}
*/
/*-----------------AVATAR UPLOAD-----------*/
.explore-avatar
{
    height: 50px;
    width: 50px;
}

.form .avatar-upload-button
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-right: 0;
    overflow: hidden;
    padding: 3px 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 126px;
}
.form .avatar-upload-button input
{
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 118px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.form #avatar-viewer
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset;
    color: rgb(0, 0, 0);
    display: block;
    font-family: "open sans",sans-serif;
    font-size: 1em;
    padding: 13px 13px 7px;
    width: 126px;
    height: 125px;
}
.form .avatar-field
{
    display: block;
    width: 126px;
}
.form #website-field {
    float: none;
    margin-bottom: 10px;
    margin-left: 145px;
    width: auto;
}
.form #team-field {
    float: none;
    margin-left: 145px;
    width: auto;
}



/** Sight list **/
.tab-bar .tab-image-button {
    background-image: url("/img/icons.png");
}
.tab-bar .details-view-button
{
    background-position: -114px -347px;
}
.tab-bar .details-view-button:hover,
.tab-bar .details-view-button.selected {
    background-position: -114px -400px;
}
.tab-bar .thumbnails-view-button
{
    background-position: -63px -347px;
}
.tab-bar .thumbnails-view-button:hover,
.tab-bar .thumbnails-view-button.selected
{
    background-position: -63px -400px;
}
.tab-bar .list-view-button
{
    background-position: -9px -347px;
}
.tab-bar .list-view-button:hover,
.tab-bar .list-view-button.selected
{
    background-position: -9px -400px;
}
.tab-bar .map-view-button
{
    background-position: -167px -347px;
}
.tab-bar .map-view-button:hover,
.tab-bar .map-view-button.selected
{
    background-position: -167px -400px;
}


.sighting-note-details {
    float: left;
    padding: 2% 2% 0;
    width: 100%;
}
.small-sighting-details 
{
    background-color: rgb(249, 249, 249);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    display: block;
    float: left;
    padding: 1.5%;
    right: 2%;
    width: 96%;
}
.small-sighting-details h3 
{
    display: inline-block;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.1em;
    margin: 0;
    padding: 0 2% 5px 0;
    width: 69%;
}
.small-sighting-details h3 a, 
.small-sighting-details h3 a:hover, 
.small-sighting-details h3 a:active, 
.small-sighting-details h3 a:visited {
    color: rgb(34, 34, 34);
    text-decoration: none;
}
.small-sighting-details .images {
    display: inline-block;
    float: left;
    width: 37%;
}
.small-sighting-details .info 
{
    float: left;
    margin-left: 2%;
    position: relative;
    width: 61%;
}
.small-sighting-details .user {
    display: inline-block;
    float: left;
    width: 100%;
}
.small-sighting-details .user .media-square-100 {
    float: left;
    width: 26px;
}
.small-sighting-details .user span {
    display: block;
    float: left;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1em;
    margin-left: 5px;
    margin-top: 6px;
}
.small-sighting-details .observed {
    display: inline-block;
    float: left;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1em;
    margin-top: 11px;
    width: 100%;
}
.small-sighting-details .observed span 
{
    display: block;
    font-weight: 500;
    line-height: 1.5em;
}
.small-sighting-details .location {
    display: inline-block;
    float: left;
    font-size: 0.8em;
    line-height: 1.25em;
    margin-right: 3%;
    margin-top: 11px;
    width: 49%;
}
.small-sighting-details .location .map {
    background-color: rgb(221, 221, 221);
    display: block;
    height: 85px;
    width: 100%;
}
.small-sighting-details .projects,
.small-sighting-details .comments,
.small-sighting-details .notes {
    display: block;
    float: left;
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 6px;
    width: 42%;
}
.small-sighting-details .projects
{
    padding-top: 11px;
}
.small-sighting-details .projects span,
.small-sighting-details .comments span,
.small-sighting-details .notes span {
    background-color: rgb(215, 230, 245);
    border-radius: 6px 6px 6px 6px;
    color: rgb(34, 34, 34);
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    height: 26px;
    line-height: 1.9em;
    margin-right: 2px;
    text-align: center;
    text-shadow: 0 0 1px rgb(255, 255, 255);
    width: 26px;
}

.sighting-note-details > div,
.sighting-note > div {
    margin-top: 2%;
    float: left;
    width: 100%;
}
.sighting-note-details > div:first-child,
.sighting-note > div:first-child {
    margin-top: 0;
}
.sighting-note-details > div:last-child,
.sighting-note > div:last-child {
    margin-bottom: 2%;
}
.sighting-note-description {
    font-size: 0.875em;
}
.sighting-note-description span {
    font-weight: 600;
}
.sighting-note-description p {
    background-color: rgb(242, 242, 242);
    border-radius: 4px 4px 4px 4px;
    font-size: 0.95em;
    font-weight: 500;
    line-height: 1.35em;
    padding: 1.5%;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.sighting-note-tags a {
    background-color: rgb(237, 244, 250);
    border: 2px solid rgb(171, 208, 245);
    border-radius: 6px 6px 6px 6px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    line-height: inherit;
    padding: 0.1em 0.4em;
    position: relative;
    text-decoration: none;
}
.sighting-note-tags a:hover {
    border-color: rgb(67, 146, 225);
}
.sighting-note-tags span {
    display: block;
    font-weight: 600;
    font-size: 0.875em;
    margin-bottom: 5px;
}
/* Identification */
.identification .identification-details {
    background-color: rgb(243, 255, 241);
    border: 1px solid rgb(14, 122, 0);
    border-radius: 4px 4px 4px 4px;
    float: left;
    padding: 1.5%;
    width: 100%;
}
.identification-heading {
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    padding-bottom: 4px;
}
.identification {
}
.identification .identification-none {
    color: rgb(187, 187, 187);
    display: block;
    margin: 37px auto;
    text-align: center;
    width: 100%;
}
.identification .identification-details img 
{
    display: block;
    float: left;
    height: 100px;
    margin-right: 10px;
    width: 100px;
}
.identification .identification-name
{
}
.identification .identification-rank-type
{
    font-size: 0.8em;
    line-height: 0.9em;
    margin-bottom: 4px;
}
.identification .identification-taxonomy
{
    /*font-size: 0.8em;
    line-height: 0.9em;
    margin-bottom: 4px;*/
    
    color: rgb(85, 85, 85);
    font-size: 0.84em;
    line-height: 1.1em;
    padding: 0.3em 0;
    margin-left: 110px;
}
.identification .identification-common-names
{
    /*font-size: 0.8em;
    line-height: 0.9em;
    margin-bottom: 4px;*/
    color: rgb(136, 136, 136);
    font-size: 0.84em;
    line-height: 1.1em;
    padding: 0.3em 0;
    margin-left: 110px;
}



