<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="bowerbird-test" connectionString="Url=http://localhost:1111/;DefaultDatabase=bowerbird-test" />
    <add name="bowerbird" connectionString="Url=http://zen:8080/;DefaultDatabase=bowerbird_dev" />
  </connectionStrings>
</configuration>