/*
*
* Element resets
*
*/
figure {
  position: relative;
}
figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
input,
textarea,
button
{
    outline: none;
}
input[type="search"] 
{ 
    -moz-appearance:none;
    -webkit-appearance: none;
}
/* apply a natural box layout model to all elements */
* 
{
     -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}
/*
*
* Zoomable baseline grid type size presets
*
*/
body 
{
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
}
/*
*
*Hidden elements
*
*/
.hidden
{
    display: none;
}
/*
*
* Body, header, content and footer layouts
*
*/
body
{
    background-color: rgb(245, 245, 245);
    /*background-image: url("/img/background.png");*/
    font-weight: 400;
    color: #222222;
    font-family: "open sans", Arial, Helvetica, san-serif;
    height: 100%;
    min-height: 100%;
    text-shadow: rgba(0,0,0,0) 0px 0px 1px;
    overflow-y: scroll;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    height: 3.5em;
    z-index: 10;
}
footer
{
    background-color: rgb(234, 234, 234);
    box-shadow: 0 1px 1px 0 rgb(168, 168, 168) inset;
    clear: both;
    height: 200px;
}
header > div,
footer > div
{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
article
{
    height: 100%;
    margin: 0 auto -200px;
    max-width: 1200px;
    min-height: 100%;
}
/*
*
* Main heading
*
*/
header h1 a
{
    display: table-cell;
    height: 56px;
    vertical-align: middle;
}
header h1 img {
    /*max-height: 1.1em;*/
    width: 100%;
    max-width: 164px;
}
/*
*
* Tabs
*
*/
.tab-bar
{
    background-color: rgb(227, 227, 227);
    /*padding: 6px;
    box-shadow: 0 1px 2px 0 #91AFCD;*/
}
.tab-bar .tabs
{
    list-style: none outside none;
}
.tab-bar .tabs li
{
    display: inline-block;
    margin-right: 3px;    
}
.tab-bar .tab-button,
.tab-bar .tab-image-button
{
    background-color: rgb(183, 201, 218);
    border-radius: 4px 4px 4px 4px;
    color: rgb(29, 74, 117);
    display: block;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.tab-bar .tab-image-button
{
    position: relative;
    text-indent: -99999px;
}
.tab-bar .tab-image-button span
{
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 14px;
    background-position: -96px -120px;
    background-image: url("/img/glyphicons-halflings-blue.png");
    background-repeat: no-repeat;
}
.tab-bar .tab-button.selected,
.tab-bar .tab-image-button.selected
{
    background-color: rgb(105, 163, 221);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgb(68, 68, 68);
}
.tab-bar .tab-button:hover,
.tab-bar .tab-image-button:hover
{
    background-color: #1B83EB;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 gray;
    border-color: #1B83EB;
}
.tab-bar.large
{
}
.tab-bar.large .tab-button
{
    line-height: 1.9em;
    padding: 0 10px;
}
.tab-bar.large .tab-image-button
{
    padding: 3px;
    width: 2em;
}
.tab-bar.small 
{
    font-size: 0.8em;
}
.tab-bar.small .tab-button
{
    padding: 1px 7px;
}
.tab-bar.small .tab-image-button
{
    padding: 1px;
    width: 2em;
}
/*
*
* Icons
*
*/
.small-icon {
    background-image: url("/img/icons.png");
    background-size: 1715% auto;
    display: inline-block;
    height: 15px;
    margin-right: 4px;
    position: relative;
    top: 2px;
    width: 15px;
}
/*
*
* Popup menus
*
*/
.sub-menu-button
{
    border-bottom: 1px solid #CFDDEB;
    border-bottom: medium none;
    cursor: pointer;
    height: 2.875em;
    position: absolute;
    width: 30px;
    border-bottom-right-radius: 4px;
}
.sub-menu-button > span
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -456px -72px rgb(207, 221, 235);
    border: 2px solid rgb(207, 221, 235);
    border-radius: 10px 10px 10px 10px;
    display: block;
    height: 18px;
    left: 2px;
    position: relative;
    top: 16px;
    width: 18px;
}
.sub-menu-button:hover > span
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -456px -72px #1B83EB;
    border: 2px solid #1B83EB;
}
.sub-menu-button ul
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    display: none;
    left: 24px;
    position: relative;
    top: -18px;
    width: 210px;
    z-index: 9;
    padding: 0.01em 0;
}
.sub-menu-button.active ul
{
    display: block;
}
.sub-menu-button.active > span
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -456px -72px #1B83EB;
    border: 2px solid #1B83EB;
}
.sub-menu-button ul li
{
    list-style: none;
}
.sub-menu-button ul li:hover a,
.sub-menu-button ul li:hover span
{
    background-color: #1B83EB;
    color: #FFFFFF;
}
.sub-menu-button ul li:first-child a,
.sub-menu-button ul li:first-child span
{
    border-radius: 4px 4px 0 0;
}
.sub-menu-button ul li:last-child a,
.sub-menu-button ul li:last-child span
{
    border-radius: 0 0 4px 4px;
}
.sub-menu-button ul li a,
.sub-menu-button ul li span
{
    color: rgb(68, 68, 68);
    display: block;
    font-size: 0.9375em;
    font-weight: 600;
    padding: 8px 13px;
    text-decoration: none;
}
.sub-menu-button ul li.divider
{
    border-bottom: 1px solid rgb(225, 225, 225);
    margin: 0;
}
/*
*
* Forms
*
*/
#content .form form
{
    background-color: #f9f9f9;
    border: 0 solid rgb(221, 221, 221);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    margin-bottom: 20px;
}
#modal-dialog .form form
{
    background-color: rgb(249, 249, 249);
    border-radius: 0 0 4px 4px;
}
.form form > fieldset
{
    display: block;
    padding: 2%;
    position: relative;
}
.field-row 
{
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.field-row:last-child 
{
    margin-bottom: 0;
}
/*.form form > fieldset fieldset
{
    padding-top: 15px;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    
    border-bottom: 1px solid rgb(225, 225, 225);
    border-top: 1px solid rgb(225, 225, 225);
}
.form form > fieldset fieldset:last-child
{
    margin-bottom: 0;
}*/
/*.form form > fieldset > legend 
{
    display: none;
}*/
.form .field
{
    float: left;
}
/*.form form > fieldset > .field:last-child
{
    margin-bottom: 0;
}*/
.form .field div p
{
    margin: 0;
}
/*.form fieldset > div .field
{
    margin-top: 0;
}*/
/*.form form > fieldset fieldset legend
{
    margin-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.form label span,
.form legend span
{
    color: #6997C5;
    font-size: 0.78em;
    padding-left: 3px;
    line-height: 1em;
}
.form label,
.form form > fieldset fieldset legend
{
    color: #133A68;
    font-size: 0.72em;
    font-weight: 600;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}*/
.form legend{margin:0; padding:0;display: block;}
.form legend.hidden{ display: none;}
/*.form fieldset{margin:30px 0 0 0; width:100%; background:#Fdd;position: relative; top:0px; left:0;}*/
.form label,
.form legend > span
{
    color: rgb(64, 64, 64);
    font-size: 0.79em;
    font-weight: 600;
    line-height: 2em;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.form legend > span {
    display: block;
    float: left;
    height: 20px;
    left: 15px;
    position: absolute;
    top: -24px;
}
.form label span,
.form legend > span span
{
    color: rgb(168, 168, 168);
    font-size: 0.9em;
    line-height: 1em;
    padding-left: 3px;
}
.form form > fieldset:last-child
{
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgb(213, 213, 213);
}
.form input[type=text],
.form input[type=password],
.form input[type=date],
.form input[type=email],
.form select,
.form textarea
{
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset;
    color: #000000;
    font-size: 1em;
    padding: 8px 12px;
    width: 100%;
    font-family: "open sans",sans-serif;
}
.form input[type=text]:focus,
.form input[type=password]:focus,
.form input[type=date]:focus,
.form input[type=email]:focus,
.form select:focus,
.form textarea:focus,
a.multiSelect:active,
a.multiSelect:focus,
.field-focus
{
    border: 1px solid rgb(27, 131, 235);
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset, 0 0 0 3px rgba(80, 158, 238, 0.4);
}
.form input[type=text].input-validation-error,
.form input[type=password].input-validation-error,
.form input[type=date].input-validation-error,
.form input[type=email].input-validation-error,
.form select.input-validation-error,
.form textarea.input-validation-error
{
    border-color: #8B2323;
    background-color: rgb(255, 221, 219);
}
.form input[type=text].input-validation-error:focus,
.form input[type=password].input-validation-error:focus,
.form input[type=date].input-validation-error:focus,
.form input[type=email].input-validation-error:focus,
.form select.input-validation-error:focus,
.form textarea.input-validation-error:focus,
.input-validation-error-focus
{
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset, 0 0 0 3px rgba(238, 67, 67, 0.4);
}
.form form > div 
{
    margin-top: 20px;
    text-align: right;
}
.form input[type=submit],
.form input[type=button],
.form button,
.form .button,
.button
{
    background-color: rgb(97, 167, 237);
    border: 1px solid rgb(48, 138, 227);
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 0.99em;
    font-weight: 600;
    padding: 3px 18px;
    text-shadow: #133A68 0 -1px 0;
    margin-right: 15px;
    font-family: "open sans",sans-serif;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
    text-decoration: none;
}
.form input[type=submit]:hover,
.form input[type=button]:hover,
.form button:hover,
.form .button:hover,
.button:hover,
.form input[type=submit]:focus,
.form input[type=button]:focus,
.form button:focus,
.form .button:focus,
.button:focus
{
    /*box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 6px 0 rgba(80, 158, 238, 0.9);*/
    background-color: rgb(67, 146, 225);
}
.form input[type=submit]:active,
.form input[type=button]:active,
.form button:active,
.form .button:active,
.button:active
{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3) inset;/*, 0 1px 6px 0 rgba(80, 158, 238, 0.9);*/
}
.form input::-webkit-input-placeholder
{
   color: rgb(187, 187, 187);
}
.form input:-moz-placeholder
{
   color: rgb(187, 187, 187);
}
.form input:-ms-input-placeholder
{
   color: rgb(187, 187, 187);
}
.form form > fieldset:last-child input[type=submit],
.form form > fieldset:last-child input[type=button]
{
    float: right;
    margin-left: 15px;
    padding: 4px 22px;
    position: relative;
    right: 0;
    font-size: 1.1em;
    margin-right: 0;
}
.form p 
{
    color: rgb(68, 68, 68);
    font-size: 0.84em;
    line-height: 1.3em;
    margin: 2% 0;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.form p a
{
    color: #4096EE;
    margin: 0 0 15px;
    text-shadow: 0 1px 0 #FFFFFF;
}
/*.form .field-checkbox div:last-child {
    border-radius: 16px 16px 16px 16px;
    display: block;
    height: 32px;
    margin-top: 3px;
    overflow: hidden;
    width: 67px;
}
.form .field-checkbox div:last-child input[type=checkbox] {
  display: none;
}
.form .field-checkbox div:last-child input[type=checkbox] + label {
  text-indent: -9999px;
  display: block;
  width: 150px;
  height: 32px;
  line-height: 32px;
  background: transparent url(/img/checkbox-sprite-ios5.png) no-repeat -58px 0;
  -webkit-transition: background-position 0.3s ease-in-out;
  -moz-transition: background-position 0.3s ease-in-out;
  cursor: pointer;
}
.form .field-checkbox div:last-child input[type=checkbox]:checked + label {
  -webkit-transition: background-position 0.3s ease-in-out;
  -moz-transition: background-position 0.3s ease-in-out;
  background-position: 1px 0;
}*/
.form .field-checkbox div.checkbox {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset;
    display: block;
    height: 41px;
    overflow: hidden;
    position: relative;
    width: 96px;
}
.form .field-checkbox div.checkbox input[type=checkbox] 
{
    position: absolute;
    left: -100px;
}
.form .field-checkbox div.checkbox input[type=checkbox]:focus + label
{
    /*box-shadow: 0 1px 2px 0 #777777 inset, 0 1px 6px 0 rgba(80, 158, 238, 0.4);
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);*/
}
.form .field-checkbox div.checkbox span
{
    display: block;
    float: left;
}
.form .field-checkbox div.checkbox span.on,
.form .field-checkbox div.checkbox span.off
{
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0;
    padding: 8px 12px;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: 54px;
}
.form .field-checkbox div.checkbox span.bar
{
    background-color: rgb(97, 167, 237);
    border: 1px solid rgb(27, 131, 235);
    border-radius: 58px 58px 58px 58px;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: rgb(255, 255, 255);
    font-family: "open sans",sans-serif;
    font-size: 0.99em;
    font-weight: 600;
    height: 39px;
    margin: 0;
    padding: 0;
    text-shadow: 0 -1px 0 rgb(19, 58, 104);
    width: 40px;
}
.form .field-checkbox div.checkbox input[type=checkbox] + label {
    -webkit-transition: margin-left 0.3s ease-in-out;
    -moz-transition: margin-left 0.3s ease-in-out;
    
    border-radius: 22px 22px 22px 22px;
    cursor: pointer;
    height: 41px;
    margin-left: -54px;
    position: absolute;
    text-indent: -99999px;
    width: 150px;
}
.form .field-checkbox div.checkbox input[type=checkbox]:checked + label {
  -webkit-transition: margin-left 0.3s ease-in-out;
  -moz-transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
}
.form .validation-summary-errors
{
    background: none repeat scroll 0 0 #FF9494;
    border-radius: 4px 4px 0 0;
    color: #711717;
    font-size: 0.84em;
    padding: 10px 15px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    line-height: 1.3em;
}
.form .field-validation-error
{
    border-radius: 0 0 4px 4px;
    color: #8B2323;
    display: block;
    font-size: 0.84em;
    line-height: 1.3em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding-top: 3px;
}
.form .field-validation-info
{
    border-radius: 0 0 4px 4px;
    color: #6997C5;
    display: block;
    font-size: 0.84em;
    line-height: 1.3em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding-top: 3px;
}
.field.field-part-one
{
    clear: none;
    padding-right: 0;
    width: 50%;
}
.field.field-part-one input[type=text]
{
    border-radius: 4px 0 0 4px;
    border-right: medium none;
}
.field.field-part-two
{
    clear: none;
    padding-left: 0;
    width: 50%;
}
.field.field-part-two input[type=text]
{
    border-left: medium none;
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    position: relative;
}
/* Custom form elements */
.form #observedon-field > div:last-child
{
    position: relative;
}
.form .media-field
{
    white-space: nowrap;
    width: 100%;
    height: 284px;
}
.form .field > div.media-view-pane {
    float: left;
    margin-right: 2%;
    position: relative;
    width: 72%;
}
.form .avatar-media-uploader
{
    width:300px;   
}
.form .field > div.media-add-pane
{
    float: left;
    height: 250px;
    padding-right: 0;
    white-space: normal;
    width: 26%;
    margin-left: 74%;
}
.form #avatar-add-pane
{
    background-color: rgba(202, 222, 239, 0.6);
    border: 10px dashed #FFFFFF;
    box-shadow: 0 1px 2px 0 #5071A6, 0 1px 2px 0 #5071A6 inset;
    display: inline-block;
    height: 200px;
    margin-left: 15px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 270px;
    text-align: center;
    vertical-align: top;
}
.form #avatar-field {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid #509EEE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #777777 inset;
    height: 220px;
    width:220px;
    white-space: nowrap;
    padding:10px;
}
.form #avatar-viewer img
{
    width: 98px;
}
.form .observation-media-items
{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset;
    height: 258px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 15px;
    white-space: nowrap;
    width: 100%;
    position: absolute;
}
.form .observation-media-items .observation-media-items-label {
    color: rgb(187, 187, 187);
    margin: 108px auto;
    text-align: center;
}
.form .observation-media-items .observation-media-item
{
    position: relative;
    white-space: nowrap;
    display: inline-block;
    height: 210px;;
    margin-top: 15px;
    padding: 0 15px 0 0;
    width: 296px;
}
.form .observation-media-item > div
{
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 #5071A6;
    position: relative;
    
    
    width: 100%;
    height: 100%;    
}
.form .observation-media-item .media
{
    background-image: url(/img/image-upload.png);
    
    width: 100%;
    height: 100%;
}
.form .observation-media-item .video-media
{
    width: 100%;
    height: 100%;    
}
.form .observation-media-item .media > iframe,
.form .observation-media-item .media > img
{
    width: 100%;
    height: 100%;
    border: none;
}
.form .observation-media-item .sub-menu-button
{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 0;
    padding-left: 8px;
    width: 38px;    
    box-shadow: 0 1px 2px 0 #5071A6;
    position: absolute;
    top: 0;
    left: 0;
}
.form .observation-media-item .media-details {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.form .observation-media-item .overlay 
{
    background-color: #000000;
    bottom: 0;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 0;
}
.form .observation-media-item p.description,
.form .observation-media-item p.primary-media {
    color: #FFFFFF;
    margin: 5px 15px;
    max-height: 35px;
    overflow: hidden;
    position: relative;
    text-shadow: none;
    white-space: normal;
    z-index: 1;
}
.form .observation-media-item .licence-icons {
    padding: 5px 15px 0;
    position: relative;
    z-index: 1;
}
.form .observation-media-item .licence-name 
{
    color: #DDDDDD;
    display: block;
    font-size: 0.7em;
    line-height: 1em;
    padding: 3px 15px 7px;
    position: relative;
    z-index: 1;
}
.form .observation-media-item .licence-icons img {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    height: 18px;
    margin: 0 3px 0 0;
    position: relative;
    top: 3px;
    vertical-align: top;
    width: 18px;
}
.form .observation-media-item .audio-player {
    background-color: #EFEFEF;
    height: 100%;
    padding-left: 40px;
}
.form #licence-field {
    position: relative;
    width: 100%;
}
.form #licence-field .multiSelectOptions label img 
{
    margin: 0;
    display: inline-block;
    height: 18px;
    position: relative;
    top: 7px;
    vertical-align: top;
    width: 18px;   
}
.form #licence-field .multiSelectOptions label .licence-name {
    display: inline-block;
    white-space: normal;
    padding-right: 3px;
}
.form #licence-field .multiSelectOptions label .licence-description,
.form #licence-field .multiSelectOptions label .licence-uri  {
    color: #777777;
    font-size: 0.8em;
    line-height: 1.3em;
    white-space: normal;
    padding-bottom: 5px;
}
.form #licence-field .multiSelectOptions label .licence-uri a
{
    color: #1B83EB;
    text-decoration: none;
}
.form #licence-field .multiSelectOptions label.checked .licence-description,
.form #licence-field .multiSelectOptions label.checked .licence-uri a,
.form #licence-field .multiSelectOptions label.checked .licence-uri,
.form #licence-field .multiSelectOptions label:hover .licence-description,
.form #licence-field .multiSelectOptions label:hover .licence-uri a,
.form #licence-field .multiSelectOptions label:hover .licence-uri
{
    color: #DFEAF6;
}
.form #licence-field a.multiSelect > span span {
    padding-right: 7px;
}
.form #licence-field a.multiSelect img {
    margin: 0;
    display: inline-block;
    height: 18px;
    position: relative;
    top: 3px;
    vertical-align: top;
    width: 18px;
    margin-right: 3px;
}
.form #licence-field .multiSelectOptions label > div:last-child 
{
    padding-bottom: 22px;
}
.form .media-resource-dropzone
{
    background: -moz-linear-gradient(center top , #6FAEED 0%, #4096EE 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 2px 0 #777777 inset;
    height: 100%;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    z-index: 9;
    display: none;
}
.form .media-resource-dropzone p
{
    color: #4096EE;
    display: block;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 212px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.form .file-upload-button
{
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
    margin-right: 0;
    margin-top: 15px;
    overflow: hidden;
    padding: 3px 0;
    text-align: center;
    vertical-align: top;
    width: 100%;
    position: relative;
}
.form .file-upload-button input
{
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 118px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
.form .website-upload-button
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    display: inline-block;
    height: 32px;
    margin: 0 0 15px;
    padding: 0;
    text-indent: -99999px;
    text-shadow: none;
    vertical-align: top;
    width: 32px;
}
.form #selected-identification-field {
    width: 100%;
}
.form #selected-identification-field #Identification {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset;
    height: 119px;
    padding: 8px 12px;
    width: 100%;
}
.form .identification-none {
    color: rgb(136, 136, 136);
    display: block;
    margin: 38px 0 auto;
    text-align: center;
    width: 100%;   
}
.form #search-identification-field {
    width: 100%;
    margin-bottom: 10px;
}
.form .website-upload-button.youtube
{
    background-image: url(/img/youtube.png);
}
.form .website-upload-button.youtube:hover
{
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 6px 0 rgba(250, 75, 75, 0.9);
}
.form .website-upload-button.vimeo
{
    background-image: url(/img/vimeo.png);
}
.form .website-upload-button.flickr
{
    background-image: url(/img/flickr.png);
}
.form .website-upload-button.flickr:hover
{
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 6px 0 rgba(255, 82, 160, 0.9);
}
.form .website-upload-button.picasa
{
    background-image: url(/img/picasa.png);
}
.form .website-upload-button.picasa:hover
{
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 6px 0 rgba(252, 149, 70, 0.9);
}
.form #upload-progress-status
{
    font-size: 0.8em;
    font-weight: 600;
    height: 53px;
    margin-right: 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    width: 100%;
    visibility: hidden;
}
.form #upload-error 
{
    background-color: rgb(255, 221, 219);
    border: 1px solid rgb(189, 24, 12);
    border-radius: 4px 4px 4px 4px;
    color: rgb(189, 24, 12);
    display: none;
    font-size: 0.8em;
    line-height: 1.3em;
    margin-top: 21px;
    padding: 10px;
    display: none;
}
.form #upload-error a,
.form #upload-error a:visited,
.form #upload-error a:active {
    color: rgb(189, 24, 12);
}
.form #title-field
{
    padding-right: 2%;
    width: 74%;
}
.form #category-field {
    width: 26%;
}
.form #ObservedOn
{
    cursor: pointer;
}
.form #observedon-field
{
    width: 26%;
    margin-bottom: 10px;
}
.form #observedon-field > div > i
{
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(/img/glyphicons-halflings.png);
    background-position: -313px -119px;
    position: absolute;
    right: 11px;
    top: 13px;
    cursor: pointer;    
}
.form #observedon-field div > input
{
    cursor: pointer;
}
.form #address-field
{
    margin-bottom: 10px;
    padding-right: 139px;
    position: relative;
    width: 100%;
}
.form #location-options {
    float: left;
    margin-bottom: 10px;
    width: 100%;
    display: none;
}
.form #location-details {
    float: left;
    margin-right: 2%;
    position: relative;
    width: 72%;
}
.form #location-options-button {
    height: 41px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 26px;
    width: 64px;
}
.form #location-options-button span {
    display: block;
    font-size: 0.8em;
    line-height: 3.1em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.form #location-map
{
    border-radius: 4px 4px 4px 4px;
    float: left;
    height: 242px;
    width: 100%;
    margin-top: 5px;
}
.form #location-map #expand-map-widget,
.form #location-map #centre-map-widget {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border-color: rgb(113, 123, 135);
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: rgb(51, 51, 51);
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;
    padding: 1px 6px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.form #location-coordinates {
    background-color: rgb(234, 234, 234);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    float: left;
    font-size: 0.8em;
    padding: 5px;
    width: 100%;
}
.form #location-coordinates div {
    display: inline;
    font-weight: 600;
}
.form #anonymise-location-field {
    position: absolute;
    right: 0;
    top: 155px;
    width: 139px;
}
.form #anonymise-location-field label{
    float: right;
}
.form #anonymise-location-field div.checkbox {
    position: absolute;
    right: 0;
    top: 25px;
}
.form #pin-field
{
    height: 67px;
    position: absolute;
    right: 70px;
    width: 59px;
}
.form #pin-field > div:last-child
{
    padding-left: 10px;
    padding-top: 4px;
}
.form #location-pin 
{
    position: absolute;
    cursor: pointer;
    z-index: 8;
}
.form #latitude-field {
    margin-bottom: 10px;
    width: 100%;
    padding-right: 139px;
}
.form #longitude-field {
    margin-bottom: 10px;
    width: 100%;
    clear: left;
    padding-right: 139px;
}
.form #projects-field
{
    width: 26%;
}
.form #projects-field a.multiSelect .selected-project img
{
    width: 49px;
} 
.form #projects-field a.multiSelect > span {
    height: 49px;
}
.form #projects-field a.multiSelect > span .default-option {
    line-height: 2.8em;
}
.form #projects-field a.multiSelect i {
    top: 27px;
}
.form #projects-field a.multiSelect > span > span
{
    display: block;
    float: left;
    line-height: 0.1em;
    margin-right: 5px;
    overflow: hidden;
    padding: 0;
    white-space: normal;
}
.form #teams-field
{
    width: 50%;
    clear: none;
}
.form #organisations-field
{
    width: 50%;
    clear: none;
}
.form #description-field {
    margin-bottom: 10px;
    width: 100%;
}
.ui-autocomplete
{
    background-color: #FFFFFF;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor:pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius:4px 4px 4px 4px;
}
.ui-menu-item
{
    /*padding-bottom: 3px;*/
    padding: 0;
    margin: 0;
}
.ui-menu .ui-menu-item a {
    border-radius: 4px 4px 4px 4px;
    display: block;
    line-height: 1.5em;
    margin: 4px;
    padding: 0 13px;
    text-decoration: none;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active 
{
    background-color: #1B83EB;
    color: #FFFFFF;
}
.datepicker 
{
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    display: none;
    margin-bottom: 18px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 4px;
    position: absolute;
    width: 283px;
    z-index: 9;
    right: 0;
}
.datepicker .nav {
    background-color: rgb(249, 249, 249);
    box-shadow: 0 1px 0 #FFFFFF inset;
    color: #808080;
    font-weight: bold;
    padding: 4px 0;
    width: 100%;
}
.datepicker .nav:before, .datepicker .nav:after {
    display: table;
    content: "";
    zoom: 1;
}
.datepicker .nav:after {
    clear: both;
}
.datepicker .nav span {
    display: block;
    float: left;
    text-align: center;
    height: 28px;
    line-height: 28px;
    position: relative;
}
.datepicker .nav button 
{
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 30px;
}
.datepicker .nav button i
{
    background-image: url("/img/glyphicons-halflings-white.png");
    background-position: -240px -96px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    position: relative;
    top: 2px;
    vertical-align: text-top;
    width: 14px;
}
.datepicker .nav button.prev i
{
    background-position: -240px -96px;
}
.datepicker .nav button.next i
{
    background-position: -264px -96px;
}
.datepicker .nav .bg {
    width: 100%;
    background-color: #fdf5d9;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datepicker .nav .fg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.datepicker .months {
    float: left;
    margin-left: 4px;
}
.datepicker .months .name {
    padding: 0;
    width: 98px;
    font-size: 1em;
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.datepicker .years {
    float: right;
    margin-right: 4px;
}
.datepicker .years .name {
    padding: 0;
    width: 54px;
    font-size: 1em;
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.datepicker .dow, 
.datepicker .days div {
    float: left;
    line-height: 33px;
    text-align: center;
    width: 39px;
}
.datepicker .dow {
    font-weight: bold;
    color: #808080;
}
.datepicker .calendar {
    padding: 4px;
}
.datepicker .days div {
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datepicker .days div:hover {
    background-color: #1B83EB;
    color: #FFFFFF;      
}
.datepicker .overlap {
    color: #bfbfbf;
}
.datepicker .today {
    box-shadow: 0 0 1px #1B83EB inset;
}
.datepicker .selected {
    background-color: #78B6F3;
    color: #ffffff;
}
/*****************************************************/
a.multiSelect
{
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset;
    color: rgb(0, 0, 0);
    font-family: "open sans",sans-serif;
    font-size: 1em;
    padding: 8px 37px 7px 12px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    vertical-align: top;
    background-color: #fff;
}
a.multiSelect span
{
    overflow: hidden;
    white-space: nowrap;
}
a.multiSelect > span
{
    display: block;
}
a.multiSelect .default-option {
    color: rgb(187, 187, 187);    
}
a.multiSelect i
{
    background-image: url("/img/glyphicons-halflings.png");
    background-position: -313px -119px;
    display: block;
    height: 14px;
    position: absolute;
    right: 11px;
    top: 13px;
    width: 14px;    
}
.multiSelectOptions {
    margin-top: -1px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px #B2B2B2;
    background: #FFFFFF;
    background-clip: padding-box;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.multiSelectOptions label {
    border-radius: 4px 4px 4px 4px;
    color: #222222;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 33px;
    margin: 4px;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    padding: 0 13px;
    cursor: pointer;
}
.multiSelectOptions label.optGroup
{
    font-weight: bold;
}
.multiSelectOptions .optGroupContainer label
{
    padding-left: 10px;
}
.multiSelectOptions.optGroupHasCheckboxes .optGroupContainer label
{
    padding-left: 18px;
}
.multiSelectOptions input{
    vertical-align: middle;
}
.multiSelectOptions label.checked {
    background-color: #78B6F3;
    color: #FFFFFF;
}
.multiSelectOptions .selectMessage 
{
    background-color: rgb(249, 249, 249);
    color: rgb(128, 128, 128);
    font-size: 0.84em;
    padding: 6px 15px;
    text-shadow: 0 1px 0 #FFFFFF;
    line-height: 1.4em;  
}
.multiSelectOptions .selectMessage a,
.multiSelectOptions .selectMessage a:hover,
.multiSelectOptions .selectMessage a:active,
.multiSelectOptions .selectMessage a:visited {
    color: rgb(67, 146, 225);
}
.multiSelectOptions label.selectAll {
    border-bottom: dotted 1px #CCC;
}
.multiSelectOptions label.hover {
    background-color: #1B83EB;
    color: #FFFFFF;
}
.multiSelectOptions label img
{
    border-radius: 4px 0 0 4px;
    margin-right: 10px;
    vertical-align: middle;
    width: 37px;
}

#organisation-field a.multiSelect,
#team-field a.multiSelect
{
    width:50%;
}
#organisation-field a.multiSelect img,
#team-field a.multiSelect img
{
    vertical-align: middle;
    width: 37px;
    margin-right: 10px;
}

#projects-field .multiSelectOptions label
{
    padding: 0 13px 0 0;
}
#teams-field,
#organisations-field
{
    padding-right: 51px;    
}
.form #teams-field > div:last-child 
{
    padding-right: 15px;
}
.form #organisations-field > div:last-child 
{
    padding-right: 15px;
}















/* 
* 
* Header 
*
*/
#explore-menu
{
    display: block;
    height: 56px;
    margin-left: 23%;
    position: absolute;
    top: 0;
    width: 400px;
}
#explore-menu > ul > li
{
    display: block;
    float: left;
    line-height: 56px;
    padding-right: 20px;
    list-style-type: none;
}
#explore-menu > ul > li > a,
#account-menu > ul > li > a,
#account-menu .user-name
{
    color: rgb(68, 68, 68);
    font-size: 0.9375em;
    font-weight: 600;
    text-decoration: none;
}
#account-menu {
    max-width: 250px;
    position: absolute;
    right: 260px;
    top: 17px;
}
#account-menu .small-icon {
    background-position: -113px -48px;
    top: -5px;
}
#account-menu > ul > li {
    list-style-type: none;
}
#account-menu .user-menu-item .user-name {
    display: inline-block;
    margin-right: 26px;
    max-width: 214px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#account-menu .user-menu-item .sub-menu-button {
    right: 0;
    top: 0;
    width: 20px;
}
#account-menu .user-menu-item .sub-menu-button ul {
    left: -190px;
    top: 8px;
}
#account-menu .user-menu-item .sub-menu-button > span {
    top: 4px;
    left: 0;
    background-color: rgb(204, 204, 204);
    border-color: rgb(204, 204, 204);
}
#search-menu {
    display: block;
    margin-right: 2.2%;
    position: absolute;
    right: 0;
    top: 11px;
}
#search-menu label {
    display: none;
}
#search-menu input[type=text] {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset;
    color: rgb(0, 0, 0);
    font-family: "open sans",sans-serif;
    font-size: 0.9375em;
    padding: 5px 12px;
    
}
#search-menu input::-webkit-input-placeholder
{
   color: rgb(187, 187, 187);
}
#search-menu input:-moz-placeholder
{
   color: rgb(187, 187, 187);
}
#search-menu input:-ms-input-placeholder
{
   color: rgb(187, 187, 187);
}
/*
*
* Sidebar 
*
*/
#sidebar
{
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
#sidebar #action-menu
{
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    clear: both;
    display: inline-block;
    margin-bottom: 18px;
    width: 100%;  
}
#sidebar #action-menu li
{
    display: block;
    float: left;
    list-style-type: none;
    width: 33.334%;
}
#sidebar #action-menu .button
{
    display: block;
    height: 50px;
    margin: 0;
    position: relative;
    text-indent: -99999px;
}
#sidebar #action-menu .button span {
    background-image: url("/img/icons.png");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    background-size: 625%;
}
#sidebar #action-menu .new-observation-button 
{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#sidebar #action-menu .new-observation-button span
{
    background-position: -1px -1px;
    height: 40px;
    right: 21px;
    top: 5px;
    width: 40px;
}
#sidebar #action-menu .new-record-button 
{
    border-left: 0 none;
    border-radius: 0 0 0 0;
    border-right: 0 none;
}
#sidebar #action-menu .new-record-button span
{
    background-position: -84px -1px;
    height: 40px;
    right: 21px;
    top: 4px;
    width: 40px;
}
#sidebar #action-menu .new-project-button 
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#sidebar #action-menu .new-project-button span
{
    background-position: -42px -1px;
    height: 40px;
    right: 21px;
    top: 4px;
    width: 40px;
}
#sidebar .menu-group
{
    margin-bottom: 2px;
}
#sidebar .menu-group-title
{
    color: rgb(68, 68, 68);
    display: block;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 3em;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
#sidebar .menu-group > ul
{
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}
#sidebar .menu-group-item
{
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(225, 225, 225);
    display: block;
    position: relative;
}
#sidebar .menu-group-item > a
{
    text-decoration: none;
    background-color: #FFFFFF;
    display: block;
    height: 3.06667em;
    overflow: hidden;
}
#sidebar .menu-group-item:first-child,
#sidebar .menu-group-item:first-child > a
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#sidebar .menu-group-item:last-child,
#sidebar .menu-group-item:last-child > a
{
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#sidebar .menu-group-item:first-child img 
{
    border-radius: 4px 0 0 0;
}
#sidebar .menu-group-item a > div
{
    display: table-cell;
    height: 3.06666667em;
    vertical-align: middle;
}
#sidebar .menu-group-item .avatar img {
    width: 100%;
    height: 100%;
}
#sidebar .menu-group-item .avatar
{
    margin-right: 13px;
    width: 3.06667em;
    float: left;
}
#sidebar .menu-group-item a > div p
{
    line-height: 1.41em;
    margin: 0;
    overflow: hidden;
    padding: 2px 2px 0 0;
    color: rgb(68, 68, 68);
    font-size: 0.9375em;
    font-weight: 600;
    /*letter-spacing: -0.019em;*/
}
#sidebar .menu-group-item a > div p span
{
    background-color: #3BAB24;
    background-image: -moz-linear-gradient(right bottom , #1E5707 33%, #3BAB24 79%);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071A6;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    padding: 0 4px;
    position: absolute;
    top: 12px;
    left: -7px;
}
#sidebar #watch-menu-group .menu-group-item > a,
#sidebar #project-menu-group .menu-group-item > a,
#sidebar #team-menu-group .menu-group-item > a,
#sidebar #organisation-menu-group .menu-group-item > a
{
    margin-right: 30px;
}
#sidebar #project-menu-group .menu-group-title span {
    background-position: -33px -48px;
}
#sidebar #team-menu-group .menu-group-title span {
    background-position: -60px -48px;
}
#sidebar #organisation-menu-group .menu-group-title span {
    background-position: -87px -48px;
}
/*
*
* Sidebar sub-menu popup
*
*/
#sidebar .sub-menu-button {
    right: 0;
    top: 0;
}

/* 
*
* Content area 
*
*/
#content > div > h2
{
    color: rgb(68, 68, 68);
    display: block;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 3em;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
/* selected filter group */
/*.project > .summary
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    height: 187px;
    -webkit-box-shadow: 0px 1px 2px 0px #91AFCD;
    -moz-box-shadow: 0px 1px 2px 0px #91AFCD;
    box-shadow: 0px 1px 2px 0px #91AFCD; 
}
.project > .summary img
{
    border-radius: 4px 0 0 0;
    float: left;
    padding-right: 15px;
    height: 187px;
}
#selected-filter-group > div > h2
{
    color: #143658;
    font-size: 1.6875em;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    white-space: nowrap;
}
#selected-filter-group > div > ul
{
    border-bottom: 1px solid #CFDDEB;
    border-top: 1px solid #CFDDEB;
    display: block;
}
#selected-filter-group > div > ul li
{
    color: #AAAAAA;
    display: inline-block;
    font-size: 0.69em;
    line-height: 1em;
    padding: 26px 4px 0 0;
    text-align: center;
    width: 6.2em;
}
#selected-filter-group > div > ul li span
{
    color: #000000;
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 4px;
    padding-top: 8px;
}
.project > .summary p
{
    color: #143658;
    font-size: 0.8125em;
    font-weight: 500;
    line-height: 1.25em;
    margin: 0;
    max-height: 50px;
    overflow: hidden;
    padding-right: 15px;
    padding-top: 12px;
}*/

/*
*
* Notifications
*
*/
#notifications
{
    display: none;
}
#notifications h2
{
    color: #6997C5;
    display: block;
    font-size: 0.75em;
    font-weight: 700;
    margin-bottom: 6px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
#notifications > div
{
    background-color: rgba(202, 222, 239, 0.5);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #143658 inset;
    height: 86%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 14%;
}
#notifications ul
{
    padding: 15px 15px 0;  
}
#notifications ul li
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071A6;
    list-style: none outside none;
    margin-bottom: 15px;
}
#notifications ul li .summary img 
{
    border-radius: 4px 0 0 0;
    float: left;
    height: 30px;
    width: 30px;
    display: block;
}
#notifications ul li .summary .name
{
    border-bottom: 1px solid #CFDDEB;
    color: #133A68;
    display: block;
    font-size: 0.675em;
    font-weight: 600;
    line-height: 2.8em;
    margin: 0;
    padding-left: 40px;
    vertical-align: top;
}
#notifications ul li .summary .description
{
    background-color: #ECF1F6;
    display: block;
    font-size: 0.73em;
    line-height: 1.6em;
    padding: 5px 10px;
}
#notifications ul li .details
{
    border-top: 1px solid #CFDDEB;
}
#notifications ul li .details.observation p
{
    color: #133A68;
    font-size: 0.9em;
    font-weight: 600;
    padding: 5px 10px;
}
#notifications ul li .details.observation p:last-child
{
    border-radius: 0 0 4px 4px;
}
#notifications ul li .details.observation img
{
    width: 100%;
    border-radius: 0 0 4px 4px;
    display: block;
}
/*#notifications ul li .summary .description 
{
    color: #133A68;
    display: inline;
    font-size: 0.675em;
    font-weight: 600;
    line-height: 3em;
    margin: 0;
    padding-left: 10px;
    vertical-align: top;
}
#notifications ul li .summary .description span 
{
    color: #8C8C8C;
    font-size: 0.8125em;
}
#notifications ul li .details.observation img
{
    width: 100%;
    border-radius: 0 0 4px 4px;
    display: block;
}
#notifications ul li .details.observation div 
{
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 3px 11px;
}*/

/*
*
* Chat & Users Online
*
*/
/*.user-window
{
    background-color: white;
    border: 1px solid black;
    bottom: -180px;
    height: auto;
    min-height:200px;
    max-height: 50%;
    position: fixed;
    right: 0;
    width: 200px;
    padding: 5px;
}
.user-window ul
{
    list-style-type: none;
    padding-top: 5px;
}*/
.window
{
    background-color: #FFFFFF;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 7px 7px 2px rgba(0, 0, 0, 0.5);
    display: block;
    position: fixed;
    border: 1px solid rgb(102, 102, 102);
}
.window.collapsed .window-body
{
    display: none;
}
.window-title-bar 
{
    border-bottom: 1px solid rgb(170, 170, 170);
    color: rgb(68, 68, 68);
    cursor: pointer;
    font-size: 0.9375em;
    font-weight: 600;
    overflow: hidden;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    white-space: nowrap;
    background-color: rgb(227, 227, 227);
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}
.window-title-bar .close
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -312px 0 rgb(130, 130, 130);
    border: 2px solid rgb(130, 130, 130);
    border-radius: 10px 10px 10px 10px;
    display: block;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 18px;
}
.window-title-bar .close:hover
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -312px 0 #1B83EB;
    border: 2px solid #1B83EB;    
}
#online-users
{
    bottom: 0;
    left: 20px;
    width: 280px;
    border-bottom: 0;
}
#online-users .window-body
{
    height: 400px;
}
#online-users .online-users-list
{
    height: 356px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#online-users .window-body > div
{
    background-color: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(221, 221, 221);
    color: rgb(128, 128, 128);
    font-size: 0.84em;
    padding: 6px 15px;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
#online-users .online-user-item
{
    background-color: #FFFFFF;
    border-bottom: 1px solid #CFDDEB;
    display: block;
    position: relative;
    list-style: none;
    cursor: pointer;
}
#online-users .online-user-item > a {
    background-color: #FFFFFF;
    display: block;
    height: 3.06667em;
    overflow: hidden;
    text-decoration: none;
    margin-right: 30px;
}
#online-users .online-user-item > a > div {
    display: table-cell;
    height: 3.06667em;
    vertical-align: middle;
}
#online-users .online-user-item .image-media
{
    float: left;
    height: 3.06667em;
    margin-right: 13px;
    width: 3.06667em;
}
#online-users .online-user-item .image-media img {
    float: left;
}
#online-users .online-user-item .user-name
{
    color: rgb(68, 68, 68);
    font-size: 0.9375em;
    font-weight: 600;
    line-height: 1.41em;
    margin: 0;
    overflow: hidden;
    padding: 2px 2px 0 0;
}
#online-users .online-user-item .user-name.online
{
}
#online-users .online-user-item .user-name.away
{
    color: #6997C5;
}
#online-users .online-user-item .user-name.offline
{
    color: #AAAAAA;
}
#online-users .online-user-item .user-name span
{
    color: #AAAAAA;
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.1em;
}
#online-users .sub-menu-button {
    right: 0;
    top: 0;
}
/*#online-users .menu-group-item > .menu-item-body
{
    text-decoration: none;
    background-color: #FFFFFF;
    display: block;
    height: 3.06667em;
    overflow: hidden;
}
#online-users .menu-group-item img 
{
    display: block;
    float: left;
    margin-right: 13px;
    height: 100%;
}
#online-users .menu-group-item:first-child img 
{
    border-radius: 4px 0 0 0;
}
#online-users .menu-group-item .menu-item-body > div
{
    display: table-cell;
    height: 3.06666667em;
    vertical-align: middle;
}
#online-users .menu-group-item .menu-item-body > div p
{
    line-height: 1.41em;
    margin: 0;
    overflow: hidden;
    padding: 2px 2px 0 0;
    color: #133A68;
    font-size: 0.9375em;
    font-weight: 600;    
}
#online-users .menu-group-item .menu-item-body > div p span
{
    background-image: -moz-linear-gradient(right bottom , #1E5707 33%, #3BAB24 79%);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071A6;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    padding: 0 4px;
    position: absolute;
    top: 12px;
    left: -7px;
}
#online-users #watch-menu-group .menu-group-item > .menu-item-body,
#online-users #project-menu-group .menu-group-item > .menu-item-body,
#online-users #team-menu-group .menu-group-item > .menu-item-body,
#online-users #organisation-menu-group .menu-group-item > .menu-item-body
{
    margin-right: 30px;
}
#online-users .sub-menu-button
{
    border-bottom: 1px solid #CFDDEB;
    border-bottom: medium none;
    cursor: pointer;
    height: 2.875em;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    border-bottom-right-radius: 4px;
}
#online-users .sub-menu-button > span
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -456px -72px #CFDDEB;
    border: 2px solid #CFDDEB;
    border-radius: 10px 10px 10px 10px;
    display: block;
    height: 14px;
    left: 2px;
    position: relative;
    top: 16px;
    width: 14px;
}
#online-users .sub-menu-button:hover > span
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -456px -72px #1B83EB;
    border: 2px solid #1B83EB;
}
#online-users .sub-menu-button ul
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    display: none;
    left: 24px;
    position: relative;
    top: -18px;
    width: 210px;
    z-index: 9;
    padding: 0.01em 0;
}
#online-users .sub-menu-button.active ul
{
    display: block;
}
#online-users .sub-menu-button.active > span
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -456px -72px #1B83EB;
    border: 2px solid #1B83EB;
}
#online-users .sub-menu-button ul li
{
    list-style: none;
    margin: 0.7em 0;
}
#online-users .sub-menu-button ul li a,
#online-users .sub-menu-button ul li span
{
    color: #133A68;
    display: block;
    font-size: 0.9375em;
    font-weight: 600;
    padding: 0 14px;
    text-decoration: none;
}
#online-users .sub-menu-button ul li.divider
{
    border-bottom: 1px solid #CFDDEB;
}*/





.chat
{
    bottom: 0;
    width: 280px;
}
.chat .window-body
{
    height: 400px;
}
.chat .chat-messages
{
    border-bottom: 1px solid #CFDDEB;
    height: 297px;
    overflow-x: auto;
    overflow-y: scroll;
}
.chat .chat-messages > ul
{
    padding-bottom: 10px;
}
.chat .chat-message-box
{
    background-color: rgb(241, 241, 241);
    height: 92px;
    padding: 0 10px 10px;
}
.chat .chat-message-box .status
{
    color: #6997C5;
    font-size: 0.75em;
    font-weight: 600;
    height: 16px;
    padding: 0 0 10px;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 100%;
    overflow: hidden;
}
.chat .form textarea
{
    border-radius: 4px 0 0 4px;
    float: left;
    font-size: 0.8em;
    height: 55px;
    padding: 4px 6px;
    width: 193px;
}
.chat .chat-send-message-button
{
    border-radius: 0 4px 4px 0;
    float: left;
    height: 65px;
    margin: 0;
    width: 52px;
    padding: 0;
}
.chat .chat-message 
{
    padding: 10px 10px 0;
}
.chat .chat-message.useradded .message
{
    display: block;
    color: #888888;
    font-size: 0.9em;
    font-style: italic;  
    line-height: 1.2em; 
}
.chat .chat-message.usermessage .user
{
    font-size: 0.9em;
    font-weight: bold;
}
.chat .chat-message.usermessage .timestamp
{
    color: #AAAAAA;
    font-size: 0.7em;
}
.chat .chat-message.usermessage .message
{
    display: block;
    font-size: 0.9em;
    line-height: 1.2em;
}

/*.chat-message
{
    width:100%;   
    display:block;
}
li.chat-message .message-sender
{
    
    overflow:hidden;
    font-size:smaller;
    font-style:italic;
    min-width:20%;
    max-width:20%;    
}
li.chat-message .message-text
{
    width:70%;   
    
    vertical-align:top;
}*/



/* ---- Modal dialog ---- */
#modal-dialog
{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#modal-dialog .window
{
    border: 1px solid rgb(102, 102, 102);
    border-radius: 6px 6px 6px 6px;
    left: 50%;
    margin-left: -290px;
    position: fixed;
    top: 18%;
    width: 580px;
}
#add-videos-window
{
    
}


/*div#modal-dialog
{
    background-color:rgba(0,0,0,0.6);
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    position:fixed;
    z-index:999;
    background-color:rgba(0,0,0,0.4);
}
.make-visible
{
    display:block;   
}
.make-invisible
{
    display:none;   
}*/

.video-form #video-preview-field > div:last-child
{
    padding-right: 0;
}
.video-form .field .video-preview
{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset;
    height: 280px;
    padding: 15px;
}
.video-form .field .video-preview > iframe
{
    box-shadow: 0 1px 2px 0 #5071A6;
    background-image: url("/img/image-upload.png");
    background-repeat: repeat-x;
    border: none;
}
.video-form .field-validation-info img
{
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    width: 16px;
}


/*
*
* Media
*
*/
/* Media Contents */
.image-media img 
{
    display: block;
}
.video-media iframe 
{
    border: 0;
    width: 100%;
    height: 100%;
    float: left;
}
.audio-media 
{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 100%;
}
/* Media Square 50 */
.image-media.media-square-50 img 
{
    width: 100%;
    display: block;
}
.video-media.media-square-50 img 
{
    width: 100%;
    display: block;
}
.audio-media.media-square-50 img 
{
    width: 100%;
    display: block;
}
/* Media Square 100 */
.image-media.media-square-100 img 
{
    width: 100%;
    display: block;
}
.video-media.media-square-100 img 
{
    width: 100%;
    display: block;
}
.audio-media.media-square-100 img
{
    width: 100%;
    display: block;
}
/* Media Square 200 */
.image-media.media-square-200 img 
{
    width: 100%;
    display: block;
}
.video-media.media-square-200 img 
{
    width: 100%;
    display: block;
}
.audio-media.media-square-200 img 
{
    width: 100%;
    display: block;
}
/* Media Constrained 240 */
.image-media.media-constrained-240 img 
{
    width: 100%;
    display: block;
}
.video-media.media-constrained-240 
{
    
}
.audio-media.media-constrained-240 
{
    
}
/* Media Constrained 480 */
.image-media.media-constrained-480 img 
{
    width: 100%;
}
.video-media.media-constrained-480 
{
    
}
.audio-media.media-constrained-480 
{
    
}
/* Media Constrained 600 */
.image-media.media-constrained-600 img 
{
    width: 100%;
}
.video-media.media-constrained-600 
{
    
}
.audio-media.media-constrained-600 
{
    
}
/* Media Full 480 */
.image-media.media-full-480 
{
    
}
.video-media.media-full-480 
{
    
}
.audio-media.media-full-480 
{
    
}
/* Media Full 768 */
.image-media.media-full-768 
{
    
}
.video-media.media-full-768 
{
    
}
.audio-media.media-full-768 
{
    
}
/* Media Full 1024 */
.image-media.media-full-1024 
{
    
}
.video-media.media-full-1024 
{
    
}
.audio-media.media-full-1024 
{
    
}