/* stream observation item */
.observation .observation-details,
.observation .notes-details,
.observation .comments-details
{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071A6;
    float: left;
}
.observation .notes-details
{
    height: 100px;
}
.observation .comments-details
{
    height: 100px;
}
.observation .observation-details h2
{
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 17px 15px;    
}
.observation .observation-details h2 a,
.observation .observation-details h2 a:hover,
.observation .observation-details h2 a:active,
.observation .observation-details h2 a:visited
{
    color: #222222;
    text-decoration: none;
}
.observation .observation-details .images
{
    float: left;
    /*margin-bottom: 2%;*/
    padding-right: 2%;
    width: 70%;
}
.observation .observation-details .images .preview
{
    max-height: 600px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.observation .observation-details .images .preview img
{
    float: left;
    width: 100%;
}
.observation .observation-details .images .thumbnails
{
    padding-top: 1%;
}
.observation .observation-details .images .thumbnails img
{
    float: left;
    margin-right: 1%;
    width: 19.2%;
}
.observation .observation-details .images .thumbnails img:last-child
{
    margin-right: 0;
}
.observation .observation-details .info
{
    float: left;
    width: 28%;
}
.observation .observation-details .user
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0;
}
.observation .observation-details .user img
{
    width: 100px;
    height: 100px;
}
.observation .observation-details .observed
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0;
    padding-top: 20px;
}
.observation .observation-details .observed span
{
    display: block;
    font-weight: 500;
}
.observation .observation-details .location
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    padding-top: 20px;
}
.observation .observation-details .location .map
{
    background-color: #F2F6FA;
    height: 200px;
    overflow: hidden;
}
.observation .observation-details .location .map img
{
    height: 200px;
    left: -50%;
    position: relative;
}
.observation .observation-details .location span
{
    display: block;
    font-weight: 500;
}
#stream .observation-details .projects
{
    color: #133A68;
    padding-bottom: 15px;
    font-weight: 600;
}
#stream .observation-details .projects ul
{
    margin: 0;
    padding: 15px 0 0;
}
#stream .observation-details .projects li
{
    display: inline;
}
#stream .observation-details .projects a
{
}
#stream .observation-details .projects a img
{
    height: 78px;
    margin-right: 9px;
    width: 78px;
}
#stream .observation-details .notes
{
    clear: both;
}
#stream .observation-details .note
{
    border-top: 4px solid #AEC8E2;
    clear: both;
}
#stream .observation-details .note .note-details
{
    color: #133A68;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.2em;
    padding: 17px;
    position: relative;
}
#stream .observation-details .note .note-details > div:first-child
{
    float: left;
    padding-right: 2%;
    width: 70%;
}
#stream .observation-details .note .note-details > div:last-child
{
    float: left;
    width: 28%;
}
#stream .observation-details .note .note-details .description
{
}
#stream .observation-details .note .note-details p
{
    font-size: 0.92857143em;
    font-weight: 500;
    margin: 0 0 10px;
}
#stream .observation-details .note .identification
{
}
#stream .observation-details .note .identification .scientific-name span
{
    font-style: italic;
    display: block;
}
#stream .observation-details .note .identification .author
{
}
#stream .observation-details .note .identification .taxonomy
{
}
#stream .observation-details .note .tags ul
{
    margin: 0 0 15px 0;
    padding: 0;
}
#stream .observation-details .note .tags li
{
    display: inline;
}
#stream .observation-details .note .tags a,
#stream .observation-details .note .tags a:visited
{
    background-color: #E1ECF8;
    border-radius: 4px 4px 4px 4px;
    color: #133A68;
    display: inline-block;
    font-size: 0.86em;
    font-weight: 500;
    margin-top: 6px;
    padding: 1px 5px 3px;
    text-decoration: none;
}
#stream .observation-details .note .tags a:hover,
#stream .observation-details .note .tags a:active
{
    background-color: #3B9CFF;
    color: #FFFFFF;
}



/**********************/
.home .intro
{
background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071A6;
    margin-bottom: 20px;
    padding: 15px 30px;
    position: relative;
}
.home .intro h2
{
color: #222222;
    font-size: 1.75em;
    margin-bottom: 15px;
}
.home .intro p
{
font-size: 0.875em;
    line-height: 1.3em;
}
.home .intro h3
{
font-size: 1.1em;
    margin-bottom: 0;
    margin-top: 15px;
}
.home .intro .close-intro
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -312px 0 #CFDDEB;
    border: 2px solid #CFDDEB;
    border-radius: 10px 10px 10px 10px;
    display: block;
    height: 14px;
    position: absolute;
    right: 10px;
    text-indent: -99999px;
    top: 9px;
    width: 14px; 
}
.home .intro .close-intro:hover
{
    background: url("/img/glyphicons-halflings-white.png") no-repeat scroll -312px 0 #1B83EB;
    border: 2px solid #1B83EB;
}

/**********************/
.project > .summary
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 2px 0 #5071A6;
}
.project > .summary img
{
    border-radius: 4px 0 0 0;
    display: block;
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
}
.project > .summary h1
{
    color: #222222;
    display: block;
    overflow: hidden;
    padding-right: 15px;
    text-align: left;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
}
.project > .summary p
{
    display: block;
    font-size: 0.875em;
    line-height: 1.4em;
    margin: 0 15px 15px 0;
    max-height: 135px;
    overflow: hidden;
}
.project .tab-bar 
{
    clear: both;
}