/* details */
.home .tab-bar
{
    border-radius: 4px 4px 0 0;
    /*box-shadow: 0 1px 2px 0 #5071A6;*/
    padding: 2% 2% 0;
}
/* 
*
* Stream 
*
*/
.stream 
{
    background-color: rgb(227, 227, 227);
    border-radius: 0 0 4px 4px;
    /*box-shadow: 0 1px 2px 0 #143658 inset;*/
    margin-bottom: 20px;
    position: relative;
    min-height: 500px;
    padding: 2%;
}
/*.stream #load-more
{
    background-color: #59A3FF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px 0 #91AFCD;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    margin-left: 239px;
    position: absolute;
    text-align: center;
    text-shadow: 0 -1px 0 #555555;
    width: 300px;
}*/
/*.stream h2
{
    color: #6997C5;
    float: left;
    font-size: 0.6875em;
    font-weight: 700;
    line-height: 1.5em;
    padding: 2.3% 0 1.8% 2%;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    width: 38%;
}
.stream > ul
{
    float: right;
    line-height: 0.6em;
    padding: 2.3% 2% 1.8% 0;
    text-align: right;
    width: 50%;
}
.stream > ul li
{
    background-color: rgba(105, 151, 197, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 -1px 0 #6997C5;
    color: #4379B0;
    display: inline-block;
    font-size: 0.625em;
    font-weight: 600;
    line-height: 1em;
    margin-left: 15px;
    padding: 3px 12px 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.stream > div
{
    padding-bottom: 2%;
    clear: both;
}*/
/* stream item */
.stream-list .stream-item
{
    margin: 0 2% 2%;
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgb(51, 51, 51);
    list-style: none outside none;
    display: inline-block;
    margin: 0 0 2%;
    width: 100%;
}
.stream-list .stream-item:last-child
{
    margin: 0;
}
/*#stream .stream-item:first-child
{
    margin: 2%;
}
#stream .stream-item > div
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071a6;
}*/
.stream-list .stream-item .summary
{
    border-bottom: 1px solid rgb(225, 225, 225);
    height: 46px;
}
.stream-list .stream-item .summary .image-media.media-square-100
{
    border-radius: 4px 0 0 0;
    float: left;
    height: 46px;
    width: 46px;
}
.stream-list .stream-item .summary .description
{
    color: rgb(68, 68, 68);
    display: inline;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 3.5em;
    margin: 0;
    padding-left: 10px;
    vertical-align: top;
}
.stream-list .stream-item .summary .description abbr
{
    color: #8C8C8C;
    font-size: 0.8125em;
    border-bottom: 1px dotted #BBBBBB;
}
.stream-list .stream-item .details
{
    padding: 2%;
}
/*.stream-list .stream-item .details
{
    color: #133A68;
    padding-bottom: 15px;
}
.stream-list .stream-item .details h2
{
    font-size: 1.8125em;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 10px 15px;
}
.stream-list .stream-item .details > div
{
    overflow: hidden;
    width: 100%;
}
.stream-list .stream-item .summary-comment
{
    height: 30px;
    padding: 15px 15px 0;
}
.stream-list .stream-item .summary-comment img
{
    border-radius: 4px 0 0 0;
    float: left;
    height: 30px;
    width: 30px;
}
.stream-list .stream-item .summary-comment .description
{
    color: #133A68;
    display: inline;
    font-size: 0.8125em;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    padding-left: 7px;
    vertical-align: top;
}
.stream-list .stream-item .summary-comment .description span
{
    color: #8C8C8C;
    font-size: 12px;
}
.stream-list .stream-item .heading
{
    background-color: #AEC8E2;
    color: #FFFFFF;
    font-size: 0.8125em;
    font-weight: 700;
    padding-left: 12px;
    text-shadow: 0 -1px 0 #4070A0;
    text-transform: uppercase;
}
.stream-list .stream-item .discussion
{
    clear: both;
}
.stream-list .stream-item .discussion .comment
{
    border-bottom: 1px solid #CFDDEB;
}
.stream-list .stream-item .discussion .comment:last-child
{
    border-bottom: none;
}
.stream-list .stream-item .discussion .comment > p
{
    color: #606060;
    font-size: 0.8125em;
    line-height: 1.3em;
    margin: 0;
    padding: 0 50px 17px;
}*/
/* stream observation item */
.stream-list .observation-stream-item .details h2
{
    font-size: 1.8125em;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 0 0 10px;
}
.stream-list .observation-stream-item .details h2 a,
.stream-list .observation-stream-item .details h2 a:hover,
.stream-list .observation-stream-item .details h2 a:active,
.stream-list .observation-stream-item .details h2 a:visited
{
    color: #222222;
    text-decoration: none;
}
.stream-list .observation-stream-item .details .images
{
    display: inline-block;
    padding-right: 2%;
    vertical-align: top;
    width: 69%;
}
.stream-list .observation-stream-item .details .images .preview
{
    max-height: 600px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    position: relative;
}
/*@media screen and (min-width: 20em) 
{
    .stream-list .observation-stream-item .details .images .preview
    {
        max-height: 180px;
    }
}
@media screen and (min-width: 37.5em) 
{
    .stream-list .observation-stream-item .details .images .preview
    {
        max-height: 240px;
    }
}
@media screen and (min-width: 64em) 
{
    .stream-list .observation-stream-item .details .images .preview
    {
        max-height: 360px;
    }
}
.stream-list .observation-stream-item .details .images .preview img
{
    float: left;
    width: 100%;
}*/
.stream-list .observation-stream-item .details .images .preview .media-details {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.stream-list .observation-stream-item .details .images .preview .overlay 
{
    background-color: #000000;
    bottom: 0;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 0;
}
.stream-list .observation-stream-item .details .images .preview p.description,
.stream-list .observation-stream-item .details .images .preview p.primary-media {
    /*color: #FFFFFF;
    margin: 5px 15px;
    max-height: 35px;
    overflow: hidden;
    position: relative;
    text-shadow: none;
    white-space: normal;
    z-index: 1;
    font-size: 0.85em;
    text-align: left;*/
    color: rgb(255, 255, 255);
    font-size: 0.85em;
    line-height: 1.5em;
    margin: 5px 15px;
    max-height: 63px;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-shadow: none;
    white-space: normal;
    z-index: 1;
}
.stream-list .observation-stream-item .details .images .thumbnails > div:nth-child(5n+0) {
    margin-right: 0;
}
/*.stream-list .observation-stream-item .details .images .thumbnails img
{
    float: left;
    margin-right: 1%;
    width: 19.2%;
}*/
.stream-list .observation-stream-item .details .images .thumbnails .image-media,
.stream-list .observation-stream-item .details .images .thumbnails .video-media,
.stream-list .observation-stream-item .details .images .thumbnails .audio-media {
    float: left;
    
    height: 19.6%;
    line-height: 1em;
    margin-right: 0.5%;
    margin-top: 0.5%;
    width: 19.6%;
    cursor: pointer;
}
.stream-list .observation-stream-item .details .images .thumbnails > div:last-child
{
    margin-right: 0;
}
.stream-list .observation-stream-item .details .info
{
    display: inline-block;
    width: 30%;
}
.stream-list .observation-stream-item .details .observed,
.stream-list .observation-stream-item .details .observation-projects
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0;
}
.stream-list .observation-stream-item .details .observation-projects-list {
    margin-top: 4px;
    
}
.stream-list .observation-stream-item .details .observation-project {
    display: block;
    float: left;
    margin-right: 1.1%;
    margin-top: 1.1%;
    width: 32.6%;
}
.stream-list .observation-stream-item .details .observation-project:nth-child(3n+0) {
    margin-right: 0;
}
.stream-list .observation-stream-item .details .observation-projects {
    margin-top: 20px;
}
.stream-list .observation-stream-item .details .observed span
{
    display: block;
    font-weight: 500;
}
.stream-list .observation-stream-item .details .location
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    padding-top: 20px;
}
.stream-list .observation-stream-item .details .location .map
{
    background-color: #F2F6FA;
    overflow: hidden;
    width: 100%;
    
}
@media screen and (min-width: 20em) 
{
    .stream-list .observation-stream-item .details .location .map
    {
        height: 4em;
    }
}
@media screen and (min-width: 37.5em) 
{
    .stream-list .observation-stream-item .details .location .map
    {
        height: 9em;
    }
}
@media screen and (min-width: 64em) 
{
    .stream-list .observation-stream-item .details .location .map
    {
        height: 14em;
    }
}
/*.stream-list .observation-stream-item .details .location .map img
{
    height: 200px;
    left: -50%;
    position: relative;
}*/
.stream-list .observation-stream-item .details .location > span
{
    display: block;
    font-weight: 500;
    padding: 5px 5px 0 0;
}
#stream .observation-stream-item .projects
{
    color: #133A68;
    padding-bottom: 15px;
    font-weight: 600;
}
#stream .observation-stream-item .projects ul
{
    margin: 0;
    padding: 15px 0 0;
}
#stream .observation-stream-item .projects li
{
    display: inline;
}
#stream .observation-stream-item .projects a
{
}
#stream .observation-stream-item .projects a img
{
    height: 78px;
    margin-right: 9px;
    width: 78px;
}
#stream .observation-stream-item .notes
{
    clear: both;
}
#stream .observation-stream-item .note
{
    border-top: 4px solid #AEC8E2;
    clear: both;
}
#stream .observation-stream-item .note .note-details
{
    color: #133A68;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.2em;
    padding: 17px;
    position: relative;
}
#stream .observation-stream-item .note .note-details > div:first-child
{
    float: left;
    padding-right: 2%;
    width: 70%;
}
#stream .observation-stream-item .note .note-details > div:last-child
{
    float: left;
    width: 28%;
}
#stream .observation-stream-item .note .note-details .description
{
}
#stream .observation-stream-item .note .note-details p
{
    font-size: 0.92857143em;
    font-weight: 500;
    margin: 0 0 10px;
}
#stream .observation-stream-item .note .identification
{
}
#stream .observation-stream-item .note .identification .scientific-name span
{
    font-style: italic;
    display: block;
}
#stream .observation-stream-item .note .identification .author
{
}
#stream .observation-stream-item .note .identification .taxonomy
{
}
#stream .observation-stream-item .note .tags ul
{
    margin: 0 0 15px 0;
    padding: 0;
}
#stream .observation-stream-item .note .tags li
{
    display: inline;
}
#stream .observation-stream-item .note .tags a,
#stream .observation-stream-item .note .tags a:visited
{
    background-color: #E1ECF8;
    border-radius: 4px 4px 4px 4px;
    color: #133A68;
    display: inline-block;
    font-size: 0.86em;
    font-weight: 500;
    margin-top: 6px;
    padding: 1px 5px 3px;
    text-decoration: none;
}
#stream .observation-stream-item .note .tags a:hover,
#stream .observation-stream-item .note .tags a:active
{
    background-color: #3B9CFF;
    color: #FFFFFF;
}
/* stream post item */
#stream .post-stream-item .details div p
{
    color: #133A68;
    font-size: 0.8125em;
    font-weight: 500;
    line-height: 1.25em;
    margin: 0 15px 15px;
}
#stream .post-stream-item .details div h3
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0 15px 5px;
}
#stream .post-stream-item .details div ul,
#stream .post-stream-item .details div ol
{
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 15px 15px 15px 30px;
}
#stream .post-stream-item .details div li
{
    color: #133A68;
}
#stream .post-stream-item .details div a,
#stream .post-stream-item .details div a:active,
#stream .post-stream-item .details div a:visited,
#stream .post-stream-item .details div a:hover
{
    color: #3B9CFF;
}
#stream .post-stream-item .details div strong
{
    font-weight: 600;
}
#stream .post-stream-item .details div em
{
    font-style: italic;
}
#stream .post-stream-item .attachments
{
    color: #133A68;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
}
#stream .post-stream-item .attachments ul
{
    margin: 0;
    padding: 15px 0 0;
}
#stream .post-stream-item .attachments li
{
    display: inline;
}
#stream .post-stream-item .attachments a
{
}
#stream .post-stream-item .attachments a img
{
    height: 78px;
    margin-right: 9px;
    width: 78px;
}
.stream-message:first-child 
{
    padding-bottom: 2%;
}
.stream-message:last-child 
{
    padding-top: 2%;
}
.stream-message p
{
/*    background-color: rgba(105, 151, 197, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px #6997C5 inset;
    color: #4379B0;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin: 0 auto;
    padding: 25px 0 17px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;*/
}
.stream-message p img
{
    display: block;
    height: 49px;
    margin: 0 auto 10px;
}
.stream-load-more
{
    padding-top: 2%;
}
.stream-load-more .button
{
    width: 100%;
}
.stream-load-new
{
    padding-bottom: 2%;
}
.stream-load-new .button
{
    width: 100%;
}
/* stream observation note item */
#stream .observation-note-stream-item
{
    
}
#stream .observation-note-stream-item .details > div > div:first-child
{
    position: relative;
    float: left;
    padding-right: 2%;
    width: 70%;
}
#stream .observation-note-stream-item .details > div > div:last-child
{
    float: left;
    width: 28%;
}
#stream .observation-note-stream-item .details .description
{
/*    float: left;
    padding-right: 2%;
    width: 70%;*/
}
#stream .observation-note-stream-item .details h3
{
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0 15px 5px;
}
#stream .observation-note-stream-item .details p
{
    color: #133A68;
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 0 15px 15px;
}
#stream .observation-stream-item .note .identification
{
}
#stream .observation-note-stream-item .identification .scientific-name span
{
    font-style: italic;
    display: block;
}
#stream .observation-note-stream-item .identification .author
{
}
#stream .observation-note-stream-item .identification .taxonomy
{
}
#stream .observation-note-stream-item .tags ul
{
    margin: 0 15px;
    padding: 0;
}
#stream .observation-note-stream-item .tags li
{
    display: inline;
}
#stream .observation-note-stream-item .tags a,
#stream .observation-note-stream-item .tags a:active,
#stream .observation-note-stream-item .tags a:visited
{
    background-color: #E1ECF8;
    border-radius: 4px 4px 4px 4px;
    color: #133A68;
    display: inline-block;
    font-size: 0.76em;
    font-weight: 500;
    line-height: 1em;
    margin-top: 6px;
    padding: 3px 5px 5px;
    text-decoration: none;
}
#stream .observation-note-stream-item .tags a:hover
{
    background-color: #3B9CFF;
    color: #FFFFFF;
}
/* stream comment item */
#stream .comment-stream-item p
{
    color: #606060;
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 0 15px 15px;
}
/* stream project item */
#stream .project-stream-item p
{
    font-size: 0.8125em;
    line-height: 1.25em;
    margin: 0 15px 15px;
}

/*****************************************************/
/* stream */
#stream
{
    background: none repeat scroll 0 0 rgba(202, 222, 239, 0.5);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px 0 #143658 inset;
    height: 700px;
}
#stream h2
{
    color: #6997C5;
    font-size: 0.75em;
    font-weight: 700;
    /*margin: 10px;*/
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    padding: 15px;
}
/* activity item */
#stream .activity-item
{
    background-color: #EBF3FB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 #5071a6;
    height: 100px;
    margin: 10px;
}
.activity-window
{
    background-color: white;
    border: 1px solid black;
    top: 50px;
    height: auto;
    min-height:400px;
    max-height: 50%;
    position: fixed;
    right: 0;
    width: 200px;
    padding: 5px;
}

#avatar-uploaded img
{
    height:220px;   
}



/*
ul.explore-menu
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;   
}
.explore-list
{
    margin-top:50px;   
    padding:10px;
    border: 1px solid black;
    height:100%;
}
.explore-item
{
    float:left;
    width:200px;
    height:200px;
    margin:10px;
    border: 1px solid black;
       
}
.explore-item-summary {
    margin: 5px;
}
.explore-item-details
{
    margin: 5px;
}
.explore-item-contents
{
    margin: 5px;
}
*/
/*-----------------AVATAR UPLOAD-----------*/
.explore-avatar
{
    height: 50px;
    width: 50px;
}

.form .avatar-upload-button
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 0;
    overflow: hidden;
    padding: 3px 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 124px;
}
.form .avatar-upload-button input
{
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 118px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.form #avatar-viewer
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.3) inset;
    color: rgb(0, 0, 0);
    display: block;
    font-family: "open sans",sans-serif;
    font-size: 1em;
    padding: 13px 13px 7px;
    width: 98px;
}
.form .avatar-field
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:block;
    /*float: left;
    clear: both;    */
    padding: 0 15px 0;
    margin-bottom: 25px;
}