<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{>Title}}BowerBird</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/new/normalize.css?v={{#Ver}}{{{Ver}}}{{/Ver}}{{^Ver}}0{{/Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/new/global.css?v={{#Ver}}{{{Ver}}}{{/Ver}}{{^Ver}}0{{/Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/new/stream.css?v={{#Ver}}{{{Ver}}}{{/Ver}}{{^Ver}}0{{/Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/new/observation.css?v={{#Ver}}{{{Ver}}}{{/Ver}}{{^Ver}}0{{/Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/new/circle.player.css?v={{#Ver}}{{{Ver}}}{{/Ver}}{{^Ver}}0{{/Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/new/progressbar.css?v={{#Ver}}{{{Ver}}}{{/Ver}}{{^Ver}}0{{/Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/new/media.css?v={{#Ver}}{{{Ver}}}{{/Ver}}{{^Ver}}0{{/Ver}}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" />
  </head>
  <body class="debug">
    <div id="debug-info"></div>
    <header class="{{#Model.HomeHeader}}home{{/Model.HomeHeader}}{{^Model.HomeHeader}}default{{/Model.HomeHeader}}-header">
      <div>

 
        {{#Model.HomeHeader}}
        <div class="banner">
          <div class="slogan">
            <h1>
              <img src="/img/logo2.svg" alt="" />
            </h1>
            <p>
              A place to share and discuss Australia’s biodiversity.
            </p>
            <a href="/account/register" class="button">Join BowerBird</a>
          </div>
          <div class="feature-image">
            <img src="/media/0/39-Original.jpg" alt="" />
          </div>
        </div>
        {{/Model.HomeHeader}}
        {{^Model.HomeHeader}}
        <h1>
          <a href="/">
            <img src="/img/logo2.svg" alt="" />
          </a>
        </h1>
        {{/Model.HomeHeader}}
        <h2 class="hidden">Your Account</h2>
        <nav id="account-menu">
          <ul>
            {{#AuthenticatedUser}}
            <li class="user-menu-item">
              <span class="small-icon user-icon"></span>
              <span class="user-name">{{AuthenticatedUser.User.Name}}</span>

              <div class="sub-menu-button">
                <span class="arrow-icon down-arrow-icon"></span>
                <ul>
                  <li>
                    <a href="/{{AuthenticatedUser.User.Id}}">View Your Public Profile</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/account/preferences">Edit Preferences</a>
                  </li>
                  <li>
                    <a href="/account/update">Edit Account Details</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/account/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </li>
            {{/AuthenticatedUser}}
            {{^AuthenticatedUser}}
            <li>
              <a href="/account/login">Login</a>
            </li>
            <li>
              <a href="/account/register">Join</a>
            </li>
            {{/AuthenticatedUser}}
          </ul>
        </nav>

        <h2 class="hidden">Explore</h2>
        <nav id="explore-menu">
          <ul>
            <li>
              <a href="/sightings">Sightings</a>
            </li>
            <li>
              <a href="/projects">Projects</a>
            </li>
            <li>
              <a href="/teams">Teams</a>
            </li>
            <li>
              <a href="/organisations">Organisations</a>
            </li>
          </ul>
        </nav>

        <nav id="search-menu">
          <label for="search">Search</label>
          <input type="text" value="" name="search" id="search" placeholder="Search" />
        </nav>



      </div>
    </header>
    <article>
      {{>Body}}
    </article>
    <footer>
    </footer>
    <img src="/img/loader.gif" alt="" class="hidden" />
    <!--[if lte IE 9]>
    <script type="text/javascript">
      window.isIEFail = true;
    </script>
    <![endif]-->
    <!--<script data-main="/js/{{JavascriptSource}}" src="/js/libs/require/require.js?v={{#Ver}}{{{Ver}}}{{/Ver}}{{^Ver}}0{{/Ver}}"></script>-->
    <script src="/js/libs/require/require.js?v={{#Ver}}{{{Ver}}}{{/Ver}}{{^Ver}}0{{/Ver}}"></script>
    <script type="text/javascript">
      define('bootstrap-data', function() {
      return {{{BootstrappedJson}}};
      });
      // Ideally we wouldn't need the lione below as this would be loaded via data-main attribute, but Opera has a bug: https://github.com/jrburke/requirejs/issues/357
      require(['/js/{{JavascriptSource}}']);
    </script>
    <!--{{#RavenProfiler}}{{{RavenProfiler}}}{{/RavenProfiler}}-->
  </body>
</html>