<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{>Title}}BowerBird</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css?v={{#Model.Ver}}{{{Model.Ver}}}{{/Model.Ver}}{{^Model.Ver}}0{{/Model.Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/global.css?v={{#Model.Ver}}{{{Model.Ver}}}{{/Model.Ver}}{{^Model.Ver}}0{{/Model.Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/stream.css?v={{#Model.Ver}}{{{Model.Ver}}}{{/Model.Ver}}{{^Model.Ver}}0{{/Model.Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/observation.css?v={{#Model.Ver}}{{{Model.Ver}}}{{/Model.Ver}}{{^Model.Ver}}0{{/Model.Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/circle.player.css?v={{#Model.Ver}}{{{Model.Ver}}}{{/Model.Ver}}{{^Model.Ver}}0{{/Model.Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/progressbar.css?v={{#Model.Ver}}{{{Model.Ver}}}{{/Model.Ver}}{{^Model.Ver}}0{{/Model.Ver}}" />
    <link rel="stylesheet" type="text/css" href="/css/media.css?v={{#Model.Ver}}{{{Model.Ver}}}{{/Model.Ver}}{{^Model.Ver}}0{{/Model.Ver}}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" />
  </head>
  <body>
    <div id="header">
      {{>Header}}
    </div>
    <article>
      {{>Body}}
    </article>
      <footer>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Help Blog</a></li>
          <li><a href="#">Developer</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Terms and Conditions</a></li>
        </ul>
      </footer>
    <img src="/img/loader-small.gif" alt="" class="hidden" />
    <img src="/img/loader-large.gif" alt="" class="hidden" />
    <!--[if lte IE 9]>
    <script type="text/javascript">
      window.isIEFail = true;
    </script>
    <![endif]-->
    <!--<script data-main="/js/{{JavascriptSource}}" src="/js/libs/require/require.js?v={{#Model.Ver}}{{{Model.Ver}}}{{/Model.Ver}}{{^Model.Ver}}0{{/Model.Ver}}"></script>-->
    <script src="/js/libs/require/require.js?v={{#Model.Ver}}{{{Model.Ver}}}{{/Model.Ver}}{{^Model.Ver}}0{{/Model.Ver}}"></script>
    <script type="text/javascript">
      define('bootstrap-data', function() {
      return {{{BootstrappedJson}}};
      });
      // Ideally we wouldn't need the line below as this would be loaded via data-main attribute, but Opera has a bug: https://github.com/jrburke/requirejs/issues/357
      require(['/js/{{JavascriptSource}}']);
    </script>
    <!--{{#RavenProfiler}}{{{RavenProfiler}}}{{/RavenProfiler}}-->
  </body>
</html>