<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Bowerbird</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/css/media.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" />
  </head>
  <body class="debug">
    <div id="debug-info"></div>
    <header>
      <div>
        <h1>Bowerbird</h1>
        <!--<nav id="main-menu">
          <ul>
            <li>@Html.ActionLink("Observations", "index", "observation")</li>
            <li>@Html.ActionLink("People", "index", "user")</li>
            <li>@Html.ActionLink("Groups", "index", "group")</li>
          </ul>
        </nav>-->
        <nav id="account-menu">
          <ul>
            {{#UserContext.UserProfile}}
            <li class="user-menu">
              <a href="/user/update">{{UserContext.UserProfile.Name}}</a>
            </li>
            <li>
              <a href="/account/logout">Logout</a>
            </li>
            <li class="observations-menu">
              <a href="/observations/create" class="new-observation-button">
                <img src="/img/observation-button.png" alt="" />
              </a>
            </li>
            {{/UserContext.UserProfile}}
            {{^UserContext.UserProfile}}
            <li>
              <a href="/account/login">Login</a>
            </li>
            <li>
              <a href="/account/register">Register</a>
            </li>
            {{/UserContext.UserProfile}}
          </ul>
        </nav>
        <nav id="search-menu">
          <div>
            <label for="search">Search</label>
            <input type="text" value="" name="search" id="search" placeholder="Search for observations, people and groups" />
          </div>
        </nav>
      </div>
    </header>
    <article>
      {{>Body}}
    </article>
    <footer>
      <a href="/home/setuptestdata">Setup Test Data</a>
    </footer>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&region=AU"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('\x3C/script type="text/javascript" src="/js/libs/jquery-1.7.1.min.js">\x3C/script>')</script>
    <script type="text/javascript" src="/js/libs/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/js/libs/log.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.signalR.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="/js/libs/iCanHaz.js"></script>
    <script type="text/javascript" src="/js/libs/yepnope.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/js/libs/json2.js"></script>
    <script type="text/javascript" src="/js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="/js/libs/backbone.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/js/libs/load-image.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.multiSelect.js"></script>
    <script type="text/javascript" src="/js/libs/iscroll.js"></script>
    <script type="text/javascript" src="/js/libs/date-min.js"></script>
    <script type="text/javascript" src="/template"></script>
    <script type="text/javascript" src="/js/bowerbird/namespace.js"></script>      
    <script type="text/javascript" src="/js/bowerbird/models/chat.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/groupChat.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/userChat.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/chatMessage.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/chatUser.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/group.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/observation.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/project.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/stream.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/streamItem.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/team.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/organisation.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/user.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/mediaResource.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/notification.js"></script>
    <script type="text/javascript" src="/js/bowerbird/models/explore.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/chatMessages.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/chatUsers.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/users.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/chats.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/paginatedCollection.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/groups.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/projects.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/streamItems.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/teams.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/organisations.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/mediaResources.js"></script>
    <script type="text/javascript" src="/js/bowerbird/collections/notifications.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/appView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/chatView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/sidebarView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/sidebarItemView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/streamListItemView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/streamListView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/streamView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/mediaResourceItemView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/avatarItemView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/editMapView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/editMediaView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/editAvatarView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/userOnlineView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/userView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/observationCreateFormView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/projectCreateFormView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/organisationCreateFormView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/teamCreateFormView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/notificationsView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/views/notificationItemView.js"></script>
    <script type="text/javascript" src="/js/bowerbird/chatRouter.js"></script>
    <script type="text/javascript" src="/js/bowerbird/notificationRouter.js"></script>
    <script type="text/javascript" src="/js/bowerbird/appRouter.js"></script>
    <script type="text/javascript" src="/js/bowerbird/app.js"></script>
    <script type="text/javascript">
      $(function () {
        new Bowerbird.App().start({{#UserContext.UserProfile}}{{{UserContext.UserProfileJson}}}{{/UserContext.UserProfile}}{{^UserContext.UserProfile}}null{{/UserContext.UserProfile}}, {{#UserContext.UserProfile}}{{{UserContext.TeamsJson}}}{{/UserContext.UserProfile}}{{^UserContext.UserProfile}}null{{/UserContext.UserProfile}}, {{#UserContext.UserProfile}}{{{UserContext.ProjectsJson}}}{{/UserContext.UserProfile}}{{^UserContext.UserProfile}}null{{/UserContext.UserProfile}}, {{#UserContext.UserProfile}}{{{UserContext.OnlineUsersJson}}}{{/UserContext.UserProfile}}{{^UserContext.UserProfile}}null{{/UserContext.UserProfile}}, '{{PrerenderedView}}');
      });
    </script>
    {{#RavenProfiler}}{{{RavenProfiler}}}{{/RavenProfiler}}
  </body>
</html>
