<div>
    @using (Html.BeginForm("create", "observation", FormMethod.Post))
    {
        <fieldset>
            <legend>Create Observation</legend>
            <div>
                <div>
                    <label for="title">Title</label>
                </div>
                <div>
                    <input type="text" id="title" name="title" />
                </div>
            </div>
            <div>
                <div>
                    <label for="address">Address</label>
                </div>
                <div>
                    <input type="text" id="address" name="address" />
                </div>
            </div>
            <div>
                <div>
                    <label for="latitude">Latitude</label>
                </div>
                <div>
                    <input type="text" id="latitude" name="latitude" />
                </div>
            </div>
            <div>
                <div>
                    <label for="longitude">Longitude</label>
                </div>
                <div>
                    <input type="text" id="longitude" name="longitude" />
                </div>
            </div>
        </fieldset>
        <div>
            <input type="button" value="Save" id="save" />
            <input type="button" value="Cancel" id="cancel" />
        </div>
    }
</div>