@model PostCreateViewModel

@using (Html.BeginForm("Create", "Post", FormMethod.Post))
{
    <div>
        Post a Message
    </div>
    <div>
        <div id="validation-result"></div>
        <div>
            @Html.LabelFor(x => x.Message)
            <br />
            @Html.TextBoxFor(x => x.Message)
            @Html.ValidationMessageFor(x => x.Message)
        </div>
    </div>
}