<div id="selected-filter-contents">
    <div id="selected-filter-photo">
        <img src="../img/test-thumb-2.jpg" alt="" />
    </div>
    <div id="selected-filter-details">
        <h1>${key}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor urna eu risus interdum commodo. Suspendisse ac diam at magna lobortis tristique. Duis sed nibh eu quam pretium mollis. Nullam vel lacus massa, non dignissim sem. Proin ipsum lorem, rutrum at dictum et, aliquam ac lacus. Donec eget felis purus, commodo tristique tellus.</p>
    </div>
</div>
<div id="selected-filter-actions">
    <ul>
        <li><a id="create-observation">New Observation...</a></li>
    </ul>
</div>
<div id="selected-filter-nav">
    <ul>
        <li class="selected"><a href="#" class="themed-button">Everything</a></li>
        <li><a href="#" class="themed-button">Observations</a></li>
        <li><a href="#" class="themed-button">Needs Id</a></li>
        <li><a href="#" class="themed-button">Map</a></li>
    </ul>
</div>