<div class="timeline-item-summary">
    <div class="timeline-item-summary-user-avatar"><img src="../img/avatar.jpg" alt="" /></div>
    <div class="timeline-item-summary-heading">Dr Ken Walker made an observation</div>
    <div class="timeline-item-summary-date">August 28th</div>
</div>
<div class="timeline-item-body timeline-item-observation">
    <div class="timeline-item-observation-summary">
        <div class="timeline-item-observation-name">Variegated Fritillary Butterfly</div>
        <div class="timeline-item-observation-scientific-name">Euptoieta Claudia</div>
    </div>
    <div class="timeline-item-observation-photos">
        <div class="timeline-item-observation-photo-preview">
            <img src="../img/test-thumb-3.jpg" alt="" />
        </div>
        <div class="timeline-item-observation-photo-slides"></div>
        <div class="timeline-item-observation-photo-thumbnails">
            <img src="../img/test-thumb-4.jpg" alt="" />
            <img src="../img/test-thumb.jpg" alt="" />
            <img src="../img/test-thumb.jpg" alt="" />
            <img src="../img/test-thumb.jpg" alt="" />
            <img src="../img/test-thumb.jpg" alt="" />
            <img src="../img/test-thumb.jpg" alt="" />
        </div>
    </div>
    <div class="timeline-item-observation-description">
        <div class="timeline-item-observation-location"></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor urna eu risus interdum commodo. Suspendisse ac diam at magna lobortis tristique. Duis sed nibh eu quam pretium mollis. Nullam vel lacus massa, non dignissim sem. Proin ipsum lorem, rutrum at dictum et, aliquam ac lacus. Donec eget felis purus, commodo tristique tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor urna eu risus interdum commodo. Suspendisse ac diam at magna lobortis tristique. Duis sed nibh eu quam pretium mollis. Nullam vel lacus massa, non dignissim sem. Proin ipsum lorem, rutrum at dictum et, aliquam ac lacus. Donec eget felis purus, commodo tristique tellus.
    </div>
    <div class="timeline-item-observation-tags">
        <a href="#">buttefly</a>, <a href="#">orange</a>, <a href="#">brushfoots</a>, <a href="#">violets</a>
    </div>
</div>