<div class="sighting-note-details">
  <div class="sighting-summary-details">
    {{#Sighting}}
    {{>SightingSummaryDetails}}
    {{/Sighting}}
  </div>
  <div class="sighting-note">
    {{#SightingNote}}
    {{>SightingNoteFullDetails}}
    {{/SightingNote}}
  </div>
</div>