<div class="sighting-note-details">
  <div class="sighting-summary-details">
    {{#Sighting}}
    <h3>
      <span>Description added to sighting</span>
      <a href="/{{Id}}">
        {{Title}} <span></span>
      </a>
    </h3>
    {{>SightingSummaryDetails}}
    {{/Sighting}}
  </div>
  <div class="sighting-note">
    {{#SightingNote}}
    {{>SightingNoteFullFullDetails}}
    {{/SightingNote}}
  </div>
</div>