<div class="bowerbird-static-content">
    <h2>List of accessed resources used to create the Master Names Checklist</h2>
  
    <h3>Books:</h3>
    <p>Gauld,. I.D.(1984). An introduction to the Ichneumonidae of Australia. British Museum. 413 pp.</p>
    <p>Jones, D. &amp; G. Morgan (2002). A Field Guide to Crustaceans of Australian waters.  Reed New Holland 224pp</p>
    <p>Mar Ferrer-Suay,  Jordi Paretas-Martinez, Jesus Selfa &amp; Juli Pujade-Villar (2012) Taxonomic and synonymic world catalogue of the Charipinae and notes about this subfamily (Hymenoptera: Cynipoidea: Figitidae). Zootaxa 3376: 1–92.</p>
    <p>Poore, G.C.B. (2007). Crabs, hermits crabs and allies. Museum Victoria 60pp</p>
    <p>Poore, G.C.B. (2004).  Marine Decapod Crustacea of Southern Australia. 574pp</p>
    <p>Poore, G.C.B. &amp; A. Syme (2009). Barnacles. Museum Victoria 68pp.</p>
    <p>The Insects of Australia CSIRO (1991)</p>

    <h3>Journals:</h3>
    <p>Australian Journal of Entomology: http://onlinelibrary.wiley.com/journal/10.1111/(ISSN)1440-6055 </p>
    <p>BioOne Online Journals:  http://www.bioone.org/ </p>
    <p>Beagle: Records of the Museums and Art Galleries of the Northern Territory: http://search.informit.com.au/browseJournalTitle;res=IELHSS;issn=0811-3653 </p>
    <p>Journal of Natural History: http://www.tandfonline.com/toc/tnah20/current </p>
    <p>Invertebrate Systematics:  http://www.publish.csiro.au/?nid=120 </p>
    <p>Memoirs of the Queensland Museum: http://www.qm.qld.gov.au/About+Us/Publications/Memoirs+of+the+Queensland+Museum </p>
    <p>Memoirs of Museum Victoria: http://museumvictoria.com.au/about/books-and-journals/journals/memoirs-of-museum-victoria/ </p>
    <p>Records of Australian Museum: http://australianmuseum.net.au/Records-of-the-Australian-Museum </p>
    <p>Records of South Australian Museum: http://www.samuseum.sa.gov.au/science/publications </p>
    <p>Records of the Tasmanian Museum: Hard copy </p>
    <p>Records of the Queen Victoria Museum – hard copy </p>
    <p>Records of the Western Australian Museum: http://museum.wa.gov.au/research/records-supplements/records </p>
    <p>Systematic Entomology: http://onlinelibrary.wiley.com/journal/10.1111/(ISSN)1365-3113/issues </p>
    <p>The Raffles Bulletin of Zoology: http://rmbr.nus.edu.sg/rbz/ </p>
    <p>ZooKeys: http://www.pensoft.net/journals/zookeys/ </p>
    <p>Zootaxa:  http://www.mapress.com/zootaxa/ </p>
  
    <h3>Websites:</h3>
    <p>A guide to the seashells and other marine molluscs of Tasmania. - http://www.molluscsoftasmania.net/index.html </p>
    <p>AlgalBase:  http://www.algaebase.org/ </p>
    <p>Australian Insect Common Names - AICN: http://www.ces.csiro.au/aicn/intro.htm </p>
    <p>Australian Faunal Directory - AFD: http://www.environment.gov.au/biodiversity/abrs/online-resources/fauna/index.html </p>
    <p>Australian Plant Census - APC: http://www.anbg.gov.au/chah/apc/ </p>
    <p>Australian Plant Name Index – APNI: https://www.anbg.gov.au/apni/ </p>
    <p>Census of Australian Marine Diatoms: http://www.anbg.gov.au/abrs/Marine_Diatoms/index.html </p>
    <p>Census of Australian Marine Dinoflagellates: http://www.anbg.gov.au/abrs/Dinoflagellates/index_Dino.html </p>
    <p>Common names of northern Australian ants: http://www.terc.csiro.au/antnames.asp </p>
    <p>Integrated Taxonomic Information System (ITIS): http://www.itis.gov </p>
    <p>Life on Australian Seashores:  http://www.mesa.edu.au/friends/seashores/page1.html </p>
    <p>Millipedes of Australia: http://www.polydesmida.info/millipedesofaustralia/index.html </p>
    <p>The Plant List: http://www.theplantlist.org/ </p>
    <p>World Hydrozoa Database:  http://www.marinespecies.org/hydrozoa </p>
    <p>World Register of Marine Species (WORMS):  http://www.marinespecies.org/index.php </p>

</div>