  <div class="window-title-bar">
    {{Model.Title}}
    <span class="close"></span>
  </div>
  <div class="window-body">
    <div class="chat-messages"></div>
    <div class="chat-message-box form">
      <div class="status"></div>
      <textarea class="new-chat-message" autocomplete="off" accesskey="m" class="chat-message-box-text"></textarea>
      <button class="chat-send-message-button">Send</button>
    </div>
  </div>