<div class="chat-users">
	{{#ChatUsers}}
		<li>
			<span class="user-avatar">
				<img src="{{Avatar.UrlToImage}}" alt="{{Avatar.AltTag}}" width="16px;" height="16px;" />
			</span>
			<span class="user-name" id="{{Id}}">{{Name}}</span>
		</li>
	{{/ChatUsers}}
	{{^ChatUsers}}
		Loading Users...
	{{/ChatUsers}}
</div>