<div class="window-title-bar">
    <span class="window-close"></span>
    <h3>{{title}}</h3>
</div>
<ul class="chat-messages">
    {{#Messages}}
        <li>
            {{> chatmessage}}
        </li>
    {{/Messages}}
</ul>
<ul class="chat-current-users">
    {{>Chatusers}}
</ul>
<div class="chat-message-box">
    <textarea class="new-chat-message" autocomplete="off" accesskey="m"></textarea>
    <input type="button" class="chat-send-message-button" value="Send" class="send" />
</div>