<div class="comment">
    <img src="{{User.Avatar.UrlToImage}}" alt="{{User.FirstName}} {{User.LastName}}" />
    <p class="description">{{Message}} <span>{{CommentedOn}}</span></p>
    <div class="comments">
    {{#Comments}}
        {{>CommentItem}}
    {{/Comments}}
    </div>
    <div class="reply">
        
    </div>
</div>