<div id="comments" class="comments">
    {{#Comments}}
        <p>There are comments</p>
        {{>CommentItem}}  
    {{/Comments}}
</div>
<div id="addcomment" class="addcomment">
    <input type="button" class="add-comment-button" value="Add a new Comment" />
</div>