<div class="embed-video-dialog">
    <div class="embed-video-title">Add a video from Youtube or Vimeo</div>
    <div class="embed-video-section" id="embed-video-link">
        <div class="input-row">
            <span class="input-label">
                Url Link:
            </span>
            <span class="input-field">
                <input id="embed-video-link-input"></input>
            </span>
        </div>
        <!--<div class="row-spacer">or</div>
        <div class="input-row">
            <span class="input-label">
                Embed Link:
            </span>
            <span class="input-field">
                <textarea id="embed-video-script-input" autocomplete="off"></textarea>
            </span>
        </div>-->
        <div class="embed-video-buttons">
            <button class="button-left" id="embed-video-clear-button">Clear Links</button>    
            <button class="button-left" id="embed-video-cancel-button">Cancel</button>   
            <button class="button-right" id="embed-video-view-button">Preview &raquo;</button>    
        </div>
    </div>
    <div class="embed-video-section" id="embed-video-preview">
        <div class="embed-video-player" id="embed-video-player">
            
        </div>
        <div class="input-row">
            <span class="input-label">Title:</span>
            <span class="input-field">
                <input type="text" id="embed-video-title-input"></input>
            </span>
            <span class="input-label">Description:</span>
            <span class="input-field">
                <textarea id="embed-video-description-input"></textarea>
            </span>
        </div>
        <div class="embed-video-buttons">
            <button class="button-left" id="embed-video-edit-button">&laquo; Back to Video Link</button>    
            <button class="button-left" id="embed-video-description-clear-button">Clear Text</button>    
            <button class="button-right" id="embed-video-save-button">Save</button>    
        </div>
    </div>
</div>