<div class="embed-video-dialog">
    <div class="embed-video-title">Add a video from Youtube or Vimeo</div>
    <div class="embed-video-section" id="embed-video-link">
        <div class="input-row">
            <span class="input-label">
                Url Link:
            </span>
            <span class="input-field">
                <input id="embed-video-link-input"></input>
            </span>
        </div>
    </div>
    <div class="embed-video-section" id="embed-video-preview">
        <div class="embed-video-player" id="embed-video-player">
            <!-- This is where the video will appear -->
        </div>
        <div class="input-row">
            <span class="input-label">Description:</span>
            <span class="input-field">
                <textarea id="embed-video-description-input"></textarea>
            </span>
        </div>
    </div>
    <div class="embed-video-buttons">
        <button class="button-left" id="embed-video-clear-button">Clear</button>    
        <button class="button-left" id="embed-video-cancel-button">Cancel</button>
        <button class="button-right" id="embed-video-next-button">Next &raquo;</button>    
    </div>
</div>