{{#ProjectList.Projects.PagedListItems}}
    <div class="summary">
		<p class="name">{{Name}}</p>
        <img src="{{Avatar.UrlToImage}}" alt="" />
        <p class="description">{{Description}}</p>
        <p class="website">{{Website}}</p>
    </div>
{{/ProjectList.Projects.PagedListItems}}