<div class="home-what">
  <h3>What can you do here?</h3>
  <div class="home-what-item">
    <img src="" alt="" />
    <em>Add your own Sightings</em>
    <p>Gather the images, videos and sounds of Australian nature in BowerBird. Whether you are a specialist, citizen scientist, grey nomad or aspiring student, BowerBird will let you share your discoveries.</p>
  </div>
  <div class="home-what-item">
    <img src="" alt="" />
    <em>Join Projects</em>
    <p>Create or join Projects. Everyone in a Project can add and share images, videos and sounds as well as add notes and comment on the species you find. It’s the perfect place for a BioBlitz.</p>
  </div>
  <div class="home-what-item">
    <img src="" alt="" />
    <em>Chat to like-minded people</em>
    <p>BowerBird is just like a Naturalist Society. Share what you have found; get help identifying it; ask questions and get answers. Have a conversation about what you have contributed. </p>
  </div>
</div>

<div class="home-why">
  <h3>Why is BowerBird different?</h3>
  <div class="carousel">
    <ul>
      <li>
        <img src="" alt="" />
        <div class="caption">
          <em>Keep up to date with your activity stream</em>
          <p>Whenever you return to BowerBird, your activity stream will show you what’s been added since you were last here.</p>
        </div>
      </li>
      <li>
        <img src="" alt="" />
        <div class="caption">
          <em>Create New Observations</em>
          <p>Create your own story board with observations, images, videos or sound files. It’s so easy.</p>
        </div>
      </li>
      <li>
        <img src="" alt="" />
        <div class="caption">
          <em>Join Projects and Organisations</em>
          <p>Join groups to participate and engage with like-minded naturalists. No joining fees – it’s all free.</p>
        </div>
      </li>
      <li>
        <img src="" alt="" />
        <div class="caption">
          <em>Post Notes and Comments</em>
          <p>Got something to add? There are lots of ways you can contribute or ask questions.</p>
        </div>
      </li>
      <li>
        <img src="" alt="" />
        <div class="caption">
          <em>Contribute to what is known about Australia’s Biodiversity</em>
          <p>
            All of the validated contributions to BowerBird will appear and to help fill in gaps on Australia’s National Biodiversity website – the <a href="http://www.ala.org.au">Atlas of Living Australia</a>.
          </p>
        </div>
      </li>
    </ul>
    <div class="carousel-button previous-button">
      <span></span>
    </div>
    <div class="carousel-button next-button">
      <span></span>
    </div>
    <div class="pagination"></div>
  </div>
  <div class="current-caption">
    <em>Keep up to date with your activity stream</em>
    <p>Whenever you return to BowerBird, your activity stream will show you what’s been added since you were last here.</p>
  </div>
</div>

<div class="home-how">
  <h3>Ready to contribute to the BowerBird community?</h3>
  <em class="hidden">Example Observations</em>
  <div>
    <div class="carousel">
      <ul>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
      </ul>
    </div>
    <a href="/account/register" class="button">Join BowerBird</a>
  </div>
</div>