<h2>Home</h2>
<div class="summary">

</div>
<div class="tab-bar large">
  <ul class="tabs">
    <li>
      <a class="tab-button selected" href="/">Activity</a>
    </li>
    <li>
      <a class="tab-button" href="#">Observations</a>
    </li>
    <li>
      <a class="tab-button" href="#">Posts</a>
    </li>
  </ul>
</div>
<div class="details">
  {{#Model.Stream}}
  <div class="stream">
    {{>Stream}}
  </div>
  {{/Model.Stream}}
</div>
