<h2>
  <span class="small-icon home-icon"></span>About BowerBird
</h2>

<div class="details">
 
  <blockquote>&quot;New information does not become science until it is made social.&quot; <span>E.O. Wilson.</span>
  </blockquote>

  <p>BowerBird is a social, web-based, biological sandpit – where everyone can come and play.</p>
  <p>Add a sighting, see it be recognised, commented on and identified or that find that it contains unknown 
  information about a species; and, then to see the sighting become part of a larger picture for a species 
  or ecosystem and finally to have the sighting information integrated with national and international 
  databases.</p>
  <p>More formally, it is a socially networked, web-based, community, biodiversity workspace for Australia, although anyone is welcome to participate.  We hope that it will be used by individuals, citizen scientists, amateur and professional science-based Organisations and Societies and Field Naturalists clubs. Its strength will be a single point of entry for biological communication and sharing.</p>

  <p>The primary aims of BowerBird are:</p>

  <ul>
    <li>To share and deliver biological sightings to a broad audience</li>
    <li>To allow individuals, local, state or national groups to form, manage and develop their own workspaces</li>
    <li>To encourage comment and forum discussions on sightings or topics</li>
    <li>To aggregate a minimum dataset (eg. Name, location, latitude/longitude) that will allow sightings to be shared nationally and internationally (<a href="http://www.ala.org.au/">ALA</a>, <a href="http://www.gbif.org/">GBIF</a>, <a href="http://www.eol.org/">EOL</a> etc)</li>
    <li>To become the community’s eyes for Biosecurity that will detect or monitor invasive species.</li>
  </ul>

  <p>We provide the workspace, the tools and the infrastructure to achieve these community and society based goals.</p>
 

  <h2>Acknowledgements</h2>

  <p>
    BowerBird was funded by <a href="http://www.museumvictoria.com.au/">Museum Victoria</a> (MV), Melbourne Australia and <a href="http://www.ala.org.au/">Atlas of Living Australia (ALA)</a>, <a href="http://www.csiro.au/">CSIRO</a>, Canberra.  The primary programmers were Frank Radocaj and Hamish Crittenden and the project was managed by Ken Walker (MV).  Ongoing support for BowerBird will be provided by MV and ALA.
  </p>

  <p>The following resources were used to create BowerBird's taxonomic tree and species list:</p>

  <h3>Books</h3>
  <ul>
    <li>Gauld,. I.D.(1984). An introduction to the Ichneumonidae of Australia. British Museum. 413 pp.</li>
    <li>Jones, D. &amp; G. Morgan (2002). A Field Guide to Crustaceans of Australian waters. Reed New Holland 224pp</li>
    <li>Mar Ferrer-Suay,  Jordi Paretas-Martinez, Jesus Selfa &amp; Juli Pujade-Villar (2012) Taxonomic and synonymic world catalogue of the Charipinae and notes about this subfamily (Hymenoptera: Cynipoidea: Figitidae). Zootaxa 3376: 1–92.</li>
    <li>Poore, G.C.B. (2007). Crabs, hermits crabs and allies. Museum Victoria 60pp</li>
    <li>Poore, G.C.B. (2004).  Marine Decapod Crustacea of Southern Australia. 574pp</li>
    <li>Poore, G.C.B. &amp; A. Syme (2009). Barnacles. Museum Victoria 68pp.</li>
    <li>The Insects of Australia CSIRO (1991)</li>
  </ul>
  
  <h3>Journals</h3>
  <ul>
    <li><a href="http://onlinelibrary.wiley.com/journal/10.1111/(ISSN)1440-6055">Australian Journal of Entomology</a></li>
    <li><a href="http://www.bioone.org/">BioOne Online Journals</a></li>
    <li><a href="http://search.informit.com.au/browseJournalTitle;res=IELHSS;issn=0811-3653">Beagle: Records of the Museums and Art Galleries of the Northern Territory</a></li>
    <li><a href="http://www.tandfonline.com/toc/tnah20/current">Journal of Natural History</a></li>
    <li><a href="http://www.publish.csiro.au/?nid=120">Invertebrate Systematics</a></li>
    <li><a href="http://www.qm.qld.gov.au/About+Us/Publications/Memoirs+of+the+Queensland+Museum">Memoirs of the Queensland Museum</a></li>
    <li><a href="http://museumvictoria.com.au/about/books-and-journals/journals/memoirs-of-museum-victoria/">Memoirs of Museum Victoria</a></li>
    <li><a href="http://australianmuseum.net.au/Records-of-the-Australian-Museum">Records of Australian Museum</a></li>
    <li><a href="http://www.samuseum.sa.gov.au/science/publications">Records of South Australian Museum</a></li>
    <li>Records of the Tasmanian Museum (hard copy)</li>
    <li>Records of the Queen Victoria Museum (hard copy)</li>
    <li><a href="http://museum.wa.gov.au/research/records-supplements/records">Records of the Western Australian Museum</a></li>
    <li><a href="http://onlinelibrary.wiley.com/journal/10.1111/(ISSN)1365-3113/issues">Systematic Entomology</a></li>
    <li><a href="http://rmbr.nus.edu.sg/rbz/">The Raffles Bulletin of Zoology</a></li>
    <li><a href="http://www.pensoft.net/journals/zookeys/">ZooKeys</a></li>
    <li><a href="http://www.mapress.com/zootaxa/">Zootaxa</a></li>
  </ul>
  
  <h3>Websites</h3>
  <ul>
    <li><a href="http://www.molluscsoftasmania.net/index.html">A guide to the seashells and other marine molluscs of Tasmania</a></li>
    <li><a href="http://www.algaebase.org/">AlgalBase</a></li>
    <li><a href="http://www.ces.csiro.au/aicn/intro.htm">Australian Insect Common Names (AICN)</a></li>
    <li><a href="http://www.environment.gov.au/biodiversity/abrs/online-resources/fauna/index.html">Australian Faunal Directory (AFD)</a></li>
    <li><a href="http://www.anbg.gov.au/chah/apc/">Australian Plant Census (APC)</a></li>
    <li><a href="https://www.anbg.gov.au/apni/">Australian Plant Name Index (APNI)</a></li>
    <li><a href="http://www.anbg.gov.au/abrs/Marine_Diatoms/index.html">Census of Australian Marine Diatoms</a></li>
    <li><a href="http://www.anbg.gov.au/abrs/Dinoflagellates/index_Dino.html">Census of Australian Marine Dinoflagellates</a></li>
    <li><a href="http://www.terc.csiro.au/antnames.asp">Common names of northern Australian ants</a></li>
    <li><a href="http://www.itis.gov">Integrated Taxonomic Information System (ITIS)</a></li>
    <li><a href="http://www.mesa.edu.au/friends/seashores/page1.html">Life on Australian Seashores</a></li>
    <li><a href="http://www.polydesmida.info/millipedesofaustralia/index.html">Millipedes of Australia</a></li>
    <li><a href="http://www.theplantlist.org/">The Plant List</a></li>
    <li><a href="http://www.marinespecies.org/hydrozoa">World Hydrozoa Database</a></li>
    <li><a href="http://www.marinespecies.org/index.php">World Register of Marine Species (WORMS)</a></li>
  </ul>

</div>