{{#Model.Identification.HasCategory}}
<div class="identification-details">
	<img alt="" src="/img/category-{{Model.Identification.Category}}.png" />
	<div class="identification-name">{{Model.Identification.Name}}</div>
	<div class="identification-rank-type">({{Model.Identification.RankType}})</div>
	<div class="identification-taxonomy">Taxonomy: {{Model.Identification.Taxonomy}}</div>
	{{#Model.Identification.HasCommonNames}}
	<div class="identification-common-names">Common Names: {{Model.Identification.CommonNames}}</div>
	{{/Model.Identification.HasCommonNames}}
</div>
{{/Model.Identification.HasCategory}}
{{^Model.Identification.HasCategory}}
<span class="identification-none">Not Identified</span>
{{/Model.Identification.HasCategory}}