<div class="identification-info">
  <div class="identification-summary">
    {{#User.Avatar}}
    {{>MediaSquare100}}
    {{/User.Avatar}}
    <div class="description">
      <span>{{User.Name}}</span>
      <abbr>{{CreatedOnDescription}}</abbr>
    </div>
  </div>
  <div class="identification-panel">
    <div class="identification-parts">
      <img alt="" src="/img/category-{{Category}}.png" />
      <div class="identification-name">{{Name}}</div>
      <div class="identification-rank-type">({{RankType}})</div>
      <div class="identification-taxonomy">Taxonomy: {{Taxonomy}}</div>
      {{#AllCommonNames}}
      <div class="identification-common-names">Common Names: {{AllCommonNames}}</div>
      {{/AllCommonNames}}
    </div>
  </div>
  {{#Comments}}
  <div class="identification-comments">
    {{#User.Avatar}}
    {{>MediaSquare100}}
    {{/User.Avatar}}
    <span>{{User.Name}} says</span>
    <p>{{Comments}}</p>
  </div>
  {{/Comments}}
</div>
<div class="info">
  <div class="identification-actions">
    <div class="vote-panel">
      <div class="vote-details">
        <span class="vote-score user-vote-score{{UserVoteScore}}">{{TotalVoteScore}}</span>
        <span class="vote-label">votes</span>
      </div>
      <div class="vote-up button user-vote-score{{UserVoteScore}}" title="<b>Vote up</b> <br />This identification is accurate <br />(Click again to undo)">+</div>
      <div class="vote-down button user-vote-score{{UserVoteScore}}" title="<b>Vote down</b> <br />This identification is not accurate <br />(Click again to undo)">-</div>
    </div>
    <div class="comment-panel">
      <div class="comment-details">
        <span class="comment-icon"></span>
        <span class="comment-count">0</span>
      </div>
      <a href="#" class="button add-comment-button" title="<b>Discuss this identification</b> <br />Comment about this identification">Discuss</a>
    </div>
  </div>
</div>