{{#HasIdentification}}
<div class="identification-details">
	<img alt="" src="/img/category-{{Category}}.png" />
	<div class="identification-name">{{Name}}</div>
	<div class="identification-rank-type">({{RankType}})</div>
	<div class="identification-taxonomy">Taxonomy: {{Taxonomy}}</div>
	{{#HasCommonNames}}
	<div class="identification-common-names">Common Names: {{CommonNames}}</div>
	{{/HasCommonNames}}
</div>
{{/HasIdentification}}
{{^HasIdentification}}
<span class="identification-none">Not Identified</span>
{{/HasIdentification}}