<div class="window" id="edit-identification-window">
    <div class="window-title-bar">
    Identification
    <span class="close" title="Close"></span>
    </div>
    <div class="window-body">
        <div class="form edit-identification-form">
        <form action="">
            <fieldset>
                <legend class="hidden">Identification Details</legend>

              <p>If you think you can identify the organism in your sighting, search for a common name or scientific name below.</p>

              <div id="search-identification-field" class="field">
                <div>
                  <label for="SearchIdentification">Search</label>
                </div>
                <div>
                  <input type="text" id="SearchIdentification" />
                </div>
              </div>

              <div id="selected-identification-field" class="field">
                <div>
                  <label>Identified As</label>
                </div>
                <div>
                  <div id="Identification">
                    <span class="identification-none">Not Identified</span>
                  </div>
                </div>
              </div>

            </fieldset>
            <fieldset>
                <input type="button" value="Done" class="done-button" />
                <input type="button" value="Cancel" class="cancel-button" />
            </fieldset>
            </form>
            </div>
    </div>
</div>