{{#Image.Square200}}
<div class="image-media media-square-200">
    <img src="{{Uri}}" alt="" />
</div>
{{/Image.Square200}}
{{#Video.Square200}}
<div class="video-media media-square-200">
    <img src="{{Uri}}" alt="" />
</div>
{{/Video.Square200}}
{{#Audio.Square200}}
<div class="audio-media media-square-200">
    <img src="{{Uri}}" alt="" />
</div>
{{/Audio.Square200}}