<div class="summary">
  <img src="{{Model.User.Avatar.Files.ThumbnailMedium.RelativeUri}}" alt="{{Model.User.FirstName}}" />
  <p class="name">{{Model.User.FirstName}} {{Model.User.LastName}}</p>
  <p class="description">
    {{Model.Description}} <abbr class="time-description" title="{{Model.CreatedDateTime}}">{{Model.CreatedDateTimeDescription}}</abbr>
  </p>
</div>
{{#Model.ObservationAdded}}
<div class="details observation">
  <p>{{Model.ObservationAdded.Observation.Title}}</p>
  {{#Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.ThumbnailMedium}}
  `<img src="{{Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.ThumbnailMedium.RelativeUri}}" alt="{{Model.ObservationAdded.Observation.Title}}" />
  {{/Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.ThumbnailMedium}}
  {{#Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.Small}}
  <iframe width="210px" height="180px" src="{{Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.Small.EmbedTag}}?controls=0&showinfo=0" controls="0" frameborder="0" allowFullScreen=""></iframe>
  {{/Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.Small}}
</div>
{{/Model.ObservationAdded}}