<div class="summary">
    <img alt="" src="{{avatarUri}}">
    <p class="description">{{summaryDescription}} <span>{{createdDateTimeDescription}}</span></p>
</div>
<div class="details observation">
    <div>{{model.title}}</div>
    <img src="{{model.imageUri}}" alt="" />
</div>