<div class="summary">
    <img alt="" src="{{avatarUri}}">
    <p class="description">{{SummaryDescription}} <span>{{CreatedDateTimeDescription}}</span></p>
</div>
<div class="details observation">
    <div>{{Title}}</div>
    <img src="{{ImageUri}}" alt="" />
</div>