<h2>{{Model.Observation.Title}}</h2>
<div>
  <div class="images">
    <div class="preview">
      <img src="{{Model.Observation.PrimaryMedia.MediaResource.Files.FullLarge.RelativeUri}}" alt="{{Model.Observation.Title}}" />
    </div>
    {{#Model.ShowThumbnails}}
    <div class="thumbnails">
      {{#Model.Observation.Media}}
      <img src="{{MediaResource.Files.FullSmall.RelativeUri}}" alt="{{Model.ObservationAdded.Observation.Title}}" />
      {{/Model.Observation.Media}}
    </div>
    {{/Model.ShowThumbnails}}
  </div>
  <div class="info">
    <div class="user">
      <img src="{{Model.Observation.User.Avatar.Files.ThumbnailMedium.RelativeUri}}" alt="{{Model.Observation.User.Name}}" />
      <div>{{Model.Observation.User.Name}}</div>
    </div>
    <div class="observed">
      Observed
      <span>{{Model.Observation.ObservedOnDate}}</span>
      <span>{{Model.Observation.ObservedOnTime}} AEST</span>
    </div>
    <div class="location">
      <div class="map">
        <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=8&size=400x200&scale=2&maptype=terrain&markers=color:blue|{{Model.Observation.Latitude}},{{Model.Observation.Longitude}}&sensor=false" alt="Map of location" />
      </div>
      <span>{{Model.Observation.Address}}</span>
      <span>Latitude {{Model.Observation.Latitude}}</span>
      <span>Longitude {{Model.Observation.Longitude}}</span>
    </div>
  </div>
</div>
