    <h2><a href="/{{Model.ObservationAdded.Observation.Id}}">{{Model.ObservationAdded.Observation.Title}}</a></h2>
    <div>
      <div class="images">
        <div class="preview">
            {{#Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.FullLarge}}
                <img src="{{Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.FullLarge.RelativeUri}}" alt="{{Model.ObservationAdded.Observation.Title}}" />
            {{/Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.FullLarge}}
            {{#Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.Fullsize}}
                <iframe width="672px" height="400px" src="{{Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.Fullsize.EmbedTag}}?showinfo=0" frameborder="0" allowFullScreen></iframe>
            {{/Model.ObservationAdded.Observation.PrimaryMedia.MediaResource.Files.Fullsize}}
        </div>
        <div class="thumbnails">
          {{#Model.ObservationAdded.Observation.Media}}
            {{#MediaResource.Files.FullSmall}}
              <img src="{{RelativeUri}}" alt="{{Title}}" />
            {{/MediaResource.Files.FullSmall}}
            {{#MediaResource.Files.Small}}
              <iframe width="200px" height="160px" src="{{EmbedTag}}?controls=0&showinfo=0" frameborder="0" controls="0" allowFullScreen></iframe>
            {{/MediaResource.Files.Small}}
          {{/Model.ObservationAdded.Observation.Media}}
        </div>
      </div>
      <div class="info">
        <div class="observed">
          Observed
          <span>{{Model.ObservationAdded.Observation.ObservedOnDate}}</span>
          <span>{{Model.ObservationAdded.Observation.ObservedOnTime}} AEST</span>
        </div>
        <div class="location">
          <div class="map">
            <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=8&size=400x200&scale=2&maptype=terrain&markers=color:blue|{{Model.ObservationAdded.Observation.Latitude}},{{Model.ObservationAdded.Observation.Longitude}}&sensor=false" alt="Map of location" />
          </div>
          <span>{{Model.ObservationAdded.Observation.Address}}</span>
          <span>Latitude {{Model.ObservationAdded.Observation.Latitude}}</span>
          <span>Longitude {{Model.ObservationAdded.Observation.Longitude}}</span>
        </div>
      </div>
    </div>
