<h2>
  <span class="small-icon observation-icon"></span>Observation
</h2>
<div class="form-details">
  <!--<div id="jplayer_inspector"></div>-->
  <div class="main">
    {{#Model.Create}}
      <div class="form single-medium observation-form">
        {{>ObservationForm}}
      </div>
    {{/Model.Create}}
    {{#Model.Update}}
      <div class="form single-medium observation-form">
        {{>ObservationForm}}
      </div>
    {{/Model.Update}}
  </div>
</div>