<div>
    <img src="{{MediumImageUri}}" alt="" />
</div>
<div>
    <input type="button" value="View" class="view-media-resource-button" />
    <input type="button" value="Add Caption" class="add-caption-button" />
    <input type="button" value="Remove" class="remove-media-resource-button" />
</div>