<div>
    <div class="media">
        {{>VideoFullMedium}}
        {{>ImageFullMedium}}
    </div>
    <div class="options">
    <div class="sub-menu-button">
        <span></span>
        <ul>
            <li>
                <span class="view-menu-item">View</span>
            </li>
            <li class="divider"></li>
            <li>
                <span class="edit-menu-item">Edit Details</span>
            </li>
            <li>
                <span class="remove-menu-item">Remove</span>
            </li>
        </ul>
    </div>
</div>