<div>
    <div class="media">
        {{>VideoFullMedium}}
        {{>ImageFullMedium}}
    </div>
    <div class="options">
      <input type="button" value="View" class="view-media-resource-button" />
      <input type="button" value="Add Caption" class="add-caption-button" />
      <input type="button" value="Remove" class="remove-media-resource-button" />
    </div>
</div>