<div class="summary">
    <img src="{{user.avatar.urlToImage}}" alt="" />
    <p class="description">{{description}} <span>{{createdDateTimeDescription}}</span></p>
</div>
<div class="details">
    <h2>{{item.title}}</h2>
    <div>
        <div class="images">
            <div class="preview">
                <img src="{{highlightMedia.originalImageUri}}" alt="" />
            </div>
            <div class="thumbnails">
                {{#item.observationMedia}}
					<img src="{{thumbnailImageUri}}" alt="" />
                {{/item.observationMedia}}
            </div>
        </div>
        <div class="info">
            <div class="observed">
                Observed
                <span>{{observedOnDate}}</span>
                <span>{{observedOnTime}} AEST</span>
            </div>
            <div class="location">
                Location
                <div class="map"><img src="http://maps.googleapis.com/maps/api/staticmap?zoom=8&size=400x200&scale=2&maptype=terrain&markers=color:blue|{{item.latitude}},{{item.longitude}}&sensor=false" alt="Map of location" /></div>
                <span>{{item.address}}</span>
                <span>Latitude {{item.latitude}}</span>
                <span>Longitude {{item.longitude}}</span>
            </div>
        </div>
    </div>