<div>
<div class="media">
    {{#Model.MediaResource}}
        {{>MediaFull480}}
    {{/Model.MediaResource}}
</div>
<div class="options">
    <div class="sub-menu-button">
        <span></span>
        <ul>
            <li>
                <span class="view-menu-item">View</span>
            </li>
            <li class="divider"></li>
            <li>
                <span class="primary-menu-item">Display As First Media</span>
            </li>
            <li>
                <span class="edit-menu-item">Edit Details</span>
            </li>
            <li>
                <span class="remove-menu-item">Remove</span>
            </li>
        </ul>
    </div>
    <div class="media-details">
        <div class="overlay"></div>
        {{#Model.Media.Description}}
        <p class="description">{{Model.Media.Description}}</p>
        {{/Model.Media.Description}}
        <div class="licence-icons">
            {{#Model.Media.LicenceIcons}}
            <img src="{{.}}" alt="">
            {{/Model.Media.LicenceIcons}}
        </div>
        <span class="licence-name">{{Model.Media.LicenceName}}</span>
    </div>
</div>