  <h2>Observation</h2>
  <form action="/observation/create" method="post"  enctype="multipart/form-data">
    <fieldset>
      <legend>Observation Details</legend>
      <fieldset id="media-resources-fieldset">
        <legend>Images, Videos, Audio</legend>
        <p>Drag and drop files into the box below, or choose files from your computer or import from other websites.</p>
        <div id="media-uploader">
          <div class="media-resource-items" id="media-resource-items">
            <div class="media-resource-dropzone">
              <p>Drop files here<p>
            </div>
            <div id="media-resource-add-pane">
              <div id="media-resource-upload-button" class="button media-resource-upload-button">
                Choose Files<input id="fileupload" type="file" name="file" multiple="" />
              </div>
              <input type="button" value="Import From Website" id="media-resource-import-button"/>
            </div>
          </div>
        </div>
      </fieldset>
      <div id="title-field" class="field">
        <div>
          <label for="Title">Title</label>
        </div>
        <div>
          <input type="text" id="Title" name="title" value="{{Model.Observation.Title}}" />
        </div>
      </div>

      <div id="category-field" class="field">
        <div>
          <label for="Category">Category</label>
        </div>
        <div>
          <select id="Category" name="category">
            <option></option>
            {{#Model.Categories}}
            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/Model.Categories}}
          </select>
        </div>
      </div>

      <div id="observedon-field" class="field">
        <div>
          <label for="ObservedOn">Observed On</label>
        </div>
        <div>
          <input type="date" id="ObservedOn" name="observedOn" data-datepicker="datepicker" value="{{Model.Observation.ObservedOn}}" readonly />
          <i></i>
        </div>
      </div>

      <div id="projects-field" class="field">
        <div>
          <label for="Projects">Projects</label>
        </div>
        <div>
          <select id="Projects" name="projects" multiple=""></select>
        </div>
      </div>

      <div id="requires-identification-field" class="field field-checkbox">
        <div>
          <label>Needs ID</label>
        </div>
        <div>
          <div class="checkbox">
            <input type="checkbox" id="IsIdentificationRequired" name="isidentificationrequired" {{#Model.Observation.IsIdentificationRequired}}checked{{/Model.Observation.IsIdentificationRequired}} />
            <label for="IsIdentificationRequired">
              <span class="on">Yes</span><span class="bar"></span><span class="off">No</span>Needs ID
            </label>
          </div>
        </div>
      </div>


      
      <fieldset id="location-fieldset">
        <legend>Location</legend>
        <p>Enter an address, drag the pin onto the map or enter an exact co-ordinate.</p>
        <div id="address-field" class="field">
          <div>
            <label for="Address">Address</label>
          </div>
          <div>
            <input type="text" id="Address" name="address" autocomplete="off" value="{{Model.Observation.Address}}" />
          </div>
        </div>
        <div id="pin-field" class="field">
          <div>
            <label>Drag Pin</label>
          </div>
          <div id="location-pin">
            <img src="http://maps.gstatic.com/mapfiles/ms/icons/blue-dot.png" width="32" height="32" alt="" />
          </div>
        </div>
        <div id="location-map"></div>
        <div id="latitude-field" class="field field-part-one">
          <div>
            <label for="Latitude">Latitude</label>
          </div>
          <div>
            <input type="text" id="Latitude" name="latitude" value="{{Model.Observation.Latitude}}" />
          </div>
        </div>
        <div id="longitude-field" class="field field-part-two">
          <div>
            <label for="Longitude">Longitude</label>
          </div>
          <div>
            <input type="text" id="Longitude" name="longitude" value="{{Model.Observation.Longitude}}" />
          </div>
        </div>
        <div id="anonymise-location-field" class="field field-checkbox">
          <div>
            <label>Hide Exact Location</label>
          </div>
          <div>
            <div class="checkbox">
              <input type="checkbox" id="AnonymiseLocation" name="anonymiseLocation" {{#Model.Observation.AnonymiseLocation}}checked{{/Model.Observation.AnonymiseLocation}} />
              <label for="AnonymiseLocation">
                <span class="on">Yes</span><span class="bar"></span><span class="off">No</span>Show Exact Location
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </fieldset>
    <fieldset>
      <input type="button" value="Save" id="save" />
      <input type="button" value="Cancel" id="cancel" />
    </fieldset>
  </form>