<div class="window-title-bar" title="Click to collapse window">
  <span class="user-count">{{Model.Count}}</span> <span class="title-description">{{Model.TitleDescription}}</span>
</div>
<div class="window-body">
  <div>Select a person to chat to.</div>
  <ul class="online-users-list">
  </ul>
</div>