<h2>
  <span class="small-icon organisation-icon"></span>Organisation
</h2>
<div class="form-details">
  <form action="/organisations/create" method="post"  enctype="multipart/form-data">
    <fieldset>
      <legend class="hidden">Organisation Details</legend>
      {{#Model.Organisation.Id}}
      <p>Edit the organisation by changing the details below.</p>
      {{/Model.Organisation.Id}}
      {{^Model.Organisation.Id}}
      <p>Add an organisation by filling in the details below.</p>
      {{/Model.Organisation.Id}}
      <div class="field-row">
        <div class="field avatar-field">
          <div>
            <label for="avatar">Avatar</label>
          </div>
          <div>
            <div id="avatar-viewer"></div>
            <div id="avatar-upload-button" class="button avatar-upload-button">
              Change<input id="file" type="file" name="file" value="Change Avatar" />
            </div>
          </div>
        </div>
        <div id="name-field" class="field">
          <div>
            <label for="name">
              Name <span>Required</span>
            </label>
          </div>
          <div>
            <input type="text" id="Name" name="name" value="{{Model.Organisation.Name}}" />
          </div>
        </div>
        <div id="categories-field" class="field">
          <div>
            <label for="Categories">
              Categories <span>Required</span>
            </label>
          </div>
          <div>
            <select id="Categories" multiple="" name="categories" title="Select the categories of sightings your project will contain">
              <option></option>
              {{#Model.CategoriesSelectList}}
              <option value="{{Value}}" {{#Selected}}selected=""{{/Selected}}>{{Text}}</option>
              {{/Model.CategoriesSelectList}}
            </select>
            <p>Select the categories of sightings your project will contain</p>
          </div>
        </div>
      </div>
      <div class="field-row">
        <div id="website-field" class="field">
          <div>
            <label for="website">Website</label>
          </div>
          <div>
            <input type="text" id="Website" name="website" value="{{Model.Organisation.Website}}" />
            <p>Add a link to your organisation's existing website</p>
          </div>
        </div>
      </div>
      <div class="field-row">
        <div id="description-field" class="field">
          <div>
            <label for="description">
              Description
            </label>
          </div>
          <div>
            <textarea rows="4" cols="100" id="Description" name="description">{{Model.Organisation.Description}}</textarea>
            <p>Describe your organisation so that others can easily find it and (hopefully) join.</p>
          </div>
        </div>
      </div>
      <div class="field-row">
        <div class="field background-field">
          <div>
            <label for="background">Heading Background Image</label>
          </div>
          <div>
            <div id="background-viewer">
              <img src="{{Model.Organisation.Background.Image.Large.Uri}}" alt="" />
            </div>
            <div id="background-upload-button" class="button background-upload-button">
              Change<input id="file" type="file" name="file" value="Change Background" />
            </div>
            <p>Give your organisation some character by customising the heading background image.</p>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <input type="button" value="Save" id="save" />
      <input type="button" value="Cancel" id="cancel" />
    </fieldset>
  </form>
</div>