<h2>New Organisation</h2>

<form action="/organisation/create" method="post"  enctype="multipart/form-data">
  <fieldset>
    <legend>Organisation Details</legend>
    <div id="name-field" class="field">
      <div>
        <label for="name">Name</label>
      </div>
      <div>
        <input type="text" id="name" name="name" value="{{Name}}" />
      </div>
    </div>
    <div id="description-field" class="field">
      <div>
        <label for="description">Description</label>
      </div>
      <div>
        <textarea rows="4" cols="100" id="description" name="description">{{Description}}</textarea>
      </div>
    </div>
    <div id="website-field" class="field">
      <div>
        <label for="website">Website</label>
      </div>
      <div>
        <input type="text" id="website" name="website" value="{{Website}}" />
      </div>
    </div>
  </fieldset>
  <fieldset id="media-resources-fieldset">
    <legend>Avatar Image</legend>
    <div id="avatar-field" class="field">
      <div>
        <label for="Avatar">Upload an Avatar Image</label>
      </div>
      <div id="media-uploader">
        <div id="avatar-add-pane"></div>
        <div id="avatar-viewer"></div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <input type="button" value="Save" id="save" />
    <input type="button" value="Cancel" id="cancel" />
  </fieldset>
</form>