<h2><a href="/{{Model.PostAdded.Post.Id}}">{{Model.PostAdded.Post.Subject}}</a></h2>
<div>
    <div class="subject">
        {{Model.PostAdded.Post.Subject}}
    </div>
    <div class="message">
        {{Model.PostAdded.Post.Message}}
    </div>
</div>