<h3><a href="/{{Id}}">{{Name}}</a></h3>
<div class="avatar">
  {{#Avatar}}
  {{>MediaSquare200}}
  {{/Avatar}}
</div>
<ul class="sightings">
  {{#SampleObservations}}
  <li>
    <a href="/{{Id}}">
      {{#Media.MediaResource}}
      {{>MediaSquare200}}
      {{/Media.MediaResource}}
    </a>
  </li>
  {{/SampleObservations}}
  {{^SampleObservations}}
  <li class="no-sightings">No sightings yet!</li>
  {{/SampleObservations}}
</ul>
<p class="description">
  {{Description}}
</p>
<ul class="categories">
  {{#Categories}}
  <li>
    <img src="/img/category-{{.}}.png" alt="{{.}}" title="This project contains {{.}}" />
  </li>
  {{/Categories}}
</ul>
<div class="info">
  <div class="sighting-actions">
    <div class="users-badge small">
      <span class="small-icon user-icon"></span>
      <span class="count">{{UserCount}}</span>
      <span class="label">members</span>
    </div>
    <div class="sightings-badge small">
      <span class="small-icon observation-icon"></span>
      <span class="count">{{SightingCount}}</span>
      <span class="label">sightings</span>
    </div>
  </div>
</div>
<div class="actions" style="display:none;">
  <a href="/{{Id}}" class="button view-button">View</a>
</div>