<h2>
  <span class="small-icon project-icon"></span>Project
</h2>

<div class="summary" style="background-image: url({{Model.Project.Background.Image.Large.Uri}});">
  {{#Model.Project.Avatar}}
  {{>Avatar200}}
  {{/Model.Project.Avatar}}
  <div>
        <h1>{{Model.Project.Name}}</h1>
        <ul class="badges">
            <li>{{Model.Project.MemberCount}} {{Model.MemberCountDescription}}</li>
            <li>{{Model.Project.SightingCount}} {{Model.SightingCountDescription}}</li>
            <li>{{Model.Project.PostCount}} {{Model.PostCountDescription}}</li>
        </ul>
        <p>{{Model.Project.Description}}</p>
    </div>
</div>



<div class="list-details">
  <div class="tab-bar large">
    <ul class="tabs">
      <li>
        <a class="tab-button activities-tab-button {{#Model.ShowActivities}}selected{{/Model.ShowActivities}}" href="/{{Model.Project.Id}}">Timeline</a>
      </li>
      <li>
        <a class="tab-button sightings-tab-button {{#Model.ShowSightings}}selected{{/Model.ShowSightings}}" href="/{{Model.Project.Id}}/sightings">Sightings</a>
      </li>
      <li>
        <a class="tab-button posts-tab-button {{#Model.ShowPosts}}selected{{/Model.ShowPosts}}" href="/{{Model.Project.Id}}/posts">News Items</a>
      </li>
      <li>
        <a class="tab-button members-tab-button {{#Model.ShowMembers}}selected{{/Model.ShowMembers}}" href="/{{Model.Project.Id}}/members">Members</a>
      </li>
      <li>
        <a class="tab-button about-tab-button {{#Model.ShowAbout}}selected{{/Model.ShowAbout}}" href="/{{Model.Project.Id}}/about">About</a>
      </li>
    </ul>
  </div>
  <div class="list">
    <div>
      {{#Model.ShowActivities}}
      {{>ActivityList}}
      {{/Model.ShowActivities}}
      {{#Model.ShowSightings}}
      {{>SightingList}}
      {{/Model.ShowSightings}}
      {{#Model.ShowPosts}}
      {{>PostList}}
      {{/Model.ShowPosts}}
      {{#Model.ShowMembers}}
      {{>UserList}}
      {{/Model.ShowMembers}}
      {{#Model.ShowAbout}}
      {{>ProjectAbout}}
      {{/Model.ShowAbout}}
    </div>
  </div>
</div>
