<div class="explore-project-item" id="{{Id}}">
    <div class="explore-item-summary">
        <span class="explore-avatar"><img src="{{Avatar.UrlToImage}}" /></span><span class="explore-name">{{Name}}</span>
    </div>
    <div class="explore-item-details">
        <p>{{Team}}</p>
        <p>{{Website}}</p>
        <p>{{Description}}</p>
    </div>
    <div class="explore-item-contents">
        {{#Observations.PagedListItems}}
	        {{{Observations.PagedListItems.Count}}}
        {{/Observations.PagedListItems}}
        {{#Members.PagedListItems}}
	        {{{Members.PagedListItems.Count}}}
        {{/Members.PagedListItems}}
    </div>
</div>