<h2>Project</h2>
<div class="summary">
  <img src="{{Model.Project.Avatar.Files.ThumbnailLarge.RelativeUri}}" alt="{{Model.Project.Name}}" />
  <div>
    <h1>{{Model.Project.Name}}</h1>
    <p>{{Model.Project.Description}}</p>
  </div>
  <div class="tab-bar large">
    <ul class="tabs">
      <li>
        <a href="/{{Model.Project.Id}}" class="tab-button selected">Activity</a>
      </li>
      <li>
        <a href="/{{Model.Project.Id}}/observations" class="tab-button">Observations</a>
      </li>
      <li>
        <a href="/{{Model.Project.Id}}/posts" class="tab-button">Posts</a>
      </li>
      <li>
        <a href="/{{Model.Project.Id}}/members" class="tab-button">Members</a>
      </li>
      <li>
        <a href="/{{Model.Project.Id}}/about" class="tab-button">About</a>
      </li>
    </ul>
  </div>
</div>
<div class="details">
  <div id="stream">
    {{#Model.StreamItems}}
      {{>StreamList}}
    {{/Model.StreamItems}}
    <!--<h2>Latest Activity</h2>
    <ul class="stream-list">
    </ul>-->
  </div>
  <div id="about">
    <!--<h2>About</h2>-->
  </div>
  <div id="members">
    <!--<h2>Members</h2>-->
  </div>
</div> 