<div class="explore-item">
    <div class="click-to-explore">Click to Explore</div>
    <div class="explore-summary">
        <span class="explore-avatar">
            <img src="{{Avatar.Files.medium.RelativeUri}}" />
        </span>
        <span class="explore-name">{{Name}}</span>
    </div>
    <div class="explore-details">
        {{#Team}}<div class="explore-details-property">Team:</div><div class="explore-details-value">{{Team}}</div>{{/Team}}
        {{#Website}}<div class="explore-details-property">Website</div><div class="explore-details-value">{{Website}}</div>{{/Website}}
        {{#MemberCount}}<div class="explore-details-property">Members</div><div class="explore-details-value">{{MemberCount}}</div>{{/MemberCount}}
        {{#Description}}<div class="explore-details-property">Description</div><div class="explore-details-value">{{Description}}</div>{{/Description}}
    </div>
    <div class="join-project">
        <button value="Join" class="view-project-button">View Project</button>
    </div>
<!--    <div class="view-project">
        <button value="View" class="view-project-button">View this project</button>
    </div>-->
</div>