  <h2>New Project</h2>
  <form action="/projects/create" method="post"  enctype="multipart/form-data">
    <fieldset>
      <legend>Project Details</legend>
      <div id="name-field" class="field">
        <div>
          <label for="name">Name</label>
        </div>
        <div>
          <input type="text" id="name" name="name" value="{{Model.Project.Name}}" />
        </div>
      </div>
      <div id="description-field" class="field">
        <div>
          <label for="description">Description</label>
        </div>
        <div>
          <textarea rows="4" cols="100" id="description" name="description">{{Model.Project.Description}}</textarea>
        </div>
      </div>
      <div id="website-field" class="field">
        <div>
          <label for="website">Website</label>
        </div>
        <div>
          <input type="text" id="website" name="website" value="{{Model.Project.Website}}" />
        </div>
      </div>
      <div id="team-field" class="field">
        <div>
          <label for="team">Team</label>
        </div>
        <div>
          <select id="Team" name="team">
            <option></option>
            {{#Model.Teams}}
            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/Model.Teams}}
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset id="avatar-fieldset">
      <legend>Avatar Image</legend>
        <div id="avatar-viewer" class="field">
      </div>
      <div id="avatar-add-pane" class="field">
        <div id="media-resource-upload-button" class="button media-resource-upload-button">
            Change Avatar Image<input id="fileupload" type="file" name="file" multiple="" />
        </div>
      </div>
    </fieldset>
    <fieldset>
      <input type="button" value="Save" id="save" />
      <input type="button" value="Cancel" id="cancel" />
    </fieldset>
  </form>