<h2>New Project</h2>
<form action="/project/create" method="post"  enctype="multipart/form-data">
    <fieldset>
        <legend>Project Details</legend>
        <div id="name-field" class="field">
            <div>
                <label for="name">Name</label>
            </div>
            <div>
                <input type="text" id="name" name="name" value="{{Name}}" />
            </div>
        </div>
        <div id="description-field" class="field">
            <div>
                <label for="description">Description</label>
            </div>
            <div>
                <textarea rows="4" cols="100" id="description" name="description">{{Description}}</textarea>
            </div>
        </div>
        <div id="website-field" class="field">
            <div>
                <label for="website">Website</label>
            </div>
            <div>
                <input type="text" id="website" name="website" value="{{Website}}" />
            </div>
        </div>
        <div id="team-field" class="field">
            <div>
                <label for="team">Team</label>
            </div>
            <div>
                <select id="team" name="team"></select>
            </div>
        </div>
    </fieldset>
    <fieldset id="media-resources-fieldset">
        <legend>Avatar Image</legend>
        <div id="avatar-field" class="field">
            <div>
                <label for="Avatar">Upload an Avatar Image</label>
            </div>
            <div id="media-uploader">
                <div id="avatar-add-pane"></div>
                <div id="avatar-viewer"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <input type="button" value="Save" id="save" />
        <input type="button" value="Cancel" id="cancel" />
    </fieldset>
</form>