<div class="project-list">
  {{#Model.Query}}
  <div class="tab-bar tab-bar-right small">
    <ul class="tabs">
      <li>
        <div class="tab-list-button sort-button sub-menu" title="Sort by selected option">
          <span class="tab-list-selection">Most Popular</span>
          <span class="tab-list-button-arrow down-arrow-icon-blue"></span>
          <ul>
            <li>
              <a href="/projects?sort=popular">Most Popular</a>
            </li>
            <li class="new-section">
              <a href="/projects?sort=newest">Newest</a>
            </li>
            <li>
              <a href="/projects?sort=oldest">Oldest</a>
            </li>
            <li class="new-section">
              <a href="/projects?sort=a-z">Alphabetical (A-Z)</a>
            </li>
            <li>
              <a href="/projects?sort=z-a">Alphabetical (Z-A)</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  {{/Model.Query}}
  <ul class="project-items">
    {{#Model.Projects.PagedListItems}}
    <li class="project-item tile-project-details">
      {{>ProjectTileDetails}}
    </li>
    {{/Model.Projects.PagedListItems}}
  </ul>
</div>

