  <a href="/{{Id}}">
    {{#Avatar}}
    {{>MediaSquare100}}
    {{/Avatar}}
      <div>
        <p>{{Name}}</p>
      </div>
  </a>
  <div class="sub-menu-button">
    <span></span>
    <ul>
      <li>
        <a href="/{{Id}}">View Latest Activity</a>
      </li>
      <li>
        <a href="/{{Id}}/observations">View Observations</a>
      </li>
      <li>
        <a href="/{{Id}}/posts">View Posts</a>
      </li>
      <li>
        <a href="/{{Id}}/members">View Members</a>
      </li>
      <li>
        <a href="/{{Id}}/about">About this Project</a>
      </li>
      <li class="divider"></li>
      <li id="createnewobservation">
        <a href="/observations/addtoproject?id={{Id}}">Add an Observation</a>
      </li>
      <li id="createnewpost">
        <a href="/posts/create?id={{Id}}">Add a Post</a>
      </li>
      {{#Permissions.UpdateProject}}
      <li>
        <a href="/{{Id}}/update">Edit Project Details</a>
      </li>
      {{/Permissions.UpdateProject}}
      <li class="divider"></li>
      <li>
        <span class="chat-menu-item" id="chat-{{Id}}">Join Chat</span>
      </li>
    </ul>
  </div>
