<a href="/{{Id}}">
  <div class="avatar">
    {{#Avatar}}
    {{>MediaSquare100}}
    {{/Avatar}}
  </div>
  <div>
    <p>{{Name}}</p>
  </div>
</a>
<div class="sub-menu-button sub-menu">
  <span class="arrow-icon right-arrow-icon"></span>
  <ul>
    <li>
      <a href="/{{Id}}" title="View everything that is happening in this organisation">Timeline</a>
    </li>
    <li>
      <a href="/{{Id}}/posts" title="View news from this organisation">News</a>
    </li>
    <li>
      <a href="/{{Id}}/members" title="View members in this organisation">Members</a>
    </li>
    <li>
      <a href="/{{Id}}/about" title="View details about this organisation">About {{Name}}</a>
    </li>
    <li class="new-section">
      <a href="/{{Id}}/posts/create" title="Post a news item to this organisation">Add News Item</a>
    </li>
    {{#Permissions.UpdateOrganisation}}
    <li>
      <a href="/{{Id}}/update" title="Edit the details of this organisation">Edit Organisation Details</a>
    </li>
    {{/Permissions.UpdateOrganisation}}
    <li class="new-section">
      <span class="chat-menu-item" id="chat-{{Id}}" title="Chat with other organisation members">Chat</span>
    </li>
  </ul>
</div>
