  <div class="menu-group" id="default-menu-group">
      <ul>
          <li><a href="/" class="user-stream"><img alt="" src="../img/avatar-1.png"><div><p>Home <span>23</span></p></div></a></li>
          <li><a href="/favourites" class="user-favourites"><img alt="" src="../img/avatar-2.png"><div><p>Favourites</p></div></a></li>
      </ul>
  </div>
  <div class="menu-group" id="project-menu-group">
      <div class="menu-group-title">Projects</div>
      <ul id="project-menu-group-list">
          <li class="menu-group-options">
              <span>Options</span>
              <div class="sub-menu-button">
                  <span></span>
                  <ul>
                      <li><div><p><a href="/projects/create">Start a New Project</a></p></div></li>
                      <li><div><p>Find Projects to Join</p></div></li>
                  </ul>
              </div>
          </li>
      </ul>
  </div>
  <div class="menu-group" id="watch-menu-group">
      <div class="menu-group-title">Watch Lists</div>
      <ul>
          <li class="menu-group-item"><a href="/watchlists/33"><img src="/img/default-project-avatar.jpg" alt="Test"><div><p>Red Butterflies</p></div></a>
              <div class="sub-menu-button">
                  <span></span>
                  <ul>
                      <li><div><p><a href="#">View Latest Activity</a></p></div></li>
                      <li class="divider"></li>
                      <li><div><p>Edit Watch List Details</p></div></li>
                  </ul>
              </div>
          </li>
          <li class="menu-group-options">
              <span>Options</span>
              <div class="sub-menu-button">
                  <span></span>
                  <ul>
                      <li><div><p><a href="/watchlists/create">Create a New Watch List</a></p></div></li>
                  </ul>
              </div>
          </li>
      </ul>
  </div>
  <div class="menu-group" id="admin-menu-group">
      <div class="menu-group-title">Management</div>
      <ul id="admin-menu-group-list">
          <li class="menu-group-options">
              <span>Options</span>
              <div class="sub-menu-button">
                  <span></span>
                  <ul>
                      <li><div><p><a href="/teams/create">Start a New Team</a></p></div></li>
                      <li><div><p><a href="/organisations/create">Start a New Organisation</a></p></div></li>
                  </ul>
              </div>
          </li>
      </ul>
  </div>
  <!--<div class="menu-group" id="application-menu-group">
      <div class="menu-group-title">Application Management</div>
      <ul id="application-menu-group-list">
          <li class="menu-group-options">
              <span>Options</span>
              <div class="sub-menu-button">
                  <span></span>
                  <ul>
                      <li><div><p><a href="/teams/create">Start a New Team</a></p></div></li>
                        <li><div><p><a href="/organisations/create">Start a New Organisation</a></p></div></li>
                  </ul>
              </div>
          </li>
      </ul>
  </div>-->