  <a href="/{{Id}}">
    <img alt="{{Name}}" src="{{Avatar.UrlToImage}}">
      <div>
        <p>{{Name}}</p>
      </div>
  </a>
  <div class="sub-menu-button">
    <span></span>
    <ul>
      <li>
        <div>
          <p>
            <a href="/{{Id}}">View Latest Activity</a>
          </p>
        </div>
      </li>
      <li>
        <div>
          <p>
            <a href="/{{Id}}/observations">View Observations</a>
          </p>
        </div>
      </li>
      <li>
        <div>
          <p>
            <a href="/{{Id}}/posts">View Posts</a>
          </p>
        </div>
      </li>
      <li>
        <div>
          <p>
            <a href="/{{Id}}/members">View Members</a>
          </p>
        </div>
      </li>
      <li>
        <div>
          <p>
            <a href="/{{Id}}/about">About this Project</a>
          </p>
        </div>
      </li>
      <li class="divider"></li>
      <li>
        <div>
          <p>
            <a href="/observations/create?id={{Id}}">Add an Observation</a>
          </p>
        </div>
      </li>
      <li>
        <div>
          <p>
            <a href="/posts/create?id={{Id}}">Add a Post</a>
          </p>
        </div>
      </li>
      {{#Permissions.UpdateProject}}
      <li>
        <div>
          <p>
            <a href="/{{Id}}/update">Edit Project Details</a>
          </p>
        </div>
      </li>
      {{/Permissions.UpdateProject}}
      <li class="divider"></li>
      <li>
        <div class="chat-menu-item">
          <p>Join Chat</p>
        </div>
      </li>
    </ul>
  </div>
