<div id="action-menu">
  <ul>
      <li class="new-observation-option-button">
        <a href="/observations/create" class="button new-observation-button" title="<b>Add a new sighting</b> <br />A sighting is an observation of an animal/organism/plant. Add images, videos and/or audio, as well as where and when the sighting was made."><span>Add Sighting</span></a>
        <!--<div class="button more-button sub-menu-button sub-menu"><span>More options</span>
        <ul>
          <li>
            <a href="/observations/create">Add Full Sighting
            <span class="sighting-explanation">A sighting for which there is documentary evidence such as images, videos and/or audio, together with a location.</span>
            </a>
          </li>
          <li class="new-section">
            <a href="/records/create">Add Simple Sighting
            <span class="sighting-explanation">A sighting that is based on a location alone.</span>
            </a>
          </li>
        </ul>
      </div> -->       
      </li>
      <!--<li class="more-options-button"></li>-->
      <li class="new-project-option-button"><a href="/projects/create" class="button new-project-button" title="<b>Start a new project</b> <br /> A project is a place to add sightings and allow other users to join and add sightings too."><span>Add Project</span></a></li>
      <li class="new-organisation-option-button"><a href="/organisations/create" class="button new-organisation-button" title="<b>Add your organisation</b> <br /> An organisation is a way for your club, group, etc to have a presence in BowerBird. It allows you to communicate to your members and support your members' projects."><span>Add Organsation</span></a></li>
  </ul>
</div>  
<div class="menu-group" id="default-menu-group">
  <ul>
      <li class="menu-group-item"><a href="/" class="user-stream"><div class="avatar"><img alt="" src="/img/home.png" /></div><div><p>Home</p></div></a>
        <div class="sub-menu-button sub-menu">
          <span class="arrow-icon right-arrow-icon"></span>
          <ul>
            <li>
              <a href="/" title="View everything that is happening across projects, organisations and people that you follow">Timeline</a>
            </li>
            <li>
              <a href="/home/sightings" title="View sightings from projects, organisations and people that you follow">Sightings</a>
            </li>
            <li>
              <a href="/home/posts" title="View news from projects and organisations that you follow">News</a>
            </li>
            <li class="new-section">
              <a href="/timeline" title="View everything that is happening across the whole of BowerBird">All BowerBird Timeline</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-group-item"><a href="/favourites" class="user-favourites"><div class="avatar"><img alt="" src="/img/favourites.png" /></div><div><p>Favourites</p></div></a></li>
  </ul>
</div>
<div class="menu-groups">
  <ul class="menu-groups-tabs">
    <li class="menu-projects-tab active" data-menu="menu-projects">Projects</li>
    <li class="menu-userprojects-tab" data-menu="menu-userprojects">People</li>
    <li class="menu-organisations-tab" data-menu="menu-organisations">Organisations</li>
  </ul>
  <div class="menu-projects"></div>
  <div class="menu-userprojects" style="display:none;"></div>
  <div class="menu-organisations" style="display:none;"></div>
</div>