<div id="action-menu" class="">
  <ul class="">
      <li><a href="/observations/create" class="button new-observation-button" title="<b>Add a new observation</b> <br />An observation is a sighting that contains an image, video or audio, as well as location and when the sighting was made.">New Observation <span></span></a></li>
      <li><a href="/records/create" class="button new-record-button" title="<b>Add a new record</b> <br /> A record is a sighting that simply contains a location and when the sighting was made. Records are typically used in field surveys.">New Record <span></span></a></li>
      <li><a href="/projects/create" class="button new-project-button" title="<b>Add a new project</b> <br /> A project is a place to add sightings and allow other users to join and add sightings too.">New Project <span></span></a></li>
  </ul>
</div>  
<div class="menu-group" id="default-menu-group">
  <ul>
      <li class="menu-group-item"><a href="/" class="user-stream"><div class="avatar"><img alt="" src="/img/home.png" /></div><div><p>Home</p></div></a>
        <div class="sub-menu-button sub-menu">
          <span class="arrow-icon right-arrow-icon"></span>
          <ul>
            <li>
              <a href="/" title="View everything that is happening across projects, organisations and users that you follow">Timeline</a>
            </li>
            <li>
              <a href="/sightings" title="View sightings across projects, organisations and users that you follow">Sightings</a>
            </li>
            <li>
              <a href="/posts" title="View posts projects, organisations and users that you follow">Posts</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/activity" title="View everything that is happening across the whole of BowerBird">All BowerBird Timeline</a>
            </li>
          </ul>
        </div>
      </li>
      <!--<li class="menu-group-item"><a href="/{{Model.User.Id}}" class="user-profile"><div class="avatar"><img alt="" src="/img/default-team-avatar.jpg"></div><div><p>Your Profile</p></div></a></li>-->
      <!--<li class="menu-group-item"><a href="/all" class="all-bowerbird"><div class="avatar"><img alt="" src="/img/avatar-1.png" /></div><div><p>All Bowerbird Activity</p></div></a></li>-->
      <li class="menu-group-item"><a href="/favourites" class="user-favourites"><div class="avatar"><img alt="" src="/img/favourites.png" /></div><div><p>Favourites</p></div></a></li>
  </ul>
</div>
<div class="menu-projects"></div>
<div class="menu-teams"></div>
<div class="menu-organisations"></div>
