  <a href="/{{Id}}">
      <div class="avatar">
        {{#Avatar}}
        {{>MediaSquare100}}
        {{/Avatar}}
      </div>
      <div>
          <p>{{Name}}</p>
      </div>
  </a>
  <div class="sub-menu-button sub-menu">
    <span class="arrow-icon right-arrow-icon"></span>
    <ul>
      <li>
        <a href="/{{Id}}" title="View everything that is happening in this project">Timeline</a>
      </li>
      <li>
        <a href="/{{Id}}/sightings" title="View sightings in this project">Sightings</a>
      </li>
      <li>
        <a href="/{{Id}}/posts" title="View news from this project">News</a>
      </li>
      <li>
        <a href="/{{Id}}/members" title="View members in this project">Members</a>
      </li>
      <li>
        <a href="/{{Id}}/about" title="View details about this project">About {{Name}}</a>
      </li>
      {{#IsMember}}
      <li class="new-section">
        <a href="/observations/create?projectid={{Id}}" title="Add a sighting to this project">Add Sighting</a>
      </li>
      <!--<li>
        <a href="/records/create?projectid={{Id}}" title="Add a sighting that consists of a location alone to this project">Add Simple Sighting</a>
      </li>-->
      {{/IsMember}}
      {{#IsAdministrator}}
      <li>
        <a href="/{{Id}}/posts/create" title="Post a news item to this project">Add News Item</a>
      </li>
      <li>
        <a href="/{{Id}}/update" title="Edit the details of this project">Edit Project Details</a>
      </li>
      {{/IsAdministrator}}
      {{#IsMember}}
      <li class="chat-menu-item new-section">
        <span class="chat-menu-item" id="chat-{{Id}}" title="Start a chat">Chat</span>
      </li>
      {{/IsMember}}
    </ul>
  </div>
