  <a href="/{{Id}}">
    <img alt="{{Name}}" src="{{Avatar.Files.ThumbnailMedium.RelativeUri}}">
      <div>
        <p>{{Name}}</p>
      </div>
  </a>
  <div class="sub-menu-button">
    <span></span>
    <ul>
      <li>
        <a href="/{{Id}}">View Latest Activity</a>
      </li>
      <li>
        <a href="/{{Id}}/observations">View Observations</a>
      </li>
      <li>
        <a href="/{{Id}}/posts">View Posts</a>
      </li>
      <li>
        <a href="/{{Id}}/members">View Members</a>
      </li>
      <li>
        <a href="/{{Id}}/about">About this Organisation</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/posts/create?id={{Id}}">Add a Post</a>
      </li>
      <li>
        <a href="/teams/create?id={{Id}}">Add a Team</a>
      </li>
      <li>
        <a href="/{{Id}}/update">Edit Organisation Details</a>
      </li>
      <li class="divider"></li>
      <li>
        <span class="chat-menu-item" id="chat-{{Id}}">Join Chat</span>
      </li>
    </ul>
  </div>
