  <a href="/{{Id}}">
    <div class="avatar">
      {{#Avatar}}
      {{>MediaSquare100}}
      {{/Avatar}}
    </div>
      <div>
        <p>{{Name}}</p>
      </div>
  </a>
  <div class="sub-menu-button">
    <span></span>
    <ul>
      <li>
        <a href="/{{Id}}">Latest Activity</a>
      </li>
      <li>
        <a href="/{{Id}}/posts">Posts</a>
      </li>
      <li>
        <a href="/{{Id}}/members">Members</a>
      </li>
      <li>
        <a href="/{{Id}}/about">About {{Name}}</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/posts/create?id={{Id}}">New Post</a>
      </li>
      {{#Permissions.CreateProject}}
      <li>
        <a href="/projects/create?id={{Id}}">New Project</a>
      </li>
      {{/Permissions.CreateProject}}
      {{#Permissions.UpdateTeam}}
      <li>
        <a href="/{{Id}}/update">Edit Details</a>
      </li>
      {{/Permissions.UpdateTeam}}
      <li class="divider"></li>
      <li>
        <span class="chat-menu-item" id="chat-{{Id}}">Chat</span>
      </li>
    </ul>
  </div>
