<div class="field-row">
  <div class="field description-field">
    <div>
      <label for="Description">{{DescriptionName}}</label>
    </div>
    <div>
      <textarea name="description" id="description-{{DescriptionId}}" data-descriptionid="{{DescriptionId}}" name="description-{{DescriptionId}}" title="{{DescriptionTitle}}">{{DescriptionText}}</textarea>
    </div>
  </div>
</div>