<div class="images">
  <div class="preview">
    {{#PrimaryMedia.MediaResource}}
    {{>MediaConstrained480}}
    {{/PrimaryMedia.MediaResource}}
  </div>
</div>
<div class="info">
  <div class="sighting-actions">
  <div class="votes-badge"><span class="small-icon vote-icon"></span> <span class="count">{{TotalVoteScore}}</span> <span class="label">votes</span></div>
  <div class="favourites-badge"><span class="small-icon favourite-icon"></span> <span class="count">{{FavouritesCount}}</span> <span class="label">faves</span></div>
  <div class="identifications-badge"><span class="small-icon identification-icon"></span> <span class="count">{{IdentificationCount}}</span> <span class="label">ids</span></div>
  <div class="notes-badge"><span class="small-icon note-icon"></span> <span class="count">{{NoteCount}}</span> <span class="label">notes</span></div>
  <div class="comments-badge"><span class="small-icon comment-icon"></span> <span class="count">{{CommentCount}}</span> <span class="label">disc.</span></div>
  </div>
  <div class="sighting-sighted"><span>Sighted</span> {{ObservedOnDescription}}</div>
  <div class="location">
    <div class="map"></div>
  </div>
</div>