    <h3>
      <a href="/{{Id}}">
        {{Title}} <span></span>
      </a>
    </h3>
    <div>
      <div class="images">
        <div class="preview">
          {{#PrimaryMedia.MediaResource}}
          {{>MediaConstrained480}}
          {{/PrimaryMedia.MediaResource}}
          {{#PrimaryMedia.Description}}
          <div class="media-details">
            <div class="overlay"></div>
            <p class="description">{{PrimaryMedia.Description}}</p>
          </div>
          {{/PrimaryMedia.Description}}
        </div>
      </div>
      <div class="info">

        <div class="user">
          {{#User.Avatar}}
          {{>MediaSquare100}}
          {{/User.Avatar}}
          <span>{{User.Name}}</span>
        </div>

        <div class="observed">
          Sighted
          <span>{{ObservedOnDescription}}</span>
        </div>
        <div class="location">
          <div class="map"></div>
          <span>{{Address}}</span>
        </div>


        <div class="projects">
          <span>{{ProjectCount}}</span> Projects
        </div>
        <div class="comments">
          <span>{{CommentCount}}</span> Comments
        </div>
        <div class="notes">
          <span>{{NoteCount}}</span> Notes
        </div>
      </div>
    </div>
