<div class="note-info">
  {{#Descriptions}}
  <div class="sighting-note-description {{Id}}">
    <span>{{Label}}</span>
    <p>{{Text}}</p>
  </div>
  {{/Descriptions}}
  {{#TagCount}}
  <div class="sighting-note-tags">
    <span>Tagged With</span>
    {{#Tags}}
    <a href="/search?query={{.}}">{{.}}</a>
    {{/Tags}}
  </div>
  {{/TagCount}}
  {{#Comments}}
  <div class="sighting-note-comments">
    {{#User.Avatar}}
    {{>MediaSquare100}}
    {{/User.Avatar}}
    <span>{{User.Name}} says</span>
    <p>{{Comments}}</p>
  </div>
  {{/Comments}}
</div>
<div class="info">
  <div class="sighting-notes-actions">
    <div class="vote-panel">
      <div class="vote-details">
        <span class="vote-score user-vote-score{{UserVoteScore}}">{{TotalVoteScore}}</span>
        <span class="vote-label">votes</span>
      </div>
      <div class="vote-up button user-vote-score{{UserVoteScore}}">+</div>
      <div class="vote-down button user-vote-score{{UserVoteScore}}">-</div>
    </div>
    <div class="comment-panel">
      <div class="comment-details">
        <span class="comment-icon"></span>
        <span class="comment-count">0</span>
      </div>
      <a href="#" class="button add-comment-button">Discuss</a>
    </div>
  </div>
</div>