    <h3>
      <a href="/{{Id}}">
        {{Title}} <span></span>
      </a>
    </h3>
    
      <div class="images">
        <div class="preview">
          {{#PrimaryMedia.MediaResource}}
          {{>MediaConstrained480}}
          {{/PrimaryMedia.MediaResource}}
        </div>
      </div>
      <div class="info">

        <div class="user">
          {{#User.Avatar}}
          {{>MediaSquare100}}
          {{/User.Avatar}}
          <span>{{User.Name}}</span>
        </div>
        
        <div class="location">
          <div class="map"></div>
          <span>{{Address}}</span>
        </div>

       
        <div class="observed"><span class="small-icon observation-icon"></span> {{ObservedOnDescription}}</div>
        <div class="projects"><span class="small-icon project-icon"></span> {{ProjectCount}} Projects</div>
        <div class="notes"><span class="small-icon note-icon"></span> {{NoteCount}} Notes</div>        
        <div class="comments"><span class="small-icon comment-icon"></span> {{CommentCount}} Comments</div>        
        
      </div>
    
