<div class="field-row">
  <div class="field description-field">
    <div>
      <label for="Description">{{Label}}</label>
    </div>
    <div>
      <textarea name="description" class="note-description" id="description-{{Key}}" data-descriptionid="{{Key}}" name="description-{{Key}}" title="{{Description}}">{{Value}}</textarea>
    </div>
  </div>
</div>