<div class="note-info">
  <div class="sighting-note-summary">
    {{#User.Avatar}}
    {{>MediaSquare100}}
    {{/User.Avatar}}
    <div class="description">
      <span>{{User.Name}}</span>
      <abbr>{{CreatedOnDescription}}</abbr>
    </div>
  </div>
  {{#Descriptions}}
  <div class="sighting-note-description {{Id}}">
    <span>{{Label}}</span>
    <p>{{Text}}</p>
  </div>
  {{/Descriptions}}
  {{#TagCount}}
  <div class="sighting-note-tags">
    <span>Tagged With</span>
    {{#Tags}}
    <a href="/search?query={{.}}">{{.}}</a>
    {{/Tags}}
  </div>
  {{/TagCount}}
  {{#Comments}}
  <div class="sighting-note-comments">
    {{#User.Avatar}}
    {{>MediaSquare100}}
    {{/User.Avatar}}
    <span>{{User.Name}} says</span>
    <p>{{Comments}}</p>
  </div>
  {{/Comments}}
</div>
<div class="info">
  <div class="sighting-notes-actions">
    <div class="vote-panel {{#Model.AuthenticatedUser}}with-buttons{{/Model.AuthenticatedUser}}">
	    <div class="vote-details">
		    <span class="vote-score user-vote-score{{UserVoteScore}}">{{TotalVoteScore}}</span>
		    <span class="vote-label">votes</span>
	    </div>
	    {{#Model.AuthenticatedUser}}
	    <div class="vote-up button user-vote-score{{UserVoteScore}}" title="<b>Vote up</b> <br />This sighting note shows effort; the descriptions, tags and comments are meaningful, accurate and relevant <br />(Click again to undo)">+</div>
	    <div class="vote-down button user-vote-score{{UserVoteScore}}" title="<b>Vote down</b> <br />This sighting note shows no effort; the descriptions, tags and comments are not meaningful, accurate and/or relevant <br />(Click again to undo)">-</div>
	    {{/Model.AuthenticatedUser}}
    </div>
    <div class="comment-panel {{#Model.AuthenticatedUser}}with-buttons{{/Model.AuthenticatedUser}}">
      <div class="comment-details">
        <span class="comment-icon"></span>
        <span class="comment-count">0</span>
      </div>
      {{#Model.AuthenticatedUser}}
      <a href="/{{Id}}/comments/create" class="button add-comment-button" title="<b>Discuss this sighting note</b> <br />Comment about this sighting note">Discuss</a>
      {{/Model.AuthenticatedUser}}
    </div>
    <div class="edit-panel">
    {{#IsOwner}}
	    <a href="/{{SightingId}}/{{Id}}/update" class="button edit-button" title="<b>Edit this note</b> <br /> Change the details of the descriptions and tags in this note">Edit</a>
    {{/IsOwner}}
    </div>
  </div>
</div>