<div>
  <h3>
    <a href="/{{Id}}">{{Title}} <span></span></a>
  </h3>
  <div class="images">
    <div class="preview">
      {{#PrimaryMedia.MediaResource}}
      {{>MediaConstrained600}}
      {{/PrimaryMedia.MediaResource}}
      {{#PrimaryMedia.Description}}
      <div class="media-details">
        <div class="overlay"></div>
        <p class="description">{{PrimaryMedia.Description}}</p>
      </div>
      {{/PrimaryMedia.Description}}
    </div>
    {{#ShowMediaThumbnails}}
    <div class="thumbnails">
      {{#Media}}
      {{#MediaResource}}
      {{>MediaSquare200}}
      {{/MediaResource}}
      {{/Media}}
    </div>
    {{/ShowMediaThumbnails}}
  </div>
  <div class="info">
    <div class="sighting-actions">
      <div class="vote-panel">
        <div class="vote-details">
          <span class="vote-score user-vote-score{{UserVoteScore}}">{{TotalVoteScore}}</span>
          <span class="vote-label">votes</span>
        </div>
        <div class="vote-up button user-vote-score{{UserVoteScore}}" title="<b>Vote up</b> <br />This sighting shows effort; the media (images, videos, audio) are well composed; the title is descriptive, meaningful and representative of the media <br />(Click again to undo)">+</div>
        <div class="vote-down button user-vote-score{{UserVoteScore}}" title="<b>Vote down</b> <br />This sighting shows no effort; the media (images, videos, audio) is not well composed; the title is not descriptive, meaningful or representative of the media <br />(Click again to undo)">-</div>
      </div>
      <div class="favourites-panel">
        <div class="favourites-button {{#UserFavourite}}selected{{/UserFavourite}}" title="<b>Add to your favourites</b> <br />Add this sighting to your favourites<br /> (Click again to undo)"></div>
        <div class="favourites-details">
          <span class="favourites-count">{{FavouritesCount}}</span>
          <span class="favourites-label">favourites</span>
        </div>
      </div>
      <div class="identify-panel">
        <div class="identify-details">
          <span class="identify-icon"></span>
          <span class="identify-count">{{IdentificationCount}}</span>
        </div>
        <a href="/{{Id}}/createidentification" class="button add-identification-button" title="<b>Identify this sighting</b> <br />Identify the species in this sighting">Identify</a>
      </div>
      <div class="describe-panel">
        <div class="describe-details">
          <span class="describe-icon"></span>
          <span class="describe-count">{{NoteCount}}</span>
        </div>
        <a href="/{{Id}}/createnote" class="button add-note-button" title="<b>Describe this sighting</b> <br />Add a description and/or tags to this sighting">Describe</a>
      </div>
      <div class="comment-panel">
        <div class="comment-details">
          <span class="comment-icon"></span>
          <span class="comment-count">0</span>
        </div>
        <a href="/{{Id}}/createcomment" class="button add-comment-button" title="<b>Discuss this sighting</b> <br />Comment about this sighting">Discuss</a>
      </div>
    </div>
    <div class="sighting-sighted">
      Sighted
      <span>{{ObservedOnDescription}}</span>
    </div>
    <div class="location">
      <div class="map"></div>
      <span>{{Address}}</span>
      <!--<span>Latitude {{Observation.Latitude}}</span>
                  <span>Longitude {{Observation.Longitude}}</span>-->
    </div>
    {{#ProjectCount}}
    <div class="sighting-projects">
      <h4>Projects</h4>
      <ul>
        {{#Projects}}
        <li class="sighting-project">
          <a href="/{{Id}}">
            {{#Avatar}}
            {{>MediaSquare200}}
            {{/Avatar}}
          </a>
        </li>
        {{/Projects}}
      </ul>
    </div>
    {{/ProjectCount}}
  </div>
</div>