<div class="sighting-note-details">
<div class="small-sighting-details">
  {{#Sighting}}
  {{>SightingSummaryDetails}}
  {{/Sighting}}
</div>

<div class="sighting-note">
{{#SightingNote}}
  {{>SightingNoteFullDetails}}
  {{/SightingNote}}
</div>
</div>