<h2><span class="small-icon observation-icon"></span>Sightings</h2>
<div class="list-details">
  <div class="search">
    <div>
      {{>SightingSearchPanel}}
    </div>
  </div>
  <div class="list">
    <div>
      {{>SightingList}}
    </div>
  </div>
</div>
 