<h3>
  <a href="/{{Id}}">{{Title}} <span></span></a>
</h3>
<div>
  <div class="images">
    <div class="preview">
      {{#PrimaryMedia.MediaResource}}
      {{>MediaConstrained600}}
      {{/PrimaryMedia.MediaResource}}
      {{#PrimaryMedia.Description}}
      <div class="media-details">
        <div class="overlay"></div>
        <p class="description">{{PrimaryMedia.Description}}</p>
      </div>
      {{/PrimaryMedia.Description}}
    </div>
    {{#ShowMediaThumbnails}}
    <div class="thumbnails">
      {{#Media}}
      {{#MediaResource}}
      {{>MediaSquare200}}
      {{/MediaResource}}
      {{/Media}}
    </div>
    {{/ShowMediaThumbnails}}
  </div>
  <div class="info">
    <div class="user">
      {{#User.Avatar}}
      {{>MediaSquare100}}
      {{/User.Avatar}}
      <span>{{User.Name}}</span>
    </div>
    <div class="observed">
      Sighted
      <span>{{ObservedOnDescription}}</span>
    </div>
    <div class="location">
      <div class="map"></div>
      <span>{{Address}}</span>
      <!--<span>Latitude {{Observation.Latitude}}</span>
                  <span>Longitude {{Observation.Longitude}}</span>-->
    </div>
    {{#ProjectCount}}
    <div class="observation-projects">
      Projects
      <div class="observation-projects-list">
        {{#Projects}}
        <div class="observation-project">
          <a href="/{{Id}}">
            {{#Avatar}}
            {{>MediaSquare200}}
            {{/Avatar}}
          </a>
        </div>
        {{/Projects}}
      </div>
    </div>
    {{/ProjectCount}}
  </div>

 
</div>
