<div class="sighting-list">
  {{#Model.Query}}
  <div class="tab-bar tab-bar-right small">
    <ul class="tabs">
      <li>
        <div class="tab-list-button sort-button sub-menu" title="Sort by selected option">
          <span class="tab-list-selection">Latest Added</span>
          <span class="tab-list-button-arrow down-arrow-icon-blue"></span>
          <ul>
            <li>
              <a href="/{{#Model.Query.Id}}{{Id}}{{/Model.Query.Id}}{{^Model.Query.Id}}home{{/Model.Query.Id}}/sightings?view={{View}}&sort=newest">Latest Added</a>
            </li>
            <li>
              <a href="/{{#Model.Query.Id}}{{Id}}{{/Model.Query.Id}}{{^Model.Query.Id}}home{{/Model.Query.Id}}/sightings?view={{View}}&sort=oldest">Oldest Added</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/{{#Model.Query.Id}}{{Id}}{{/Model.Query.Id}}{{^Model.Query.Id}}home{{/Model.Query.Id}}/sightings?view={{View}}&sort=a-z">Alphabetical (A-Z)</a>
            </li>
            <li>
              <a href="/{{#Model.Query.Id}}{{Id}}{{/Model.Query.Id}}{{^Model.Query.Id}}home{{/Model.Query.Id}}/sightings?view={{View}}&sort=z-a">Alphabetical (Z-A)</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="tab-image-button thumbnails-view-button" href="/{{#Model.Query.Id}}{{Id}}{{/Model.Query.Id}}{{^Model.Query.Id}}home{{/Model.Query.Id}}/sightings?view=thumbnails&sort={{Sort}}" title="View as thumbnail list">Thumbnails</a>
      </li>
      <li>
        <a class="tab-image-button details-view-button" href="/{{#Model.Query.Id}}{{Id}}{{/Model.Query.Id}}{{^Model.Query.Id}}home{{/Model.Query.Id}}/sightings?view=details&sort={{Sort}}" title="View as detailed list">Details</a>
      </li>
      <li class="hidden">
        <a class="tab-image-button map-view-button" href="/{{#Model.Query.Id}}{{Id}}{{/Model.Query.Id}}{{^Model.Query.Id}}home{{/Model.Query.Id}}/sightings?view=map" title="View on a map">Map</a>
      </li>
    </ul>
  </div>
  {{/Model.Query}}
  <ul class="sighting-items">
  {{#Model.Sightings.PagedListItems}}
  {{#Model.Query.IsThumbnailsView}}
  <li class="sighting-item tile-sighting-details">
    {{>SightingTileDetails}}
  </li>
  {{/Model.Query.IsThumbnailsView}}

  {{#Model.Query.IsDetailsView}}
  <li class="sighting-item">

    {{>SightingListItem}}
  </li>
  {{/Model.Query.IsDetailsView}}

  {{#Model.Query.IsMapView}}

  {{/Model.Query.IsMapView}}

  {{/Model.Sightings.PagedListItems}}
  </ul>
</div>
