<div class="sighting-list">
  {{#Model.Query}}
  {{>TabBar}}
  {{/Model.Query}}
  <ul class="sighting-items">
  {{#Model.Sightings.PagedListItems}}
  {{#Model.Query.IsThumbnailsView}}
  <li class="sighting-item tile-sighting-details">
    {{>SightingTileDetails}}
  </li>
  {{/Model.Query.IsThumbnailsView}}

  {{#Model.Query.IsDetailsView}}
  <li class="sighting-item observation-details">
    {{>SightingFullDetails}}
  </li>
  {{/Model.Query.IsDetailsView}}

  {{#Model.Query.IsMapView}}

  {{/Model.Query.IsMapView}}

  {{/Model.Sightings.PagedListItems}}
  </ul>
</div>
