<div class="observation-details">
{{>SightingFullDetails}}
</div>

<!--{{#NoteCount}}
<div class="sighting-notes">
  <h4>Notes</h4>
  {{#Notes}}
  <div class="sighting-note">
    {{>SightingNoteFullDetails}}
  </div>
  {{/Notes}}
</div>
{{/NoteCount}}-->


<!--<div class="sighting-comments">
  <h4>Comments</h4>
  <div class="sighting-comment">
    
  </div>
</div>-->