  <div class="summary">
    <img src="{{Model.User.Avatar.UrlToImage}}" alt="" />
    <p class="description">
      {{Model.Description}} <span>{{Model.CreatedDateTimeDescription}}</span>
    </p>
  </div>
  <div class="details">
    Details go here...
  </div>
