<div class="summary">
  <img src="{{Model.User.Avatar.Files.thumbnail.RelativeUri}}" alt="{{Model.User.FirstName}}" />
  <p class="description">
    {{Model.Description}} <span>{{Model.CreatedDateTimeDescription}}</span>
  </p>
</div>
{{#Model.ObservationAdded}}
<div class="details">
  {{>ObservationStreamItem}}
</div>
{{/Model.ObservationAdded}}
{{#Model.UserJoinedGroup}}
<div class="details">
  User joined group
</div>
{{/Model.UserJoinedGroup}}