<div class="summary">
    {{#Model.Activity.User.Avatar}}
    {{>MediaSquare100}}
    {{/Model.Activity.User.Avatar}}
  <p class="description">
    {{Model.Activity.Description}} <abbr class="time-description" title="{{Model.Activity.CreatedDateTime}}">{{Model.CreatedDateTimeDescription}}</abbr>
  </p>
</div>
{{#Model.Activity.ObservationAdded}}
<div class="details">
  {{>ObservationStreamItem}}
</div>
{{/Model.Activity.ObservationAdded}}
{{#Model.Activity.PostAdded}}
<div class="details">
  {{>PostStreamItem}}
</div>
{{/Model.Activity.PostAdded}}

{{#Model.Activity.UserJoinedGroup}}
<div class="details">
  User joined group
</div>
{{/Model.Activity.UserJoinedGroup}}