  <h2>New Team</h2>
  <form action="/teams/create" method="post"  enctype="multipart/form-data">
    <fieldset>
      <legend>Team Details</legend>
      <div id="name-field" class="field">
        <div>
          <label for="name">Name</label>
        </div>
        <div>
          <input type="text" id="name" name="name" value="{{Model.Team.Name}}" />
        </div>
      </div>
      <div id="description-field" class="field">
        <div>
          <label for="description">Description</label>
        </div>
        <div>
          <textarea rows="4" cols="100" id="description" name="description">{{Model.Team.Description}}</textarea>
        </div>
      </div>
      <div id="website-field" class="field">
        <div>
          <label for="website">Website</label>
        </div>
        <div>
          <input type="text" id="website" name="website" value="{{Model.Team.Website}}" />
        </div>
      </div>
      <div id="organisation-field" class="field">
        <div>
          <label for="organisation">Organisation</label>
        </div>
        <div>
        <select id="Organisation" name="organisation">
            <option></option>
            {{#Model.Organisations}}
            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/Model.Organisations}}
        </select>
        </div>
      </div>
      <div class="field">
        <div>
          <label for="avatar">Team Avatar</label>
        </div>
        <div id="avatar-viewer" class="field avatar-field">
        </div>
        <div id="avatar-upload-button" class="field button avatar-upload-button">
          Change Avatar<input id="fileupload" type="file" name="file" multiple="" class="avatar-uploader" />
        </div>
      </div>
    </fieldset>
    <fieldset>
      <input type="button" value="Save" id="save" />
      <input type="button" value="Cancel" id="cancel" />
    </fieldset>
  </form>
