<div class="explore-item">
    <div class="explore-summary">
        <span class="explore-avatar">
            <img src="{{Avatar.Files.medium.RelativeUri}}" />
        </span>
        <span class="explore-name">{{Name}}</span>
    </div>
    <div class="explore-details">
        {{#Organisation}}<div class="explore-details-property">Organisation:</div><div class="explore-details-value">{{Organisation}}</div>{{/Organisation}}
        <div class="explore-details-property">Website</div><div class="explore-details-value">{{Website}}</div>
        <div class="explore-details-property">Description</div><div class="explore-details-value">{{Description}}</div>
        <div class="explore-details-property">Members</div><div class="explore-details-value">{{MemberCount}}</div>
    </div>
    <div class="view-team">
        <button value="View" class="view-team-button">View this team</button>
    </div>
</div>