  <div class="team-summary" id="{{Id}}">
    <h2>{{Name}}</h2>
    <p>
      {{#Avatar}}{{{Avatar.UrlToImage}}}{{/Avatar}}
    </p>
    <p>{{Description}}</p>
    <p>{{Website}}</p>
	<p>{{#Organisation}}{{{Organisation}}}{{/Organisation}}</p>
  </div>
  <!--<div class="team-contents">
    {{#Projects.PagedListItems}}
		  {{projectIndexItem}}
	  {{/Projects.PagedListItems}}
	  {{^Projects.PagedListItems}}
		  There are no projects in this team
	  {{/Projects.PagedListItems}}
	  {{#Members.PagedListItems}}
		  {{user}}
	  {{/Members.PagedListItems}}
      {{^Members.PagedListItems}}
		  There are no members in this team
	  {{/Members.PagedListItems}}
  </div>-->
