<h2>
  <span class="small-icon team-icon"></span>Team
</h2>
<div class="summary">
    {{#Model.Team.Avatar}}
    {{>MediaSquare100}}
    {{/Model.Team.Avatar}}
  <h1>{{Model.Team.Name}}</h1>
  <p>{{Model.Team.Description}}</p>
</div>
<div class="tab-bar">
  <ul class="tabs">
    <li>
      <a href="/{{Model.Team.Id}}" class="selected">Activity</a>
    </li>
    <li>
      <a href="/{{Model.Team.Id}}/posts">Posts</a>
    </li>
    <li>
      <a href="/{{Model.Team.Id}}/members">Members</a>
    </li>
    <li>
      <a href="/{{Model.Team.Id}}/about">About</a>
    </li>
  </ul>
</div>
<div class="details">
  <div id="stream">
    {{#Model.StreamItems}}
      {{>StreamList}}
    {{/Model.StreamItems}}
    <!--<h2>Latest Activity</h2>
    <ul class="stream-list">
    </ul>-->
  </div>
  <div id="about">
    <!--<h2>About</h2>-->
  </div>
  <div id="members">
    <!--<h2>Members</h2>-->
  </div>
</div> 