<div class="window-title-bar">
        <h3>Users online: <span id="users-online">{{count}}</span></h3>
    </div>
    <div class="window-body">
        <ul class="online-users">
            {{#users}}
                <li>{{> user}}</li>
            {{/users}}
        </ul>
    </div>