<h2><span class="small-icon user-icon"></span>User</h2>
<div class="summary" style="background-image: url({{Model.User.Background.Image.Large.Uri}});">
  {{#Model.User.Avatar}}
  {{>Avatar200}}
  {{/Model.User.Avatar}}
  <div>
        <h1>{{Model.User.Name}}</h1>
        <ul class="badges">
            <li>{{Model.User.SightingCount}} {{Model.SightingCountDescription}}</li>
            <li>{{Model.User.ProjectCount}} {{Model.ProjectCountDescription}}</li>
            <li>{{Model.User.OrganisationCount}} {{Model.OrganisationCountDescription}}</li>
        </ul>
        <p>{{Model.User.Description}}</p>
    </div>
</div>
<div class="list-details">
  <div class="tab-bar large">
    <ul class="tabs">
      <li>
        <a class="tab-button activities-tab-button {{#Model.ShowActivities}}selected{{/Model.ShowActivities}}" href="/{{Model.User.Id}}">Timeline</a>
      </li>
      <li>
        <a class="tab-button sightings-tab-button {{#Model.ShowSightings}}selected{{/Model.ShowSightings}}" href="/{{Model.User.Id}}/sightings">Sightings</a>
      </li>
      <li>
        <a class="tab-button about-tab-button {{#Model.ShowAbout}}selected{{/Model.ShowAbout}}" href="/{{Model.User.Id}}/about">About</a>
      </li>
    </ul>
  </div>
  <div class="search">
    <div>
      {{#Model.ShowSightings}}
      {{>SightingSearchPanel}}
      {{/Model.ShowSightings}}
    </div>
  </div>
  <div class="list">
    <div>
      {{#Model.ShowActivities}}
      {{>ActivityList}}
      {{/Model.ShowActivities}}
      {{#Model.ShowSightings}}
      {{>SightingList}}
      {{/Model.ShowSightings}}
      {{#Model.ShowAbout}}
      {{>UserAbout}}
      {{/Model.ShowAbout}}
    </div>
  </div>
</div>
