<span class="user-avatar">
    <img src="{{avatar.urlToImage}}" alt="{{avatar.altTag}}" width="16px;" height="16px;" />
</span>
<span class="user-name" id="{{id}}">{{name}}</span>
<span class="user-chat-icon" id="user-{{id}}">&nbsp;&nbsp;&nbsp;&nbsp;</span>