  <a>
    {{#Model.User.Avatar}}
    {{>MediaSquare100}}
    {{/Model.User.Avatar}}
      <div>
        <p class="user-name">{{Model.User.Name}}</p>
      </div>
  </a>
  <div class="sub-menu-button">
    <span></span>
    <ul>
      <li>
        <a href="/{{Model.User.Id}}">Latest Activity</a>
      </li>
      <li>
        <a href="/{{Model.User.Id}}/sightings">Sightings</a>
      </li>
      <li>
        <a href="/{{Model.User.Id}}/posts">Posts</a>
      </li>
      <li>
        <a href="/{{Model.User.Id}}/about">About {{Model.User.Name}}</a>
      </li>
      {{#Model.ShowChat}}
      <li class="divider chat-menu"></li>
      <li class="chat-menu">
        <span class="chat-menu-item" id="chat-{{Model.User.Id}}">Chat</span>
      </li>
      {{/Model.ShowChat}}
    </ul>
  </div>
