<!--<div class="embed-video-dialog">
    <div class="embed-video-title">Add a video from Youtube or Vimeo</div>
    <div class="embed-video-section" id="embed-video-link">
        <div class="input-row">
            <span class="input-label">
                Url Link:
            </span>
            <span class="input-field">
                <input id="embed-video-link-input"></input>
            </span>
        </div>
    </div>
    <div class="embed-video-section" id="embed-video-preview">
        <div class="embed-video-player" id="embed-video-player">
            
        </div>
        <div class="input-row">
            <span class="input-label">Description:</span>
            <span class="input-field">
                <textarea id="embed-video-description-input"></textarea>
            </span>
        </div>
    </div>
    <div class="embed-video-buttons">
        <button class="button-left" id="embed-video-clear-button">Clear</button>    
        <button class="button-left" id="embed-video-cancel-button">Cancel</button>
        <button class="button-right" id="embed-video-next-button">Next &raquo;</button>    
    </div>
</div>-->
    <!--<div id="modal-dialog2">-->
        <div class="window" id="add-videos-window">
            <div class="window-title-bar">
            {{ProviderName}} Video
            <span class="close" title="Close"></span>
            </div>
            <div class="window-body">
                <div class="form video-form">
                <form action="">
                    <fieldset>
                      <legend class="hidden">{{ProviderName}} Video Details</legend>

                      <div id="video-uri-field" class="field">
                        <div>
                          <label for="VideoUri">{{ProviderName}} Link</label>
                        </div>
                        <div>
                          <input type="text" id="VideoUri" name="videouri" value="" placeholder="{{ProviderUri}}" />
                        </div>
                      </div>
                      <div id="video-preview-field" class="field">
                        <div>
                          <label>Preview</label>
                        </div>
                        <div>
                          <div class="video-preview"> </div>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <input type="button" value="Save" class="save-button" />
                      <input type="button" value="Cancel" class="cancel-button" />
                    </fieldset>
                    </form>
                    </div>
            </div>
        </div>
    <!--</div>-->